<footer class="page__footer footer">
	<div class="footer__wrp">
		<div class="footer__grid">
			<div class="footer__nav">
				<div class="footer__nav-col">
					<a href="index.html" class="footer__nav-heading">
						Женщинам
					</a>
					
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Одежда</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Обувь</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Сумки</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Аксессуары</a>
						</li>
					</ul>
				</div>
				
				<div class="footer__nav-col">
					<a href="index_men.html" class="footer__nav-heading">
						Мужчинам
					</a>
					
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Одежда</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Обувь</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Сумки</a>
						</li>
						
						<li class="footer__nav-item">
							<a href="catalog.html" class="footer__nav-link">Аксессуары</a>
						</li>
					</ul>
				</div>
				
				<div class="footer__nav-col footer__nav-col_wide">
					<a href="index.html" class="footer__nav-heading">
						DressUp — магазин вашего стиля
					</a>
					
					<div class="footer__nav-grid">
						<ul class="footer__nav-list">
							<li class="footer__nav-item">
								<a href="catalog.html" class="footer__nav-link">Общая информация</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="delivery_and_payment.html?tab=payment" class="footer__nav-link">Способ оплаты</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="delivery_and_payment.html?tab=delivery" class="footer__nav-link">Доставка</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="return.html" class="footer__nav-link">Возвраты</a>
							</li>
						</ul>
						
						<ul class="footer__nav-list">
							<li class="footer__nav-item">
								<a href="about.html" class="footer__nav-link">О нас</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="contacts.html" class="footer__nav-link">Магазины</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="catalog.html" class="footer__nav-link">Вакансии</a>
							</li>
							
							<li class="footer__nav-item">
								<a href="privacy-policy.html" class="footer__nav-link">Наша политика</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			
			<div class="footer__contacts">
				<div class="footer__contacts-info">
					<div class="footer__contacts-box">
						<a href="tel: +78001000000" class="footer__contacts-phone heading heading_semibold heading_type_h3">8 800 100-00-00</a>
						
						<div class="footer__contacts-hours caption caption_size_s">
							с 10:00 до 19:00
						</div>
						
						<div class="footer__contacts-mail caption caption_size_s">
							info@dressup.com
						</div>
					</div>
					
					<div class="footer__contacts-box">
						<div class="footer__contacts-social social">
							<a href="https://www.facebook.com" target="_blank" class="social__link social__link_fb">
								<svg class="social__img svg svg_social svg_social-fb"><use xlink:href="#icon-fb"></use></svg>
							</a>
							<a href="https://www.vk.com" target="_blank" class="social__link social__link_vk">
								<svg class="social__img svg svg_social svg_social-vk"><use xlink:href="#icon-vk"></use></svg>
							</a>
							<a href="https://www.twitter.com" target="_blank" class="social__link social__link_tw">
								<svg class="social__img svg svg_social svg_social-tw"><use xlink:href="#icon-tw"></use></svg>
							</a>
						</div>
						
						<div class="footer__contacts-copyright caption caption_size_s">
							© 2020 DressUp
						</div>
					</div>
				</div>
				
				<div class="footer__contacts-subscribe subscribe">
					<div class="subscribe__wrp">
						<div class="subscribe__heading">
							Подпишитесь на&nbsp;новости и&nbsp;получите промокод на&nbsp;1000&nbsp;руб.
						</div>
												
						<form method="POST" action="subscribe.php" 
						      class="subscribe__form js-form-required">
							<div class="subscribe__field js-form-field">
								<input type="text" name="email" 
								       class="subscribe__input js-form-input" 
								       placeholder="Ваша эл. почта" data-required="email"
								       autocomplete="off">
								
								<div class="subscribe__error">Неверный формат!</div>
							</div>
							
							<button type="submit" class="subscribe__submit">
								<svg class="subscribe__img svg svg_arrow"><use xlink:href="#icon-arrow"></use></svg>
							</button>
							
							<div class="subscribe__result subscribe__result_success">
								Отправлено!
							</div>
							
							<div class="subscribe__result subscribe__result_fail">
								Ошибка отправки
							</div>
						</form>
						
						<div class="subscribe__caption">
							Подписываясь на&nbsp;рассылку, вы&nbsp;принимаете <a href="/privacy-policy.html" target="_blank" class="subscribe__link">политику конфиденциальности</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
	
