<header class="page__header header">
	<div class="header__top">
		<div class="header__wrp grid grid_h_between grid_v_center">
			<a href="#modal-call" class="header__top-call caption caption_size_s js-popup-link">
				Заказать обратный звонок
			</a>
			
			<nav class="header__top-nav nav nav_min">
				<ul class="nav__list">					
					<li class="nav__item">
						<a href="about.html" class="nav__link">О компании</a>
					</li>
					
					<li class="nav__item">
						<a href="delivery_and_payment.html" class="nav__link">Оплата и доставка</a>
					</li>
					
					<li class="nav__item">
						<a href="status.html" class="nav__link">Статус заказа</a>
					</li>
					
					<li class="nav__item">
						<a href="contacts.html" class="nav__link">Магазины</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="header__shadow">
		<div class="header__middle">
			<div class="header__wrp grid grid_h_between grid_v_center">
				<div class="header__burger">
					<button class="header__burger-button js-burger-button">
						<svg class="header__burger-icon header__burger-icon_burger svg svg_burger"><use xlink:href="#icon-burger"></use></svg>
						<svg class="header__burger-icon header__burger-icon_close svg svg_close"><use xlink:href="#icon-close"></use></svg>
					</button>
				</div>
				
				<div class="header__contacts grid grid_v_center">
					<a href="tel: +78001000000" class="header__contacts-phone heading heading_semibold heading_type_h2">8 800 100-00-00</a>
					
					<div class="header__contacts-hours caption caption_size_s">
						с 10:00 до 19:00
					</div>
				</div>
				
				<a href="/" class="header__logo">
					<img class="header__logo-img" src="images/logo.png" 
					     srcset="images/logo@2x.png 2x,
								 images/logo@3x.png 3x" alt="logo" >
				</a>
				
				<div class="header__icons grid grid_h_end grid_v_center">
					<a class="header__icons-item" href="favourite.html">
						<svg class="header__icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
						<span class="header__icons-text caption caption_size_s">12</span>
					</a>
					
					<a class="header__icons-item" href="cart.html">
						<svg class="header__icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
						<span class="header__icons-text caption caption_size_s">0</span>
					</a>
				</div>
				
				
			</div>
		</div>
		
		<div class="header__bottom">
			<div class="header__wrp grid grid_h_between grid_v_center">
				<div class="header__bottom-nav nav nav_gender">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="index.html" class="nav__link @@if (context.gender == 'women') {active}">Женщинам</a>
						</li>
						
						<li class="nav__item">
							<a href="index_men.html" class="nav__link @@if (context.gender == 'men') {active}">Мужчинам</a>
						</li>
					</ul>
				</div>
				
				<div class="header__bottom-nav nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="catalog.html" class="nav__link">Новинки</a>
						</li>
						
						<li class="nav__item">
							<a href="catalog.html" class="nav__link">Одежда</a>
						</li>
						
						<li class="nav__item">
							<a href="catalog.html" class="nav__link">Обувь</a>
						</li>
						
						<li class="nav__item">
							<a href="catalog.html" class="nav__link">Спорт</a>
						</li>
						
						<li class="nav__item">
							<a href="catalog.html" class="nav__link">Аксессуары</a>
						</li>
						
						<li class="nav__item">
							<a href="catalog.html" class="nav__link nav__link-promo">Распродажа</a>
						</li>
					</ul>
				</div>
				
				<div class="header__bottom-search search">
					<form action="search.html" class="search__form">
						<input type="search" name="search" class="search__input" placeholder="Найти в каталоге">
						<button type="submit" class="search__submit">
							<svg class="search__submit-img svg svg_search"><use xlink:href="#icon-search"></use></svg>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
</header>





<div class="page__menu menu js-menu">
	<div class="menu__wrp">
		<div class="menu__grid grid grid_v_start">
			<div class="menu__col menu__col_main">
				<div class="menu__search search">
					<form action="search.html" class="search__form">
						<input type="search" name="search" class="search__input" placeholder="Найти в каталоге">
						<button type="submit" class="search__submit">
							<svg class="search__submit-img svg svg_search"><use xlink:href="#icon-search"></use></svg>
						</button>
					</form>
				</div>
				
				<div class="menu__nav nav nav_gender">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="index.html" class="nav__link @@if (context.gender == 'women') {active}">Женщинам</a>
						</li>
						
						<li class="nav__item">
							<a href="index_men.html" class="nav__link @@if (context.gender == 'men') {active}">Мужчинам</a>
						</li>
					</ul>
				</div>
				
				<div class="menu__sidebar sidebar">
					<div class="sidebar__category">
						<div class="sidebar__category-block js-category-block">
							<a href="catalog.html" class="sidebar__category-heading js-category-heading">
								Одежда
							</a>
							
							<div class="sidebar__category-list open js-category-list">
								<a href="catalog.html" class="sidebar__category-link active">
									Все
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Трикотаж
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Кардиганы и джемперы
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Рубашки и блузы
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Топы
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Базовые модели
								</a>
							</div>
						</div>
						
						<div class="sidebar__category-block js-category-block">
							<a href="catalog.html" class="sidebar__category-heading js-category-heading">
								Обувь
							</a>
							
							<div class="sidebar__category-list js-category-list">
								<a href="catalog.html" class="sidebar__category-link active">
									Все
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Туфли
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Кроссовки
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Сандали и босоножки
								</a>
							</div>
						</div>
						
						<div class="sidebar__category-block js-category-block">
							<a href="catalog.html" class="sidebar__category-heading js-category-heading">
								Сумки
							</a>
							
							<div class="sidebar__category-list js-category-list">
								<a href="catalog.html" class="sidebar__category-link active">
									Все
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Спортивные сумки
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Клатчи
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Поясные сумки
								</a>
							</div>
						</div>
						
						<div class="sidebar__category-block js-category-block">
							<a href="catalog.html" class="sidebar__category-heading js-category-heading">
								Аксессуары
							</a>
							
							<div class="sidebar__category-list js-category-list">
								<a href="catalog.html" class="sidebar__category-link active">
									Все
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Часы
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Кепки
								</a>
								
								<a href="catalog.html" class="sidebar__category-link">
									Перчатки
								</a>
							</div>
						</div>
						
						<div class="sidebar__category-block js-category-block">
							<a href="catalog.html" class="sidebar__category-heading sidebar__category-heading_sale js-category-heading">
								Распродажа
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="menu__col menu__col_sec">
				<div class="menu__sidebar sidebar">
					<div class="sidebar__category">
						<div class="sidebar__category-block">
							<a href="about.html" class="sidebar__category-heading">
								О компании
							</a>
						</div>
						
						<div class="sidebar__category-block">
							<a href="delivery_and_payment.html" class="sidebar__category-heading">
								Оплата и доставка
							</a>
						</div>
						
						<div class="sidebar__category-block">
							<a href="status.html" class="sidebar__category-heading">
								Статус заказа
							</a>
						</div>
						
						<div class="sidebar__category-block">
							<a href="contacts.html" class="sidebar__category-heading">
								Магазины
							</a>
						</div>
					</div>
				</div>
				
				<a href="#modal-call" class="menu__call caption caption_size_s js-popup-link">
					Заказать обратный звонок
				</a>
				
				<div class="menu__contacts">
					<a href="tel: +78001000000" class="menu__contacts-phone heading heading_semibold heading_type_h3">8 800 100-00-00</a>
					
					<div class="menu__contacts-hours caption caption_size_s">
						с 10:00 до 19:00
					</div>
					
					<div class="menu__contacts-mail caption caption_size_s">
						info@dressup.com
					</div>
				</div>
				
				<div class="menu__social social">
					<a href="https://www.facebook.com" target="_blank" class="social__link social__link_fb">
						<svg class="social__img svg svg_social svg_social-fb"><use xlink:href="#icon-fb"></use></svg>
					</a>
					<a href="https://www.vk.com" target="_blank" class="social__link social__link_vk">
						<svg class="social__img svg svg_social svg_social-vk"><use xlink:href="#icon-vk"></use></svg>
					</a>
					<a href="https://www.twitter.com" target="_blank" class="social__link social__link_tw">
						<svg class="social__img svg svg_social svg_social-tw"><use xlink:href="#icon-tw"></use></svg>
					</a>
				</div>
				
				<div class="menu__copyright caption caption_size_s">
					© 2020 DressUp
				</div>
			</div>
		</div>
		
	</div>
</div>

