<div id="modal-call" class="popup js-popup">
	<div class="popup__wrp">
		<div class="popup__header">
			<div class="popup__heading caption caption_size_xl">
				Обратная связь
			</div>
		</div>
		
		<div class="popup__body">
			<form action="" class="popup__form form-data js-form-required" data-success="#modal-call-success">
				<div class="form-data__fail caption caption_size_s">
					Произошла ошибка, <a href="javascript:location.reload();" class="form-data__fail-link">перезагрузите страницу</a> и попробуйте снова.
				</div>
				
				<label class="form-data__label js-form-field">
					<input type="text" name="name"
					       class="form-data__input js-form-input" 
					       data-required="username">
					
					<span class="form-data__text caption caption_size_xs">Ваше имя</span>
					
					<div class="form-data__error">Неверный формат!</div>
				</label>
				
				<label class="form-data__label js-form-field">
					<input type="text" name="phone" 
					       class="form-data__input js-form-input"
					       data-required="phone">
					
					<span class="form-data__text caption caption_size_xs">Телефон</span>
					
					<div class="form-data__error">Неверный формат!</div>
				</label>
				
				<label class="form-data__label js-form-field">
					<textarea type="text" name="comment" class="form-data__textarea js-form-textarea"></textarea>
					<span class="form-data__text caption caption_size_xs">Комментарий</span>
				</label>
				
				<div class="form-data__caption caption caption_size_xs">
					Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;принимаете условия <br />
					<a href="privacy-polisy.html" class="form-data__link">политики конфиденциальности</a>
				</div>
				
				<button type="submit" class="form-data__button button button_theme_black button_size_g">
					Отправить
				</button>
			</form>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>

<div id="modal-one-click" class="popup js-popup">
	<div class="popup__wrp">
		<div class="popup__header">
			<div class="popup__heading caption caption_size_xl">
				Купить в 1 клик
			</div>
		</div>
		
		<div class="popup__body">
			<form action="" method="" class="popup__form form-data js-form-required" data-success="#modal-one-click-success">
				<div class="form-data__fail caption caption_size_s">
					Произошла ошибка, <a href="javascript:location.reload();" class="form-data__fail-link">перезагрузите страницу</a> и попробуйте снова.
				</div>
				
				<label class="form-data__label js-form-field">
					<input type="text" name="name" 
					       class="form-data__input js-form-input" 
					       data-required="username">
					
					<span class="form-data__text caption caption_size_xs">Ваше имя</span>
					
					<div class="form-data__error">Неверный формат!</div>
				</label>
				
				<label class="form-data__label js-form-field">
					<input type="text" name="phone" 
					       class="form-data__input js-form-input"
					       data-required="phone">
					
					<span class="form-data__text caption caption_size_xs">Телефон</span>
					
					<div class="form-data__error">Неверный формат!</div>
				</label>
				
				<div class="form-data__caption caption caption_size_xs">
					Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, вы&nbsp;принимаете условия <br />
					<a href="privacy-polisy.html" class="form-data__link">политики конфиденциальности</a>
				</div>
				
				<button type="submit" class="form-data__button button button_theme_black button_size_g">
					Отправить
				</button>
			</form>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>

<div id="modal-product-info" class="popup js-popup">
	<div class="popup__wrp">
		<div class="popup__body">
			<div class="article">
				<p>55% лён, 45% хлопок, машинная стирка</p>
			</div>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>

<div id="modal-size" class="popup popup_size_l js-popup">
	<div class="popup__wrp">
		<div class="popup__tabs tabs js-tabs">
			<div class="tabs__nav caption caption_size_m grid grid_h_center">
				<div class="tabs__nav-item active js-tabs-nav" data-nav-id="1">
					Одежда
				</div>
				
				<div class="tabs__nav-item js-tabs-nav" data-nav-id="2">
					Обувь
				</div>
			</div>
			
			<div class="tabs__body">
				<div class="tabs__content active js-tabs-content js-tabs" data-content-id="1">
					<div class="tabs__text article">
						<p>Обратите, внимание, что некоторые товары имеют универсальный размер, например 40&ndash;44, и&nbsp;подходят большинству девушек.</p>
					</div>
					
					<img src="images/size/size.png" alt="size" class="tabs__img" width="191" height="377">
					
					<div class="tabs__table">
						<div class="tabs__table-head heading heading_semibold heading_type_h3">
							<div class="tabs__table-row tabs__table-row_head">
								<div class="tabs__table-data">
									Российский размер
								</div>
								
								<div class="tabs__table-data">
									38
								</div>
								
								<div class="tabs__table-data">
									40
								</div>
								
								<div class="tabs__table-data">
									42
								</div>
								
								<div class="tabs__table-data">
									44
								</div>
								
								<div class="tabs__table-data">
									46
								</div>
								
								<div class="tabs__table-data">
									48
								</div>
								
								<div class="tabs__table-data">
									50
								</div>
							</div>
						</div>
						
						<div class="tabs__table-body caption caption_size_m">
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									Международный размер
								</div>
								
								<div class="tabs__table-data">
									XXS
								</div>
								
								<div class="tabs__table-data">
									XS
								</div>
								
								<div class="tabs__table-data">
									S
								</div>
								
								<div class="tabs__table-data">
									M
								</div>
								
								<div class="tabs__table-data">
									L
								</div>
								
								<div class="tabs__table-data">
									XL
								</div>
								
								<div class="tabs__table-data">
									XXL
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									Грудь, см
								</div>
								
								<div class="tabs__table-data">
									76-80
								</div>
								
								<div class="tabs__table-data">
									80-84
								</div>
								
								<div class="tabs__table-data">
									84-88
								</div>
								
								<div class="tabs__table-data">
									88-92
								</div>
								
								<div class="tabs__table-data">
									92-96
								</div>
								
								<div class="tabs__table-data">
									96-100
								</div>
								
								<div class="tabs__table-data">
									100-104
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									Талия, см
								</div>
								
								<div class="tabs__table-data">
									56-60
								</div>
								
								<div class="tabs__table-data">
									60-64
								</div>
								
								<div class="tabs__table-data">
									64-68
								</div>
								
								<div class="tabs__table-data">
									68-72
								</div>
								
								<div class="tabs__table-data">
									72-76
								</div>
								
								<div class="tabs__table-data">
									76-80
								</div>
								
								<div class="tabs__table-data">
									80-84
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									Бедра, см
								</div>
								
								<div class="tabs__table-data">
									86-90
								</div>
								
								<div class="tabs__table-data">
									90-94
								</div>
								
								<div class="tabs__table-data">
									94-98
								</div>
								
								<div class="tabs__table-data">
									98-102
								</div>
								
								<div class="tabs__table-data">
									102-106
								</div>
								
								<div class="tabs__table-data">
									106-110
								</div>
								
								<div class="tabs__table-data">
									110-114
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tabs__content js-tabs-content js-tabs" data-content-id="2">
					<div class="tabs__text article">
						<p>Для большей уверенности вы&nbsp;можете сравнить размер с&nbsp;длиной ваше стопы. Поставье стопу на&nbsp;лист бумаги и&nbsp;обведите карандашом. Измерьте линейкой или сантиметром расстояние между крайними точками&nbsp;&mdash; это длина вашей стопы. Измерьте обе ноги и&nbsp;выберете большее значение.</p>	
					</div>
					
					<img src="images/size/foot.png" alt="size" class="tabs__img" width="112" height="311">
					
					<div class="tabs__table tabs__table_size_s">
						<div class="tabs__table-head heading heading_semibold heading_type_h3">
							<div class="tabs__table-row tabs__table-row_head">
								<div class="tabs__table-data">
									Сантиметры
								</div>
								
								<div class="tabs__table-data">
									22,5
								</div>
								
								<div class="tabs__table-data">
									23,5
								</div>
								
								<div class="tabs__table-data">
									24
								</div>
								
								<div class="tabs__table-data">
									24,5
								</div>
								
								<div class="tabs__table-data">
									25
								</div>
								
								<div class="tabs__table-data">
									25,5
								</div>
								
								<div class="tabs__table-data">
									26,5
								</div>
							</div>
						</div>
						
						<div class="tabs__table-body caption caption_size_m">
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									UK, размер
								</div>
								
								<div class="tabs__table-data">
									
								</div>
								
								<div class="tabs__table-data">
									4
								</div>
								
								<div class="tabs__table-data">
									5
								</div>
								
								<div class="tabs__table-data">
									6
								</div>
								
								<div class="tabs__table-data">
									7
								</div>
								
								<div class="tabs__table-data">
									8
								</div>
								
								<div class="tabs__table-data">
									
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									EU, размер
								</div>
								
								<div class="tabs__table-data">
									
								</div>
								
								<div class="tabs__table-data">
									36
								</div>
								
								<div class="tabs__table-data">
									37
								</div>
								
								<div class="tabs__table-data">
									38
								</div>
								
								<div class="tabs__table-data">
									39
								</div>
								
								<div class="tabs__table-data">
									40
								</div>
								
								<div class="tabs__table-data">
									
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data">
									US, размер
								</div>
								
								<div class="tabs__table-data">
									
								</div>
								
								<div class="tabs__table-data">
									6
								</div>
								
								<div class="tabs__table-data">
									7
								</div>
								
								<div class="tabs__table-data">
									8
								</div>
								
								<div class="tabs__table-data">
									9
								</div>
								
								<div class="tabs__table-data">
									10
								</div>
								
								<div class="tabs__table-data">
									
								</div>
							</div>
							
							<div class="tabs__table-row">
								<div class="tabs__table-data tabs__table-data_blue">
									RU, размер
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									35
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									36
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									37
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									38
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									39
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									40
								</div>
								
								<div class="tabs__table-data tabs__table-data_blue">
									41
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>

<div id="modal-call-success" class="popup success js-popup">
	<div class="popup__wrp">
		<div class="success__body">
			<div class="success__title caption caption_size_xl">
				Спасибо за обращение!
			</div>
			
			<div class="success__caption caption caption_size_m">
				Мы свяжемся с вами в ближайшее время.
			</div>
			
			<button type="submit" class="success__button button button_theme_black button_size_s js-popup-close">
				Закрыть
			</button>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>

<div id="modal-one-click-success" class="popup success js-popup">
	<div class="popup__wrp">		
		<div class="success__body">
			<div class="success__title caption caption_size_xl">
				Спасибо!
			</div>
			
			<div class="success__caption caption caption_size_m">
				Заявка успешно отправлена. <br />
				Наш менеджер скоро свяжется с вами.
			</div>
			
			<button class="success__button button button_theme_black button_size_s js-popup-close">
				Закрыть
			</button>
		</div>
	</div>
	
	<div class="popup__close js-popup-close" title="Close">
		<svg class="popup__close-icon svg svg_close">
			<use xlink:href="#icon-close"></use>
		</svg>
	</div>
</div>
