<div class="page__svg">
	<svg aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<symbol id="" viewBox="0 0 25 25" preserveAspectRatio="xMidYMid meet">
		
		</symbol>
		
<!--		bag-->
		<symbol id="icon-bag" viewBox="0 0 15 20" preserveAspectRatio="xMidYMid meet">
			<path fill-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linejoin="round" d="M10.53 18.524H4.705a2.974 2.974 0 0 1-2.965-2.86v-.052l-.476-9.636c0-.158.106-.317.264-.317h12.177c.159 0 .265.106.265.317l-.477 9.636c0 1.588-1.323 2.912-2.965 2.912.053 0 0 0 0 0z"/>
			<path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="2" d="M4.706 5.659l.053-1.694c.106-1.641 1.27-2.7 2.859-2.7 1.64 0 2.858 1.111 2.911 2.7.053.211 0 1.694 0 1.694"/>
		</symbol>
		
<!--		heart-->
		<symbol id="icon-heart" viewBox="0 0 20 19" preserveAspectRatio="xMidYMid meet">
			<path fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.23 8.93a5.452 5.452 0 0 0-1.332-7.096 4.385 4.385 0 0 0-6.418 1.445c-.19.346-.351.707-.48 1.08a6.952 6.952 0 0 0-.48-1.08 4.385 4.385 0 0 0-6.418-1.445 5.452 5.452 0 0 0-1.331 7.095C2.4 9.98 10 17.776 10 17.776s7.6-7.797 8.23-8.847z"/>
		</symbol>
		
<!--		right-->
		<symbol id="icon-right" viewBox="0 0 13.57 9" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" fill-rule="evenodd" d="M13.57,4.49a.58.58,0,0,0-.15-.41L10,.17a.5.5,0,1,0-.75.66L12,4H.5a.5.5,0,0,0,0,1H12L9.26,8.17a.5.5,0,1,0,.76.65l3.39-3.95,0-.06a.49.49,0,0,0,.12-.32Z"/>
		</symbol>
		
<!--		fb-->
		<symbol id="icon-fb" viewBox="0 0 9 18" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" fill-rule="evenodd" d="M6 6h3l-.375 3H6v9H2.11V9H0V6h2.11V3.984c0-1.312.327-2.304.984-2.976C3.75.336 4.844 0 6.375 0H9v3H7.406c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V6z"/>
		</symbol>
		
<!--		vk-->
		<symbol id="icon-vk" viewBox="0 0 18 11" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" fill-rule="nonzero" d="M17.905 9.29a1.235 1.235 0 0 0-.061-.118c-.313-.564-.91-1.255-1.79-2.075l-.02-.019-.008-.009-.01-.01h-.01c-.4-.38-.652-.638-.758-.769-.194-.25-.238-.504-.132-.76.075-.194.357-.604.844-1.23.256-.332.459-.597.609-.798 1.08-1.439 1.55-2.359 1.406-2.76L17.919.65c-.038-.056-.135-.108-.29-.155-.157-.047-.357-.054-.6-.023l-2.7.019a.35.35 0 0 0-.187.004c-.081.02-.122.028-.122.028l-.047.024-.037.028a.417.417 0 0 0-.103.099.644.644 0 0 0-.094.164 15.337 15.337 0 0 1-1.003 2.112 20 20 0 0 1-.637 1.009 4.854 4.854 0 0 1-.487.629c-.132.134-.25.242-.357.323-.106.082-.187.116-.243.104a6.858 6.858 0 0 1-.16-.038.624.624 0 0 1-.21-.23 1.031 1.031 0 0 1-.108-.366A4.042 4.042 0 0 1 10.5 4a7.954 7.954 0 0 1 .005-.45c.006-.195.01-.326.01-.395 0-.238.004-.496.013-.774.01-.279.017-.5.024-.662.006-.163.009-.335.009-.516 0-.182-.011-.324-.033-.427a1.463 1.463 0 0 0-.098-.3.506.506 0 0 0-.192-.226 1.082 1.082 0 0 0-.314-.127C9.594.048 9.172.008 8.66.001 7.498-.01 6.75.064 6.42.227c-.131.068-.25.162-.356.281-.113.138-.128.213-.047.225.375.057.64.191.796.404l.057.113c.043.081.087.225.13.432.045.206.073.434.085.685.031.456.031.848 0 1.173a14 14 0 0 1-.089.76 1.524 1.524 0 0 1-.239.648.161.161 0 0 1-.047.047.701.701 0 0 1-.253.047c-.087 0-.193-.044-.318-.132a2.25 2.25 0 0 1-.39-.361 4.83 4.83 0 0 1-.454-.643c-.169-.275-.344-.6-.525-.976l-.15-.273a23.43 23.43 0 0 1-.384-.764 14.761 14.761 0 0 1-.43-.972.619.619 0 0 0-.226-.3L3.533.592a.641.641 0 0 0-.15-.08.993.993 0 0 0-.215-.06L.6.47C.338.47.16.53.066.65L.028.705A.304.304 0 0 0 0 .855c0 .07.019.154.056.254.375.882.783 1.733 1.223 2.553.44.82.823 1.48 1.148 1.98.325.5.656.973.994 1.417.337.445.56.73.67.855.11.125.195.219.257.281l.235.225c.15.15.37.33.66.54.291.21.613.416.966.62.353.203.764.369 1.232.497.469.129.925.18 1.369.155h1.077c.219-.019.385-.088.497-.206l.037-.047a.623.623 0 0 0 .07-.174.955.955 0 0 0 .033-.258 3.098 3.098 0 0 1 .061-.727c.047-.216.1-.379.16-.488a1.2 1.2 0 0 1 .36-.413.611.611 0 0 1 .075-.033c.15-.05.327-.002.53.145s.394.33.572.545c.178.216.392.458.642.727.25.27.468.47.656.601l.187.113c.125.075.288.144.488.206.2.063.374.078.524.047l2.4-.037c.237 0 .421-.04.552-.118.132-.078.21-.164.235-.258a.728.728 0 0 0 .004-.32 1.18 1.18 0 0 0-.065-.248z"/>
		</symbol>
		
		
<!--		tw-->
		<symbol id="icon-tw" viewBox="0 0 18 15" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" fill-rule="evenodd" d="M18 1.754c-.458.712-1.068 1.348-1.83 1.907v.458c0 2.67-.96 5.09-2.88 7.264-1.92 2.174-4.468 3.261-7.646 3.261-2.034 0-3.915-.56-5.644-1.678.407.05.7.076.877.076 1.704 0 3.229-.534 4.576-1.601a3.712 3.712 0 0 1-2.135-.744A3.494 3.494 0 0 1 2.02 8.886c.305.05.534.076.687.076.254 0 .584-.051.991-.153a3.728 3.728 0 0 1-2.116-1.277 3.515 3.515 0 0 1-.858-2.346v-.038c.559.305 1.118.458 1.678.458-1.094-.712-1.64-1.742-1.64-3.09 0-.635.165-1.245.495-1.83 1.958 2.416 4.488 3.7 7.59 3.852-.051-.178-.077-.457-.077-.839 0-1.042.356-1.92 1.068-2.631C10.551.356 11.428 0 12.47 0c1.043 0 1.933.394 2.67 1.182.763-.127 1.55-.432 2.364-.915-.254.89-.8 1.576-1.64 2.06A6.298 6.298 0 0 0 18 1.753z"/>
		</symbol>
		
<!--		arrow-->
		<symbol id="icon-arrow" viewBox="0 0 15 8" preserveAspectRatio="xMidYMid meet">
			<path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" d="M1 4h12.571M10 8l3.399-3.956c.04-.044.04-.088 0-.133L10 0"/>
		</symbol>
		
<!--		delete-->
		<symbol id="icon-delete" viewBox="0 0 20 25" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" fill-rule="nonzero" d="M10 19.749a.27.27 0 0 0 .27-.27v-9.245a.27.27 0 1 0-.54 0v9.245c0 .149.121.27.27.27zM14.479 19.749a.27.27 0 0 0 .27-.27v-9.245a.27.27 0 1 0-.54 0v9.245c0 .149.121.27.27.27zM5.522 19.749a.27.27 0 0 0 .27-.27v-9.245a.27.27 0 1 0-.54 0v9.245c0 .149.122.27.27.27z"/>
			<path fill="currentColor" fill-rule="nonzero" d="M19.448 3.221h-4.712A2.723 2.723 0 0 0 12.032.772h-4.06a2.72 2.72 0 0 0-2.705 2.45H.553a.27.27 0 0 0-.27.27v2.98c0 .15.122.27.27.27h1.484v14.767a2.721 2.721 0 0 0 2.719 2.717h10.49a2.72 2.72 0 0 0 2.717-2.717V6.742h1.484a.27.27 0 0 0 .27-.27v-2.98a.269.269 0 0 0-.268-.27zM7.97 1.314h4.061a2.18 2.18 0 0 1 2.16 1.907H5.81a2.18 2.18 0 0 1 2.16-1.907zm9.454 20.196c0 1.2-.976 2.176-2.178 2.176H4.756a2.18 2.18 0 0 1-2.179-2.176V6.742h14.847V21.51zm1.753-15.309H.823V3.763h18.354V6.2z"/>
		</symbol>
		
<!--		search		-->
		<symbol id="icon-search" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet">
			<circle fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-width="2" transform="translate(1 1)" cx="7.374" cy="7.374" r="7.084"/>
			<path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-width="2" transform="translate(1 1)" d="M12.397 12.397l5.313 5.313"/>
		</symbol>
		
<!--		close-->
		<symbol id="icon-close" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" d="M11,9.61l7.9-7.9A1,1,0,0,0,17.51.29l-7.9,7.9L1.71.29A1,1,0,0,0,.29,1.71l7.9,7.9-7.9,7.9a1,1,0,1,0,1.41,1.41L9.61,11l7.9,7.9a1,1,0,0,0,1.41-1.41Z"/>
		</symbol>
		
<!--		map-->
		<symbol id="icon-map" viewBox="0 0 20 17" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" d="M19.6.22A1,1,0,0,0,18.72,0L13,1.51,7.28,0h0a1,1,0,0,0-.3,0H6.78l-6,1.55A1,1,0,0,0,0,2.6V15.95a1.06,1.06,0,0,0,.4.83A1,1,0,0,0,1,17a1,1,0,0,0,.25,0L7,15.49,12.72,17A1,1,0,0,0,13,17h0a1,1,0,0,0,.25,0l6-1.55a1,1,0,0,0,.78-1V1.05A1.06,1.06,0,0,0,19.6.22ZM2.06,3.42,6,2.4V13.58l-3.94,1ZM11.94,14.6l-3.89-1V2.4l3.89,1Zm6-1L14,14.6V3.42l3.94-1Z"/>
		</symbol>
		
<!--		burger-->
		<symbol id="icon-burger" viewBox="0 0 20 15.98" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" d="M18.95,14H1.05a1,1,0,1,0,0,2H18.95a1,1,0,1,0,0-2Z"/>
			<path fill="currentColor" d="M1.05,2H18.95A1,1,0,0,0,20,1a1,1,0,0,0-1.05-1H1.05A1,1,0,0,0,0,1,1,1,0,0,0,1.05,2Z"/>
			<path fill="currentColor" d="M18.95,7H1.05a1,1,0,1,0,0,2H18.95a1,1,0,1,0,0-2Z"/>
		</symbol>
		
<!--		burger-close-->
		<symbol id="icon-close" viewBox="0 0 19.22 19.22" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" d="M11,9.61l7.9-7.9A1,1,0,0,0,17.51.29l-7.9,7.9L1.71.29A1,1,0,0,0,.29,1.71l7.9,7.9-7.9,7.9a1,1,0,1,0,1.41,1.41L9.61,11l7.9,7.9a1,1,0,0,0,1.41-1.41Z"/>
		</symbol>
		
<!--		arrow-slider-->
		<symbol id="icon-arrow-slider" viewBox="0 0 128 128" preserveAspectRatio="xMidYMid meet">
			<path fill="currentColor" d="M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z"/>
			<path fill="currentColor" d="M58.12,35.88a3,3,0,0,0-4.24,4.24L77.76,64,53.88,87.88a3,3,0,1,0,4.24,4.24l26-26a3,3,0,0,0,0-4.24Z"/>
		</symbol>
		
<!--		map-->
		<symbol id="icon-map-marker" viewBox="0 0 30 30" preserveAspectRatio="xMidYMid meet">
			<circle cx="14" cy="14" r="14" fill="currentColor" stroke="E8E8E8"/>
			<path fill="#fff" d="M11.41 19.548c1.054 0 2.196-.294 3.39-.9 1.193-.605 2.282-1.348 3.234-2.265a12.99 12.99 0 0 0 2.386-3.096c.64-1.159.952-2.248.952-3.286 0-2.197-1.782-3.2-4.428-3.2-1.436 0-2.958.26-4.566.796-1.591.519-2.94 1.228-4.065 2.11-1.106.882-1.66 1.781-1.66 2.698 0 .778.71 1.159 2.127 1.159 0 .242-.017.519-.709.519-1.107 0-2.092-.485-2.092-1.522 0-.761.363-1.522 1.09-2.3.743-.779 1.66-1.453 2.75-2.024a18.605 18.605 0 0 1 3.649-1.401c1.331-.363 2.577-.536 3.735-.536 1.47 0 2.63.294 3.511.864.883.571 1.332 1.47 1.332 2.699 0 1.124-.346 2.3-1.055 3.545a13.412 13.412 0 0 1-2.629 3.304 15.443 15.443 0 0 1-3.528 2.386c-1.297.64-2.525.97-3.667.97-.778 0-1.02-.589-1.02-1.627 0-.9.415-2.421 1.262-4.583.848-2.162 1.592-3.753 2.249-4.808a.42.42 0 0 1 .346-.19c.12 0 .225.051.328.155-.691 1.09-1.452 2.68-2.283 4.791-.83 2.11-1.245 3.684-1.245 4.739 0 .675.208 1.003.605 1.003z"/>
		</symbol>
	
	</svg>
</div>
