@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">О компании</span>
			</div>
		</section>
		<section class="section">
			<div class="section__wrp">
				<div class="section__header">
					<h1>О компании</h1>
				</div>
				
				<div class="section__article article">
					
					<p><nobr>Какой-то</nobr> интересный текст о&nbsp;компании.</p>
					
					<p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют определения и&nbsp;уточнения направлений прогрессивного развития. Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции требуют от&nbsp;нас анализа форм развития.</p>
					
					<p>
						<b>Режим работы</b>: Ежедневно с&nbsp;10:00 до&nbsp;19:00<br />
						<b>Телефон</b>: <nobr>8 (800) 100-00-00</nobr><br />
						<b>По&nbsp;вопросам сотрудничества</b>: <a href="mailto:pr@dressup.ru"><acronym title="Public Relations" lang="en">pr</acronym>@dressup.ru</a><br />
						<b>Вопросы по&nbsp;заказам и&nbsp;наличию товара</b>: <a href="mailto:hello@dressup.ru">hello@dressup.ru</a><br />
						<b>По&nbsp;вопросам трудоустройства</b>: <a href="mailto:hr@dressup.ru">hr@dressup.ru</a>
					</p>
					
					<p>С&nbsp;нами легко общаться, вы&nbsp;можете выбрать любой удобный вам способ:</p>
					
					<div class="social">
						<a href="https://www.facebook.com" target="_blank" class="social__link social__link_fb">
							<svg class="social__img svg svg_social svg_social-fb"><use xlink:href="#icon-fb"></use></svg>
						</a>
						<a href="https://www.vk.com" target="_blank" class="social__link social__link_vk">
							<svg class="social__img svg svg_social svg_social-vk"><use xlink:href="#icon-vk"></use></svg>
						</a>
						<a href="https://www.twitter.com" target="_blank" class="social__link social__link_tw">
							<svg class="social__img svg svg_social svg_social-tw"><use xlink:href="#icon-tw"></use></svg>
						</a>
					</div>
					
					<h2>Реквизиты</h2>
					
					<p><b>Дресс А.П.</b></p>
					
					<p>
						<b>Юр. адрес</b>: 190020, <nobr>Санкт-Петербург</nobr> г., Дрессаповская ул., дом &#8470;&nbsp;11, квартира 22<br />
						<b>ИНН</b>: 780435769525<br />
						<b>ОГРНИП</b>: 312234423600528<br />
						<b>ОКПО</b>: 01547155
					</p>
					
					<p>
						<b>Банк</b>: Филиал <nobr>&laquo;Санкт-Петербургский&raquo;</nobr>, <nobr>АО &laquo;ДРЕСС-БАНК&raquo;</nobr><br />
						<b>БИК</b>: 044034786<br />
						<b><nobr>Р/с</nobr></b>: 408028108078000284<br />
						<b><nobr>К/с</nobr></b>: 30101810653076000786
					</p>
					
					<p><nobr>E-mail</nobr>: <a href="mailto:hello@dressup.ru">hello@dressup.ru</a></p>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
