@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container page__container_no-border">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content js-cart-state" data-state="non-empty">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Корзина</span>
			</div>
		</section>
		
		<div data-state="non-empty">
			<section class="section cart">
				<div class="section__wrp cart__wrp">
					<div class="section__header cart__header grid grid_h_between">
						<h1 class="cart__header-title">
							Ваша корзина
						</h1>
						
						<a href="catalog.html" class="cart__header-button button button_theme_white button_size_m">
							Вернуться к покупкам
						</a>
					</div>
					
					<div class="cart__table table">
						<div class="table__header heading heading_semibold heading_type_h5">
							<div class="table__row table__row_heading grid grid_v_center">
								<div class="table__data table__data_product">
									Товар
								</div>
								
								<div class="table__data table__data_size">
									Размер
								</div>
								
								<div class="table__data table__data_color">
									Цвет
								</div>
								
								<div class="table__data table__data_number">
									Количество
								</div>
								
								<div class="table__data table__data_price">
									Цена
								</div>
							</div>
						</div>
						
						<div class="table__body caption caption_size_m">
							<div class="table__row grid grid_v_center js-table-row">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-1.jpg"
											     srcset="images/cart/cart-1@2x.jpg 2x, images/cart/cart-1@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Футболка с&nbsp;<nobr>V-образным</nobr> вырезом
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											Xs
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle table__color-circle_white" style="background-color: #fff;" title="Белый"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										4 400 руб.
									</div>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div>
							<div class="table__row grid grid_v_center js-table-row">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-2.jpg"
											     srcset="images/cart/cart-2@2x.jpg 2x, images/cart/cart-2@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Рубашка с&nbsp;коротким рукавом
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											M
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle" style="background-color: #ffc0cb;" title="Розовый"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										5 850 руб.
									</div>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div>
							<div class="table__row grid grid_v_center js-table-row">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-3.jpg"
											     srcset="images/cart/cart-3@2x.jpg 2x, images/cart/cart-3@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Топ с&nbsp;открытыми плечами
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											Xs
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle" style="background-color: #abcdef;" title="Голубой"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										3 700 руб.
									</div>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div>
						</div>
						
						<div class="table__footer grid grid_v_center grid_h_between">
							<form action="" class="table__form js-promo-form">
								<input type="text" name="promocode"
								       class="table__form-input caption caption_size_xs"
								       placeholder="Введите промокод">
								<button class="table__form-button">
									<svg class="table__form-button-img svg svg_arrow"><use xlink:href="#icon-arrow"></use></svg>
								</button>
							</form>
							
							<div class="table__sum">
								<div class="table__sum-sale grid grid_v_end">
								<span class="table__sum-sale-caption caption caption_size_xs">
									Скидка
								</span>
									
									<span class="table__sum-sale-number caption caption_size_xs">
									0 руб.
								</span>
								</div>
								
								<div class="table__sum-total grid grid_v_end">
								<span class="table__sum-total-caption caption caption_size_xs">
									Итого
								</span>
									
									<span class="table__sum-total-number caption caption_size_l">
									13 950 руб.
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="section checkout">
				<form action="" method="" class="checkout__form form-data form-data_checkout js-form-required"
				      data-success="success.html">
					<div class="checkout__body">
						<div class="section__wrp checkout__wrp">
							<div class="section__header checkout__title article">
								<h2>Оформление заказа</h2>
							</div>
							
							<div class="form-data__fail caption caption_size_s">
								Произошла ошибка, <a href="javascript:location.reload();" class="form-data__fail-link">перезагрузите страницу</a> и попробуйте снова.
							</div>
							
							<div class="checkout__grid grid grid_v_start">
								<div class="checkout__column">
									<div class="checkout__unit">
										<div class="checkout__unit-heading heading heading_semibold heading_type_h5">
											Персональные данные
										</div>
										
										<label class="form-data__label js-form-field">
											<input type="text" name="name" class="form-data__input js-form-input"
											       data-required="username">
											
											<span class="form-data__text caption caption_size_xs">Ваше имя</span>
											
											<div class="form-data__error">Неверный формат!</div>
										</label>
										
										<label class="form-data__label js-form-field">
											<input type="text" name="phone" class="form-data__input js-form-input"
											       data-required="phone">
											
											<span class="form-data__text caption caption_size_xs">Телефон</span>
											
											<div class="form-data__error">Неверный формат!</div>
										</label>
										
										<label class="form-data__label js-form-field">
											<input type="text" name="email" class="form-data__input js-form-input"
											       data-required="email">
											
											<span class="form-data__text caption caption_size_xs">Эл. почта</span>
											
											<div class="form-data__error">Неверный формат!</div>
										</label>
										
										<label class="form-data__label js-form-field">
											<input type="text" name="city" class="form-data__input js-form-input">
											<span class="form-data__text caption caption_size_xs">Город</span>
										</label>
										
										<label class="form-data__label js-form-field">
											<input type="text" name="address" class="form-data__input js-form-input">
											<span class="form-data__text caption caption_size_xs">Адрес</span>
										</label>
									</div>
								</div>
								
								<div class="checkout__column">
									<div class="checkout__unit checkout__unit_delivery">
										<div class="checkout__unit-heading heading heading_semibold heading_type_h5">
											Способ доставки
										</div>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="delivery" value="post" class="radio__input" checked>
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">Почтой России, 12-16 дней, бесплатно</span>
										</label>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="delivery" value="courier" class="radio__input">
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">Курьером, 0-2 дня, + 350 руб.</span>
										</label>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="delivery" value="sdek"class="radio__input">
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">ТК СДЭК, 2-4 дня, +800 руб.</span>
										</label>
									</div>
									
									<div class="checkout__unit checkout__unit_payment">
										<div class="checkout__unit-heading heading heading_semibold heading_type_h5">
											Способ оплаты
										</div>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="payment" value="cash" class="radio__input" checked>
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">Наличными курьеру</span>
										</label>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="payment" value="card" class="radio__input">
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">Банк. картой курьеру</span>
										</label>
										
										<label class="checkout__radio radio grid grid_v_center">
											<input type="radio" name="payment" value="online" class="radio__input">
											<span class="radio__circle"></span>
											<span class="radio__text caption caption_size_xs">Банк. картой на сайте</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="checkout__footer">
						<div class="section__wrp checkout__wrp">
							<div class="checkout__total caption caption_size_xs">
								<div class="checkout__total-item grid grid_v_center">
									<span class="checkout__total-text">
										Доставка
									</span>
									
									<span class="checkout__total-number">
										350 руб.
									</span>
								</div>
								
								<div class="checkout__total-item grid grid_v_center">
									<span class="checkout__total-text">
										Скидка
									</span>
									
									<span class="checkout__total-number">
										0 руб.
									</span>
								</div>
								
								<div class="checkout__total-item grid grid_v_center">
									<span class="checkout__total-text">
										Итого
									</span>
									
									<span class="checkout__total-number checkout__total-number_big caption caption_size_l">
										14 300 руб.
									</span>
								</div>
							</div>
							
							<button type="submit" class="checkout__button button button_theme_black button_size_g">
								Перейти к оплате
							</button>
						</div>
					</div>
				</form>
			</section>
		</div>
		
		<div data-state="empty">
			<section class="section cart">
				<div class="section__wrp cart__wrp">
					<div class="section__header cart__header">
						<h1 class="cart__header-title">
							Вы еще ничего не добавили в корзину
						</h1>
					</div>
					
					<div class="section__article cart__article article">
						<p>Воспользуйтесь нашей удобной системой поиска и&nbsp;найдите то, что вам нужно или добавьте товары из&nbsp;наших рекомендаций!
						</p>
						
						<a href="catalog.html" class="cart__header-button button button_theme_white button_size_m">
							Продолжить покупки
						</a>
					</div>
				</div>
			</section>
			
			@@include('components/_similar.html', {"title": "Мы рекомендуем"})
		</div>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
