@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Корзина</span>
			</div>
		</section>
		
		<section class="section cart">
			<div class="section__wrp cart__wrp">
				<div class="section__header cart__header">
					<h1 class="cart__header-title">
						Вы еще ничего не добавили в корзину
					</h1>
				</div>
				
				<div class="section__article cart__article article">
					<p>Воспользуйтесь нашей удобной системой поиска и&nbsp;найдите то, что вам нужно или добавьте товары из&nbsp;наших рекомендаций!
					</p>
					
					<a href="catalog.html" class="cart__header-button button button_theme_white button_size_m">
						Продолжить покупки
					</a>
				</div>
			</div>
		</section>
		
		@@include('components/_similar.html', {"title": "Мы рекомендуем"})
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
