@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Женщинам</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Одежда</span>
			</div>
		</section>
		
		<section class="section catalog js-catalog">
			<div class="section__wrp catalog__wrp">
				<div class="catalog__grid grid grid_h_between grid_v_start">
					<aside class="catalog__sidebar sidebar js-sidebar">
						@@include('components/_sidebar.html', {})
					</aside>
					
					<section class="catalog__content">
						<div class="section__header catalog__header grid grid_h_between grid_v_center">
							<h1 class="catalog__header-title">
								Женская одежда
							</h1>
							
							<div class="catalog__header-dropdown dropdown js-dropdown">
								<div class="dropdown__value js-dropdown-toggle">
									Сначала новые
								</div>
								
								<div class="dropdown__list">
									<div class="dropdown__item">
										<a href="/?newest" class="dropdown__link js-dropdown-link">
											Сначала новые
										</a>
									</div>
									
									<div class="dropdown__item">
										<a href="/?asc" class="dropdown__link js-dropdown-link">
											По возрастанию цены
										</a>
									</div>
									
									<div class="dropdown__item">
										<a href="/?desc" class="dropdown__link js-dropdown-link">
											По убыванию цены
										</a>
									</div>
									
								</div>
							</div>
						</div>
						
						<div class="catalog__body">
							<a class="catalog__button button button_size_m js-sidebar-toggle">
								<svg class="catalog__button-icon svg svg_arrow">
									<use xlink:href="#icon-arrow"></use>
								</svg>
								<span class="catalog__button-text">Фильтры (3)</span>
							</a>
							
							<div class="catalog__list">
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-1-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-1-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-1-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-1-4.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<span class="card__photo-mark card__photo-mark_blue">NEW</span>
										<span class="card__photo-mark card__photo-mark_pink">SALE</span>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-1-1.jpg" alt="preview" 
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-1-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-1-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-1-4.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Футболка с принтом
										</a>
										
										<div class="card__info-bottom">
											<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_old">
													3 100 руб.
												</span>
												
												<span class="card__info-price-item card__info-price-item_new">
													1 200 руб.
												</span>
											</div>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button saved">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button saved">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
										
									</div>
								</div>
								
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-2-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-2-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-2-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<span class="card__photo-mark card__photo-mark_blue">NEW</span>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-2-1.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-2-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-2-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Толстовка с объемными рукавами
										</a>
										
										<div class="card__info-bottom">
											<span class="card__info-price-item card__info-price-item_new">
												3 700 руб.
											</span>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
									
									</div>
								</div>
								
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-3-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-3-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-3-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-3-4.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-3-5.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<span class="card__photo-mark card__photo-mark_pink">SALE</span>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-3-1.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-3-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-3-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
													
													<div class="card__preview-gallery">
														<a href="images/card/card-3-1.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-3-1.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-3-2.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-3-2.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-3-3.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-3-3.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-3-4.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-3-4.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-3-5.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-3-5.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Укороченная футболка с карманом
										</a>
										
										<div class="card__info-bottom">
											<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_old">
													2 500 руб.
												</span>
												
												<span class="card__info-price-item card__info-price-item_new">
													2 300 руб.
												</span>
											</div>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
									</div>
								</div>
								
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-4-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-4-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-4-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-4-4.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-4-5.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-4-1.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-4-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-4-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
													
													<div class="card__preview-gallery">
														<a href="images/card/card-4-1.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-4-1.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-4-2.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-4-2.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-4-3.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-4-3.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-4-4.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-4-4.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-4-5.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-4-5.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Свитер из трикотажа
										</a>
										
										<div class="card__info-bottom">
											<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													4 500 руб.
												</span>
											</div>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
									
									</div>
								</div>
								
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-5-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-5-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-5-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-5-1.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-5-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-5-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Джинсы с завышенной талией
										</a>
										
										<div class="card__info-bottom">
											<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													5 400 руб.
												</span>
											</div>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
									
									</div>
								</div>
								
								<div class="catalog__card card js-card">
									<div class="card__photo">
										<div class="card__slider swiper-container js-slider-card">
											<div class="card__slider-wrapper swiper-wrapper">
												<div class="card__slide swiper-slide">
													<img src="images/card/card-6-1.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-6-2.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-6-3.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-6-4.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
												
												<div class="card__slide swiper-slide">
													<img src="images/card/card-6-5.jpg" alt="product-img"
													     class="card__slide-img js-fit">
												</div>
											</div>
										</div>
										
										<a href="product.html" class="card__photo-link">link</a>
										
										<div class="card__preview js-card-preview">
											<div class="card__preview-list">
												<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
													<img src="images/card/preview/preview-card-6-1.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-6-2.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
													<img src="images/card/preview/preview-card-6-3.jpg" alt="preview"
													     class="card__preview-img js-fit">
												</a>
												
												<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
													
													<div class="card__preview-gallery">
														<a href="images/card/card-6-1.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-6-1.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-6-2.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-6-2.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-6-3.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-6-3.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-6-4.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-6-4.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
														
														<a href="images/card/card-6-5.jpg" class="js-card-preview-gallery-item">
															<img src="images/card/card-6-5.jpg" alt="product-img"
															     class="card__slide-img js-fit">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="card__info">
										<a href="product.html" class="card__info-caption">
											Слитный купальник
										</a>
										
										<div class="card__info-bottom">
											<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													6 100 руб.
												</span>
											</div>
											
											<div class="card__info-icons">
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
												</button>
												
												<button class="card__info-icons-button">
													<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
												</button>
											</div>
										</div>
									
									</div>
								</div>
							</div>
						</div>
						
						<div class="catalog__footer">
							<div class="catalog__pagination">
								<div class="catalog__pagination-list">
									<div class="catalog__pagination-item">
										<a href="" class="catalog__pagination-link active">
											1
										</a>
									</div>
									
									<div class="catalog__pagination-item">
										<a href="" class="catalog__pagination-link">
											2
										</a>
									</div>
									
									<div class="catalog__pagination-item">
										<a href="" class="catalog__pagination-link">
											3
										</a>
									</div>
									
									<div class="catalog__pagination-item">
										<a href="" class="catalog__pagination-link">
											...
										</a>
									</div>
									
									<div class="catalog__pagination-item">
										<a href="" class="catalog__pagination-link">
											10
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="catalog__article article">
							<div class="catalog__article-wrp">
								<div class="catalog__article-photo">
									<img src="images/article/article.jpg"
									     srcset="images/article/article@2x.jpg 2x,
											images/article/article@3x.jpg 3x"
									     alt="" class="catalog__article-img js-fit">
								</div>
								
								<div class="catalog__article-text">
									<p>Женская мода никогда не&nbsp;была настолько разнообразной и&nbsp;полной трендового и&nbsp;умного дизайна. Не&nbsp;имеет значения, какие у&nbsp;вас вкусы или стиль&nbsp;&mdash; подойдет все, и&nbsp;вы&nbsp;можете быть уверенными и&nbsp;яркими. Если вы&nbsp;ищете профессиональную рабочую одежду или <nobr>что-то</nobr> причудливое для планов на&nbsp;выходные, вы&nbsp;можете найти целый ряд отличных стилей и&nbsp;вдохновения для вашего гардероба. Богатый цвет и&nbsp;дизайн&nbsp;&mdash; мода для женщин полна выбора и&nbsp;вдохновения, чтобы получить идеальный внешний вид каждый раз.</p>
									
									<p>Женская мода никогда не&nbsp;была настолько разнообразной и&nbsp;полной трендового и&nbsp;умного дизайна. Не&nbsp;имеет значения, какие у&nbsp;вас вкусы или стиль&nbsp;&mdash; подойдет все, и&nbsp;вы&nbsp;можете быть уверенными и&nbsp;яркими. Если вы&nbsp;ищете профессиональную рабочую одежду или <nobr>что-то</nobr> причудливое для планов на&nbsp;выходные, вы&nbsp;можете найти целый ряд отличных стилей и&nbsp;вдохновения для вашего гардероба.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
		
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
