@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Магазины</span>
			</div>
		</section>
		<section class="section contacts tabs js-tabs js-tabs-map">
			<div class="section__wrp contacts__wrp">
				<div class="section__header contacts__header grid grid_h_between grid_v_center">
					<h1 class="contacts__header-title">
						Наши Магазины
					</h1>
					
					<div class="contacts__header-dropdown dropdown js-dropdown">
						<div class="dropdown__value js-dropdown-toggle">
							Все города
						</div>
						
						<div class="dropdown__list">
							<div class="dropdown__item">
								<a href="javascript:void(0);" class="dropdown__link js-dropdown-link js-tabs-nav"
								data-nav-id="all">
									Все города
								</a>
							</div>
							
							<div class="dropdown__item">
								<a href="javascript:void(0);" class="dropdown__link js-dropdown-link js-tabs-nav"
								   data-nav-id="msk">
									Москва
								</a>
							</div>
							
							<div class="dropdown__item">
								<a href="javascript:void(0);" class="dropdown__link js-dropdown-link js-tabs-nav"
								   data-nav-id="spb">
									Санкт-Петербург
								</a>
							</div>
					</div>
				</div>
			</div>
				
				<div class="contacts__body">
					<div class="contacts__map map">
						<div id="map" class="map__frame">
							
						</div>
					</div>
				</div>
				
				<div class="contacts__table tabs__content js-tabs-content active" data-content-id="msk">
					<div class="contacts__table-header caption caption_size_g">
						Москва
					</div>
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							м Театральная, ул. Петровка, д. 2
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 12:00 до 20:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[55.760798, 37.619764]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							м Аэропорт, Ходынский бульвар, д. 4
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 20:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[55.790231, 37.531280]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							ул. Кузнецкий Мост, 9/10
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 19:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[55.761948, 37.620878]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
				</div>
				
				<div class="contacts__table tabs__content js-tabs-content active" data-content-id="spb">
					<div class="contacts__table-header caption caption_size_g">
						Санкт-Петербург
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							м Озерки, ш. Выборгское, 5 корп. 1
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 19:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[60.041481, 30.318931]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							м Ленинский проспект, пр-кт. Ленинский, 87 корп. 1
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 19:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[59.855267, 30.204208]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							Коломенская улица, д. 5А
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 19:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[59.926088, 30.354747]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
					
					<div class="contacts__table-row grid grid_v_center">
						<div class="contacts__table-data contacts__table-data_heading">
							Светлановский проспект, д. 79
						</div>
						
						<div class="contacts__table-data contacts__table-data_info grid grid_v_center grid_h_between">
							<a href="tel: +78001000000" class="contacts__table-phone">
								8 800 100-00-00
							</a>
							
							<div class="contacts__table-text">
								с 10:00 до 19:00
							</div>
						</div>
						
						
						<div class="contacts__table-data contacts__table-data_icon">
							<a class="contacts__table-link js-latlng-link" data-latlng="[60.023529, 30.380403]">
								<svg class="contacts__table-svg svg svg_map"><use xlink:href="#icon-map"></use></svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
