@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Файлы cookies</span>
			</div>
		</section>
		<section class="section">
			<div class="section__wrp">
				<div class="section__header">
					<h1>Файлы cookies</h1>
				</div>
				
				<div class="section__article article article_m">
					<h3>Что такое файлы cookie?</h3>
					
					<p>Файлы cookie представляют собой небольшие текстовые файлы, которые сохраняются в&nbsp;браузере Вашего компьютера или мобильного телефона после посещения <nobr>веб-сайтов</nobr>. Файлы cookie широко применяются для поддержания работы <nobr>веб-сайтов</nobr> или для повышения качества пользовательского опыта, а&nbsp;также для предоставления определенной информации владельцам <nobr>веб-сайта</nobr>. Файлы cookie, которые используем мы, могут включать в&nbsp;себя информацию о&nbsp;Ваших предпочтениях в&nbsp;Интернете, чтобы мы&nbsp;могли сделать наши <nobr>веб-сайты</nobr> максимально интересными для Вас.</p>
					
					<h4>Как можно разрешить или запретить использование файлов cookie?</h4>
					
					<p>В&nbsp;настройках своего устройства пользователь может разрешить использование всех файлов cookie, установить уведомление об&nbsp;использовании файлов cookie или запретить использование файлов cookie в&nbsp;любое время. Последняя из&nbsp;перечисленных настроек означает, что пользователю не&nbsp;будут предоставляться определенные персонализированные услуги, и&nbsp;пользователь, соответственно, не&nbsp;сможет воспользоваться всеми преимуществами наших <nobr>веб-сайтов</nobr>.</p>
					
					<p>В&nbsp;настройках браузера также можно запретить любые файлы cookie или только определенные файлы cookie. Однако все браузеры отличаются друг от&nbsp;друга, поэтому более подробная информация о&nbsp;настройках для файлов cookie приведена в&nbsp;разделе Help (&laquo;Справка&raquo;) Вашего браузера.</p>
					
					<h4>Как мы&nbsp;используем файлы cookie?</h4>
					
					<p>Информация, которую мы&nbsp;собираем с&nbsp;помощью файлов cookie, помогает нам анализировать то, как Вы&nbsp;используете наши <nobr>веб-сайты</nobr>, а&nbsp;также позволяет нам повысить качество пользовательского опыта при посещении наших сайтов. Мы&nbsp;никогда не&nbsp;используем информацию, собранную с&nbsp;помощью файлов cookie, для идентификации Вашей личности или рассылки рекламы по&nbsp;электронной или обычной почте. Кроме того, мы&nbsp;не&nbsp;используем файлы cookie для рассылки рекламы детям.</p>
					
					<p>По&nbsp;вопросам, касающимся настоящей политики, обращайтесь, пожалуйста, по&nbsp;адресу <a href="mailto:hello@dressup.ru">hello@dressup.ru</a>.</p>
					
					<h3>Какие типы файлов cookie мы&nbsp;используем для разных целей?</h3>
					
					<h4>Технические файлы cookie</h4>
					
					<p>Некоторые из&nbsp;наших файлов cookie абсолютно необходимы для поддержания функциональности наших <nobr>веб-сайтов</nobr>. Использование этих функциональных файлов cookie нельзя запретить при посещении наших сайтов. Сюда относятся файлы cookie, которые собирают информацию о&nbsp;том, разрешил&nbsp;ли пользователь использование других файлов cookie с&nbsp;нашего сайта.</p>
					
					<h4>Файлы cookie сеанса посещения и&nbsp;файлы cookie предпочтений</h4>
					
					<p>Мы&nbsp;можем использовать файлы cookie сеанса посещения для ускорения функционирования наших <nobr>веб-сайтов</nobr>, например, чтобы ускорить процесс перехода пользователя между страницами. Срок действия таких файлов cookie истекает по&nbsp;окончании сеанса посещения (например, когда пользователь закрывает окно браузера). Мы&nbsp;также можем использовать файлы cookie, которые действуют дольше и&nbsp;создаются для того, чтобы запомнить Ваши предпочтения и&nbsp;варианты выбора во&nbsp;время посещения наших <nobr>веб-сайтов</nobr>. Жизненный цикл таких файлов cookie обычно не&nbsp;превышает двух лет.</p>
					
					<h4>Аналитические файлы cookie</h4>
					
					<p>Мы&nbsp;можем использовать аналитические файлы cookie для повышения качества работы наших <nobr>веб-сайтов</nobr>, собирая информацию о&nbsp;количестве посетителей нашего сайта, источниках перехода на&nbsp;наши сайты, а&nbsp;также о&nbsp;том, каким образом посетители используют <nobr>веб-сайт</nobr> (например, на&nbsp;какие страницы посетители переходят чаще всего). Для этого мы&nbsp;можем использовать соответствующие файлы cookie и&nbsp;аналитические инструменты следующих поставщиков услуг:</p>
					
					<ul>
						<li>Google Analytics: <a href="https://policies.google.com/privacy?hl=ru">Нажмите здесь</a>, чтобы ознакомиться с&nbsp;Политикой соблюдения конфиденциальности Google</li>
					</ul>
					
					<h4>Файлы cookie социальных сетей</h4>
					
					<p>Мы&nbsp;можем интегрировать в&nbsp;наши <nobr>веб-сайты</nobr> приложения сторонних <nobr>веб-сайтов</nobr>, в&nbsp;частности, приложения социальных сетей. Такие приложения иногда включают в&nbsp;себя сценарии или&nbsp;другие элементы, которые могут считывать, а&nbsp;иногда и&nbsp;размещать файлы cookie из&nbsp;указанных социальных сетей на&nbsp;вашем устройстве. Эти файлы cookie позволяют персонализировать рекламу. И&nbsp;хотя мы&nbsp;не&nbsp;имеем доступа к&nbsp;таким файлам cookie и&nbsp;не&nbsp;можем контролировать их&nbsp;или данные, которые они собирают, потому что мы&nbsp;всего лишь являемся оператором <nobr>веб-сайта</nobr> Dress Up, мы&nbsp;хотели&nbsp;бы сообщить Вам об&nbsp;этом и&nbsp;получить Ваше разрешение на&nbsp;использование таких элементов.</p>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
