@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Доставка и оплата</span>
			</div>
		</section>
		
		<section class="section tabs js-tabs" data-query-param="tab">
			<div class="section__wrp tabs__wrp">
				<div class="tabs__nav caption caption_size_m grid">
					<div class="tabs__nav-item active js-tabs-nav" data-nav-id="delivery">
						Доставка
					</div>
					
					<div class="tabs__nav-item js-tabs-nav" data-nav-id="payment">
						Оплата
					</div>
				</div>
				
				<div class="tabs__body">
					<div class="tabs__content active js-tabs-content js-tabs" data-content-id="delivery">
						<div class="tabs__text article">
							<p>Для заказов из&nbsp;Москвы и&nbsp;<nobr>Санкт-Петербурга</nobr> стоимостью <b>от&nbsp;8&nbsp;000&nbsp;руб.</b> предоставляется <b>бесплатная курьерская доставка</b>.</p>
							<p>Для заказов из&nbsp;регионов стоимостью <b>от&nbsp;8000&nbsp;руб.</b> предоставляется бесплатная доставка&nbsp;&mdash; <b>Почтой России</b>.</p>
							<p>Доставка заказов возможна по&nbsp;всей территории России.</p>
						</div>
						
						<div class="tabs__table">
							<div class="tabs__table-head heading heading_upper heading_semibold heading_type_h5">
								<div class="tabs__table-row tabs__table-row_head">
									<div class="tabs__table-data">
										Регион
									</div>
									
									<div class="tabs__table-data">
										Срок доставки
									</div>
									
									<div class="tabs__table-data">
										Стоимость
									</div>
								</div>
							</div>
							
							<div class="tabs__table-body caption caption_size_m">
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Санкт-Петербург
									</div>
									
									<div class="tabs__table-data">
										1–2 дня
									</div>
									
									<div class="tabs__table-data">
										от 231 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Москва
									</div>
									
									<div class="tabs__table-data">
										2–3 дня
									</div>
									
									<div class="tabs__table-data">
										от 288 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Московская область
									</div>
									
									<div class="tabs__table-data">
										1–2 дня
									</div>
									
									<div class="tabs__table-data">
										от 312 руб.
									</div>
								</div>
							</div>
							
						</div>
						
						<div class="tabs__text article">
							<p>По&nbsp;Ленинградской области и&nbsp;другим регионам России срок доставки и&nbsp;стоимость можете определить выбрав конкретный город, ниже:</p>
						</div>
						
						<div class="tabs__dropdown dropdown js-dropdown">
							<div class="dropdown__value js-dropdown-toggle">
								Санкт-Петербург
							</div>
							
							<div class="dropdown__list">
								<div class="dropdown__item">
									<a href="/?newest" class="dropdown__link active js-dropdown-link js-tabs-nav"
									data-nav-id="city-1">
										Санкт-Петербург
									</a>
								</div>
								
								<div class="dropdown__item">
									<a href="/?asc" class="dropdown__link js-dropdown-link js-tabs-nav"
									data-nav-id="city-2">
										Москва
									</a>
								</div>
								
								<div class="dropdown__item">
									<a href="/?desc" class="dropdown__link js-dropdown-link js-tabs-nav"
									data-nav-id="city-3">
										Нижний Новгород
									</a>
								</div>							
							</div>
						</div>
						
						<div class="tabs__table active js-tabs-content" data-content-id="city-1">
							<div class="tabs__table-head heading heading_upper heading_semibold heading_type_h5">
								<div class="tabs__table-row tabs__table-row_head">
									<div class="tabs__table-data">
										Способ получения
									</div>
									
									<div class="tabs__table-data">
										Срок доставки
									</div>
									
									<div class="tabs__table-data">
										Стоимость
									</div>
								</div>
							</div>
							
							<div class="tabs__table-body caption caption_size_m">
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Самовывоз из магазина
										<a href="contacts.html" class="tabs__table-data-link caption_size_xs">Список магазинов</a>
									</div>
									
									<div class="tabs__table-data">
										от 1 до 3 рабочих дней
									</div>
									
									<div class="tabs__table-data">
										Бесплатно
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Почта России
										<span class="tabs__table-data-item caption_size_xs">Отправка посылки</span>
									</div>
									
									<div class="tabs__table-data">
										от 4 до 6 рабочих дней
									</div>
									
									<div class="tabs__table-data">
										467 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										MaxiPost
										<span class="tabs__table-data-item caption_size_xs">Курьерская служба</span>
									</div>
									
									<div class="tabs__table-data">
										1 день
									</div>
									
									<div class="tabs__table-data">
										254 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										СТРИЖ
										<span class="tabs__table-data-item caption_size_xs">Курьерская служба</span>
									</div>
									
									<div class="tabs__table-data">
										1 день
									</div>
									
									<div class="tabs__table-data">
										267 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										PickPoint
										<span class="tabs__table-data-item caption_size_xs">Пункты выдачи</span>
									</div>
									
									<div class="tabs__table-data">
										—
									</div>
									
									<div class="tabs__table-data">
										350 руб.
									</div>
								</div>
							</div>
						</div>
						
						<div class="tabs__table js-tabs-content" data-content-id="city-2">
							<div class="tabs__table-head heading heading_upper heading_semibold heading_type_h5">
								<div class="tabs__table-row tabs__table-row_head">
									<div class="tabs__table-data">
										Способ получения
									</div>
									
									<div class="tabs__table-data">
										Срок доставки
									</div>
									
									<div class="tabs__table-data">
										Стоимость
									</div>
								</div>
							</div>
							
							<div class="tabs__table-body caption caption_size_m">
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Самовывоз из магазина
										<a href="contacts.html" class="tabs__table-data-link caption_size_xs">Список магазинов</a>
									</div>
									
									<div class="tabs__table-data">
										от 1 до 3 рабочих дней
									</div>
									
									<div class="tabs__table-data">
										Бесплатно
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										Почта России
										<span class="tabs__table-data-item caption_size_xs">Отправка посылки</span>
									</div>
									
									<div class="tabs__table-data">
										от 4 до 6 рабочих дней
									</div>
									
									<div class="tabs__table-data">
										467 руб.
									</div>
								</div>
							</div>
						</div>
						
						<div class="tabs__table js-tabs-content" data-content-id="city-3">
							<div class="tabs__table-head heading heading_upper heading_semibold heading_type_h5">
								<div class="tabs__table-row tabs__table-row_head">
									<div class="tabs__table-data">
										Способ получения
									</div>
									
									<div class="tabs__table-data">
										Срок доставки
									</div>
									
									<div class="tabs__table-data">
										Стоимость
									</div>
								</div>
							</div>
							
							<div class="tabs__table-body caption caption_size_m">								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										MaxiPost
										<span class="tabs__table-data-item caption_size_xs">Курьерская служба</span>
									</div>
									
									<div class="tabs__table-data">
										1 день
									</div>
									
									<div class="tabs__table-data">
										254 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										СТРИЖ
										<span class="tabs__table-data-item caption_size_xs">Курьерская служба</span>
									</div>
									
									<div class="tabs__table-data">
										1 день
									</div>
									
									<div class="tabs__table-data">
										267 руб.
									</div>
								</div>
								
								<div class="tabs__table-row">
									<div class="tabs__table-data tabs__table-data_bold">
										PickPoint
										<span class="tabs__table-data-item caption_size_xs">Пункты выдачи</span>
									</div>
									
									<div class="tabs__table-data">
										—
									</div>
									
									<div class="tabs__table-data">
										350 руб.
									</div>
								</div>
							</div>
						</div>
						
						<div class="tabs__text article">
							<p>В&nbsp;<nobr>Санкт-Петербурге</nobr> заказы также можно самостоятельно забрать в&nbsp;<a href="contacts.html">наших магазинах</a>. В&nbsp;Москве функция самовывоза недоступна.</p>
							<p>Доставка в&nbsp;другие страны тоже возможна, но&nbsp;стоимость и&nbsp;сроки необходимо согласовать с&nbsp;нашим оператором по&nbsp;телефону <nobr>8 (800) 100-00-00</nobr> или написать на&nbsp;почту <a href="mailto:hello@dressup.ru">hello@dressup.ru</a>.</p>
						</div>
					</div>
					
					<div class="tabs__content js-tabs-content" data-content-id="payment">
						<div class="tabs__text article">
							<p>В&nbsp;случае если вы&nbsp;забираете заказ самостоятельно из&nbsp;одного из&nbsp;<a href="contacts.html">наших магазинов</a>, то&nbsp;оплата возможна как наличными, так и&nbsp;пластиковой картой.</p>
							<p>Если для заказа вы&nbsp;выбрали курьерскую службу, то&nbsp;оплата возможна только банковской картой, через сервис <nobr>он-лайн</nobr> оплаты.</p>
							<p>Сервис приема оплаты предоставлен <a href="https://kassa.yandex.ru/">Яндекс. Касса</a>.</p>
						</div>
						
						<div class="tabs__images grid">
							<div class="tabs__images-item grid grid_v_center">
								<img src="images/payment/visa.png" alt="visa"
								     srcset="images/payment/visa@2x.png 2x,
										 images/payment/visa@3x.png 3x"
								     class="tabs__images-img">
							</div>
							
							<div class="tabs__images-item grid grid_v_center">
								<img src="images/payment/mastercard.png" alt="mastercard"
								     srcset="images/payment/mastercard@2x.png 2x,
										 images/payment/mastercard@3x.png 3x"
								     class="tabs__images-img">
							</div>
							
						</div>
						
						<div class="tabs__text article">
							<p>Яндекс. Касса не&nbsp;передает данные Вашей карты магазину и&nbsp;иным третьим лицам. Безопасность платежей с&nbsp;помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и&nbsp;двухфакторной аутентификации пользователя 3D Secure.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
