@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container page__container_no-border">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content js-cart-state" data-state="non-empty"">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Избранное</span>
			</div>
		</section>
		
		<div data-state="non-empty">
			<section class="section cart">
				<div class="section__wrp cart__wrp">
					<div class="section__header cart__header grid grid_h_between">
						<h1 class="cart__header-title">
							Ваш список пожеланий
						</h1>
						
						<a href="catalog.html" class="cart__header-button button button_theme_white button_size_m">
							Вернуться к покупкам
						</a>
					</div>
					
					<div class="cart__table table table_fav">
						<div class="table__header heading heading_semibold heading_type_h5">
							<div class="table__row table__row_heading grid grid_v_center">
								<div class="table__data table__data_product">
									Товар
								</div>
								
								<div class="table__data table__data_size">
									Размер
								</div>
								
								<div class="table__data table__data_color">
									Цвет
								</div>
								
								<div class="table__data table__data_number">
									Количество
								</div>
								
								<div class="table__data table__data_price">
									Цена
								</div>
								
								<div class="table__data table__data_add">
								
								</div>
							</div>
						</div>
						
						<div class="table__body caption caption_size_m">
							<div class="table__row grid grid_v_center js-table-row" data-message="Товар добавлен в корзину">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-1.jpg"
											     srcset="images/cart/cart-1@2x.jpg 2x, images/cart/cart-1@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Футболка с V-образным вырезом
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											Xs
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle table__color-circle_white" style="background-color: #fff;" title="Белый"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										4 400 руб.
									</div>
								</div>
								
								<div class="table__data table__data_add table__add">
									<button class="table__add-button button button_theme_white button_size_s js-table-add-btn">
										В корзину
									</button>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn" title="Удалить">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div >
							
							<div class="table__row grid grid_v_center js-table-row" data-message="Товар добавлен в корзину">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-2.jpg"
											     srcset="images/cart/cart-2@2x.jpg 2x, images/cart/cart-2@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Рубашка с коротким рукавом
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											M
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle" style="background-color: #ffc0cb;" title="Розовый"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										5 850 руб.
									</div>
								</div>
								
								<div class="table__data table__data_add table__add">
									<button class="table__add-button button button_theme_white button_size_s js-table-add-btn">
										В корзину
									</button>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn" title="Удалить">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div>
							
							<div class="table__row grid grid_v_center js-table-row" data-message="Товар добавлен в корзину">
								<div class="table__data table__data_product table__product">
									<a href="product.html" class="table__product-link grid grid_v_center">
										<div class="table__product-photo">
											<img src="images/cart/cart-3.jpg"
											     srcset="images/cart/cart-3@2x.jpg 2x, images/cart/cart-3@3x.jpg 3x"
											     alt="product-photo" class="table__product-img js-fit">
										</div>
										
										<div class="table__product-name">
											Топ с открытыми плечами
										</div>
									</a>
								</div>
								
								<div class="table__data table__data_size table__size">
									<div class="table__size-square">
										<div class="table__size-caption">
											Xs
										</div>
									</div>
								</div>
								
								<div class="table__data table__data_color table__color">
									<span class="table__color-circle" style="background-color: #abcdef;" title="Голубой"></span>
								</div>
								
								<div class="table__data table__data_number table__number">
									<div class="table__number-wrp grid js-number" data-sum="1">
										<button class="table__number-btn js-number-btn js-number-minus" disabled></button>
										
										<button class="table__number-btn js-number-btn js-number-plus"></button>
									</div>
								</div>
								
								<div class="table__data table__data_price table__price">
									<div class="table__price-caption">
										3 700 руб.
									</div>
								</div>
								
								<div class="table__data table__data_add table__add">
									<button class="table__add-button button button_theme_white button_size_s js-table-add-btn">
										В корзину
									</button>
								</div>
								
								<div class="table__data table__data_delete table__delete">
									<button class="table__delete-btn js-table-delete-btn" title="Удалить">
										<svg class="table__delete-img svg svg_delete"><use xlink:href="#icon-delete"></use></svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	
		<div data-state="empty">
			<section class="section cart">
				<div class="section__wrp cart__wrp">
					<div class="section__header cart__header">
						<h1 class="cart__header-title">
							Ваш список пожеланий пуст
						</h1>
					</div>
					
					<div class="section__article cart__article article">
						<p>Воспользуйтесь нашей удобной системой поиска и&nbsp;найдите то, что вам нужно или добавьте товары из&nbsp;наших рекомендаций!
						</p>
						
						<a href="catalog.html" class="cart__header-button button button_theme_white button_size_m">
							Продолжить покупки
						</a>
					</div>
				</div>
			</section>
			
			@@include('components/_similar.html', {"title": "Мы рекомендуем"})
		</div>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
