@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container page__container_no-border">
	@@include('layout/_header.html', {"gender" : "men"})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section slider">
			<div class="section__wrp slider__wrp">
				<!-- Slider main container -->
				<div class="slider__container swiper-container js-slider">
					<!-- Additional required wrapper -->
					<div class="slider__wrapper swiper-wrapper">
						<!-- Slides -->
						<div class="slider__slide swiper-slide">
							<a href="gallery.html" class="slider__slide-link">link</a>
							
							<img class="slider__slide-img js-fit" 
							     src="images/banner-men.jpg" alt="slide-img" 
							     srcset="images/banner-men@2x.jpg 2x, images/banner-men@3x.jpg 3x">
							
							<div class="slider__slide-content">
								<div class="slider__slide-heading heading heading_normal heading_type_h0">
									SUMMER 2020
								</div>
								
								<div class="slider__slide-caption caption caption_size_m">
									New men collection
								</div>
							</div>
							
						</div>
						
						<div class="slider__slide swiper-slide">
							<a href="gallery.html" class="slider__slide-link">link</a>
							
							<img class="slider__slide-img js-fit"
							     src="images/banner-men-2.jpg" alt="slide-img">
							
							<div class="slider__slide-content">
								<div class="slider__slide-heading heading heading_normal heading_type_h0">
									JOIN LIFE
								</div>
								
								<div class="slider__slide-caption caption caption_size_m">
									Explore week’s latest menswear pieces of the season curated for you.
									<br />
									Spring Summer Man Collection.
								</div>
							</div>
						
						</div>
						
						<div class="slider__slide swiper-slide">
							<a href="gallery.html" class="slider__slide-link">link</a>
							
							<img class="slider__slide-img js-fit"
							     src="images/banner-men-3.jpg" alt="slide-img">
							<div class="slider__slide-content">
								<div class="slider__slide-heading heading heading_normal heading_type_h0">
									NEW IN
								</div>
								
								<div class="slider__slide-caption caption caption_size_m">
									Discover this season’s new collection
									<br />
									built around staple pieces and trend-focused items.
									<br />
									Spring Summer Man.
								</div>
							</div>
						
						</div>
					</div>
					<!-- If we need pagination -->
					<div class="slider__pagination swiper-pagination js-slider-pagination"></div>
				</div>
			</div>
		</section>
		
		<section class="section gallery">
			<div class="section__wrp gallery__wrp">
				<div class="gallery__list">
					<div class="gallery__item">
						<img src="images/suits.jpg" alt="gallery-image" class="gallery__item-img js-fit"
						srcset="images/suits@2x.jpg 2x, images/suits@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">Business Suits</div>
					</div>
					
					<div class="gallery__item gallery__item_long">
						<img src="images/outerwear.jpg" alt="gallery-image"
						     class="gallery__item-img js-fit"
						     srcset="images/outerwear@2x.jpg 2x, images/outerwear@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">Outerwear</div>
					</div>
					
					<div class="gallery__item">
						<img src="images/sunglasses.jpg" alt="gallery-image"
						     class="gallery__item-img js-fit"
						     srcset="images/sunglasses@2x.jpg 2x, images/sunglasses@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">Sunglasses</div>
					</div>
					
					<div class="gallery__item gallery__item_long">
						<img src="images/city-men.jpg" alt="gallery-image"
						     class="gallery__item-img js-fit"
						     srcset="images/city-men@2x.jpg 2x, images/city-men@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">City style</div>
					</div>
					
					<div class="gallery__item">
						<img src="images/accessories.jpg" alt="gallery-image"
						     class="gallery__item-img js-fit"
						     srcset="images/accessories@2x.jpg 2x, images/accessories@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">Accessories</div>
					</div>
					
					<div class="gallery__item gallery__item_long">
						<img src="images/shoes-man.jpg" alt="gallery-image"
						     class="gallery__item-img js-fit"
						     srcset="images/shoes-man@2x.jpg 2x, images/shoes-man@3x.jpg 3x">
						<a href="catalog.html" class="gallery__item-link">link</a>
						<div class="gallery__item-heading">Lifestyle shoes</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section brands">
			<div class="section__wrp brands__wrp">
				<div class="brands__list">
					<a href="catalog.html" class="brands__item">A.P.C.</a>
					
					<a href="catalog.html" class="brands__item">Alexander McQueen</a>
					
					<a href="catalog.html" class="brands__item">Alise Rugs</a>
					
					<a href="catalog.html" class="brands__item">Alo Yoga</a>
					
					<a href="catalog.html" class="brands__item">Ann Demeulemeester</a>
					
					<a href="catalog.html" class="brands__item">AquaGuard</a>
					
					<a href="catalog.html" class="brands__item">ATM Anthony Thomas Melillo</a>
					
					<a href="catalog.html" class="brands__item">Aspesi</a>
					
					<a href="catalog.html" class="brands__item">Badgley Mischka</a>
					
					<a href="catalog.html" class="brands__item">Balenciaga</a>
					
					<a href="catalog.html" class="brands__item">Barba</a>
					
					<a href="catalog.html" class="brands__item">Ben Sherman</a>
					
					<a href="catalog.html" class="brands__item">Betsey Johnson</a>
					
					<a href="catalog.html" class="brands__item">Blank NYC</a>
					
					<a href="catalog.html" class="brands__item">Brave Soul</a>
					
					<a href="catalog.html" class="brands__item">C&F Enterprises</a>
					
					<a href="catalog.html" class="brands__item">Canada Goose</a>
					
					<a href="catalog.html" class="brands__item">Capel Rugs</a>
					
					<a href="catalog.html" class="brands__item">Champion</a>
					
					<a href="catalog.html" class="brands__item">Columbia</a>
					
					<a href="catalog.html" class="brands__item">Cyan Design</a>
					
					<a href="catalog.html" class="brands__item">Daily Ritual</a>
					
					<a href="catalog.html" class="brands__item">Dell'Oglio</a>
					
					<a href="catalog.html" class="brands__item">Diane Von Fürstenberg</a>
					
					<a href="catalog.html" class="brands__item">Dion Lee</a>
					
					<a href="catalog.html" class="brands__item">DL1961</a>
					
					<a href="catalog.html" class="brands__item">Dooney & Bourke</a>
					
					<a href="catalog.html" class="brands__item">Dr. Martens</a>
					
					<a href="catalog.html" class="brands__item">Easy Spirit</a>
					
					<a href="catalog.html" class="brands__item">Emilio Pucci</a>
				</div>
				
				<div class="brands__footer">
					<a href="catalog.html" class="brands__link">Все бренды</a>
				</div>
			</div>
		</section>
		
		<section class="section banner" style="background-image:url('images/dress-men.jpg');">
			<div class="section__wrp banner__wrp">
				<div class="banner__content">
					<div class="banner__content-text">
						Мужская мода никогда не&nbsp;была настолько разнообразной и&nbsp;полной трендового и&nbsp;умного дизайна. Не&nbsp;имеет значения, какие у&nbsp;вас вкусы или стиль&nbsp;&mdash; подойдет все, и&nbsp;вы&nbsp;можете быть уверенными и&nbsp;яркими. Если вы&nbsp;ищете профессиональную рабочую одежду или <nobr>что-то</nobr> причудливое для планов на&nbsp;выходные, вы&nbsp;можете найти целый ряд отличных стилей и&nbsp;вдохновения для вашего гардероба. Богатый цвет и&nbsp;дизайн&nbsp;&mdash; мода для женщин полна выбора и&nbsp;вдохновения, чтобы получить идеальный внешний вид каждый раз.
					</div>
					
					<a href="contacts.html" class="banner__content-button button button_theme_black button_size_xs">
						Наши магазины
					</a>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
