@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Статус заказа</span>
			</div>
		</section>
		<section class="section">
			<div class="section__wrp">
				<div class="section__header">
					<h1>Политика конфиденциальности</h1>
				</div>
				
				<div class="section__article article article_m">
					<p>Когда мы&nbsp;используем &laquo;мы&raquo;, &laquo;нас&raquo; или &laquo;наш&raquo;, мы&nbsp;имеем в&nbsp;виду ИП&nbsp;Дресс <nobr>А. П. Когда</nobr> мы&nbsp;используем &laquo;вы&raquo; или &laquo;ваш&raquo;, мы&nbsp;подразумеваем вас, лицо, воспользовавшееся нашими услугами. Компания ИП&nbsp;Дресс А. П. предоставляет услуги на&nbsp;сайте www.dressup.ru (&laquo;Сайт&raquo;). Наша компания зарегистрирована в&nbsp;России (ОГРН 31278454640528) и&nbsp;расположена по&nbsp;адресу 190020, <nobr>Санкт-Петербург</nobr> г, Дрессаповская ул., дом &#8470;&nbsp;11, квартира 22. Мы&nbsp;считаем своей обязанностью обеспечивать конфиденциальность ваших данных. Мы&nbsp;собираем, храним и&nbsp;используем ваши персональные данные в&nbsp;соответствии с&nbsp;Федеральным законом Российской Федерации &#8470;&nbsp;<nobr>152-ФЗ</nobr> &laquo;О&nbsp;персональных данных&raquo; и&nbsp;другими применимыми местными законами.</p>
					
					<p>Целью Политики является информирование вас о&nbsp;том, как мы&nbsp;будем использовать ваши персональные данные, полученные нами от&nbsp;вас через Сайт. Пожалуйста, внимательно ознакомьтесь с&nbsp;ней, прежде чем продолжить использование Сайта. Посещая наш Сайт, вы&nbsp;обязуетесь соблюдать настоящую Политику и&nbsp;соглашаетесь с&nbsp;ее&nbsp;условиями.</p>
					
					<h3>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
					
					<p>Предоставляя свое согласие на&nbsp;обработку персональных данных при регистрации на&nbsp;данном Сайте, оформлении заказа или при направлении сообщений через форму обратной связи, вы&nbsp;соглашаетесь с&nbsp;Политикой и&nbsp;ее&nbsp;применением при обработке ваших персональных данных.
						При этом вы&nbsp;имеете право в&nbsp;любой момент отозвать ранее данное вами согласие на&nbsp;обработку персональных данных, направив нам соответствующее заявление по&nbsp;адресу: г.&nbsp;<nobr>Санкт-Петербург</nobr>, 197101, ул.&nbsp;Кронверкская, дом 23, офис 400. При этом в&nbsp;отдельных случаях, предусмотренных применимым законодательством, мы&nbsp;можем продолжить обработку Ваших данных и&nbsp;после такого отзыва согласия (например, с&nbsp;целью полного исполнения наших обязательств по&nbsp;Пользовательскому соглашению).
						Ваше согласие на&nbsp;обработку персональных данных, данное на&nbsp;Сайте, приравнивается к&nbsp;согласию в&nbsp;письменной форме, как оно определено в&nbsp;п. 4 ст. 9 Федерального закона &#8470;&nbsp;<nobr>152-ФЗ</nobr> &laquo;О&nbsp;персональных данных&raquo;.</p>
					
					<h3>ВАШИ ПЕРСОНАЛЬНЫЕ ДАННЫЕ И КАК МЫ ИХ ИСПОЛЬЗУЕМ</h3>
					
					<p>Вы&nbsp;можете пользоваться большей частью нашего Сайта без предоставления <nobr>каких-либо</nobr> персональных данных. Однако если вы&nbsp;хотите отправить нам сообщение или пообщаться онлайн, получать рассылку или специальные предложения по&nbsp;электронной почте, заказать товар или услуги, тогда вам потребуется предоставить определённую информацию.
						Ваши персональные данные могут включать ваши имя, фамилию, адрес или месторасположение, номер телефона и&nbsp;адрес электронной почты, текст вашего сообщения или любую другую информацию, которую вы&nbsp;нам присылаете, используя форму обратной связи.
						Обработка вышеуказанных персональных данных будет осуществляться путем смешанной обработки персональных данных (сбор, систематизация, накопление, хранение, уточнение (обновление, изменение использования, распространение, передача, обезличивание, блокирование, уничтожение персональных данных).
						Пожалуйста, обратите внимание, что после оформления заказа будет создан ваш личный аккаунт (вы&nbsp;будете зарегистрированы на&nbsp;Сайте). Вы&nbsp;можете сделать свой аккаунт более персонифицированным. Вы&nbsp;также можете пригласить своих друзей на&nbsp;Сайт (например, используя Facebook, Twitter и&nbsp;другие социальные сети).
						Мы&nbsp;запрашиваем ваш номер телефона, чтобы продолжить обработку вашего заказа и&nbsp;чтобы сообщить о&nbsp;его статусе. Этот номер может быть передан курьеру, непосредственно осуществляющему доставку заказанного товара, чтобы мы&nbsp;могли держать вас в&nbsp;курсе процесса доставки. Вы&nbsp;также можете предоставить нам информацию о&nbsp;ваших параметрах, чтобы мы&nbsp;смогли обеспечить более индивидуальный подход в&nbsp;организации вашего процесса покупки.
						Обратите внимание, что мы&nbsp;не&nbsp;обрабатываем и&nbsp;не&nbsp;храним данные о&nbsp;платежных картах, используемых при оплате. Мы&nbsp;сотрудничаем с&nbsp;третьими лицами для обработки платежей, и&nbsp;только эти лица будут иметь доступ к&nbsp;данным ваших платежных карт.
						Мы&nbsp;также сохраняем информацию о&nbsp;товарах, приобретённых вами. Таким образом, мы&nbsp;можем быстрее разобраться с&nbsp;любыми возникшими проблемами или запросами, а&nbsp;также удостовериться, что вся отсылаемая вам информация является релевантной.
						Когда вы&nbsp;посещаете наш Сайт, мы&nbsp;автоматически собираем определённые данные о&nbsp;вас. Для получения развёрнутой информации по&nbsp;данному вопросу, пожалуйста, обратитесь к&nbsp;разделу ниже &laquo;Cookies и&nbsp;прочие технологии отслеживания&raquo;.
						Цель обработки ваших персональных данных&nbsp;&mdash; предоставление вам услуг в&nbsp;соответствии с&nbsp;условиями Пользовательского соглашения.</p>
					
					<p>Собранная информация позволяет нам:</p>
					
					<ul>
						<li>Предоставить товары и&nbsp;услуги, которые вы&nbsp;заказали;</li>
						
						<li>Подтвердить вашу личность и&nbsp;детали вашего способа оплаты или счёта кредитной карты;</li>
						
						<li>Управлять нашим Сайтом и&nbsp;оказывать услуги клиентам;</li>
						
						<li>Планировать и&nbsp;управлять коммерческой деятельностью, включающей анализ ваших привычек, предпочтений по&nbsp;товарам и&nbsp;стилям;</li>
						
						<li>Общаться с&nbsp;вами (включая электронную почту и&nbsp;телефон в&nbsp;случае, если вы&nbsp;предоставили такие данные);</li>
						
						<li>Сообщать вам о&nbsp;наших предложениях, услугах или товарах.</li>
					</ul>
					
					<p>Ваше согласие, данное на&nbsp;Сайте, действует до&nbsp;достижения цели обработки ваших персональных данных.
						Вы&nbsp;соглашаетесь с&nbsp;тем, что мы&nbsp;можем передать ваши персональные данные нашим поставщикам услуг и&nbsp;агентам для достижения указанной выше цели. Это будет сделано конфиденциально и&nbsp;только в&nbsp;мере, допустимой законодательством о&nbsp;персональных данных и&nbsp;рекламе. Таковыми поставщиками услуг и&nbsp;агентами без ограничения могут быть любые третьи лица, которые участвуют в&nbsp;предоставлении услуг клиентам, обработке платежей, проверке личности или выявлению случаев мошенничества, хостингу или поддержке Сайта.
						В&nbsp;исключительных случаях мы&nbsp;можем раскрыть данные вашего аккаунта и&nbsp;ваши персональные данные иным лицам, если это будет необходимо в&nbsp;соответствии с&nbsp;законом; для соблюдения или применения Пользовательского соглашения и&nbsp;других документов; для защиты прав, имущества, безопасности компании ИП&nbsp;Дресс А. П., наших пользователей или&nbsp;других третьих лиц (при условии, что при этом не&nbsp;будут нарушаться ваши права и&nbsp;свободы).
						Раскрытие вашего аккаунта и&nbsp;других персональных данных включает в&nbsp;себя обмен информацией с&nbsp;другими компаниями и&nbsp;организациями для проверки личности и&nbsp;в&nbsp;целях защиты от&nbsp;мошенничества. Указанные действия выполняются в&nbsp;мере, допустимой применимыми законами. Пожалуйста, звоните нам по&nbsp;номеру <nobr>
							<a href="tel: +78001000000">8 (800) 100-00-00</a></nobr> (с&nbsp;10:00 до&nbsp;19:00 ежедневно), если вы&nbsp;хотите получить дополнительную информацию по&nbsp;этому вопросу.
						Если мы&nbsp;продадим весь или часть нашего бизнеса или совершим продажу или передачу имущества, включая продажу в&nbsp;случае банкротства или любым другим способом, то&nbsp;мы&nbsp;можем передать ваши персональные данные третьим лицам в&nbsp;качестве части такого имущества в&nbsp;рамках соответствующей сделки. Мы&nbsp;можем опубликовывать и&nbsp;передавать совокупную, анонимную статистику о&nbsp;количестве посетителей нашего Сайта или числе покупок третьим лицам, включая наших инвесторов.</p>
					
					
					<h3>COOKIE И ПРОЧИЕ ТЕХНОЛОГИИ ОТСЛЕЖИВАНИЯ</h3>
					
					<p>Наш сайт использует файлы cookie и&nbsp;похожие технологии, чтобы гарантировать максимальное удобство для вас, предоставляя персонализированную информацию, запоминая предпочтения в&nbsp;области маркетинга и&nbsp;нашей продукции, а&nbsp;также помогая получить корректную информацию. При использовании Сайта, вы&nbsp;подтверждаете свое согласие на&nbsp;использование файлов cookie в&nbsp;соответствии с&nbsp;настоящим уведомлением в&nbsp;отношении данного типа файлов. Если вы&nbsp;не&nbsp;согласны с&nbsp;тем, чтобы мы&nbsp;использовали данный тип файлов, то&nbsp;вы&nbsp;должны соответствующим образом установить настройки вашего браузера или не&nbsp;использовать сайт
						<a href="www.dressup.ru"></a>www.dressup.ru</p>
					
					<h3>ЧТО ТАКОЕ COOKIE И ПОХОЖИЕ ТЕХНОЛОГИИ?</h3>
					
					<p>Файл cookie представляет собой небольшой файл, обычно состоящий из&nbsp;букв и&nbsp;цифр. Этот файл сохраняется на&nbsp;вашем компьютере, планшетном ПК, телефоне или&nbsp;другом устройстве, которое вы&nbsp;используете для посещения сайта. Файлы cookie широко используются владельцами сайтов для обеспечения работы сайтов или повышения эффективности работы, а&nbsp;также для получения аналитической информации.</p>
					
					<p>Мы&nbsp;и&nbsp;наши поставщики услуг можем использовать на&nbsp;наших сайтах различные типы файлов cookie:</p>
					
					<ul>
						<li>Строго необходимые файлы cookie. Эти файлы cookie необходимы, чтобы сайт работал корректно, они позволят вам передвигаться по&nbsp;нашему сайту и&nbsp;использовать его возможности. Эти файлы не&nbsp;идентифицируют вас как личность. Если вы&nbsp;не&nbsp;согласны использовать данный тип файлов, это может оказать влияние на&nbsp;производительность <nobr>веб-сайта</nobr>.</li>
						
						<li>Файлы cookie, относящиеся к&nbsp;производительности, эффективности и&nbsp;аналитике. Эти файлы помогают нам понять, как вы&nbsp;взаимодействуете с&nbsp;нашим сайтом, какие разделы посещаете и&nbsp;сколько времени проводите в&nbsp;каждом из&nbsp;них, так&nbsp;же они показывают проблемы в&nbsp;работе <nobr>интернет-ресурса</nobr>, например, сообщения об&nbsp;ошибках. Это поможет нам улучшить работу сайта. Файлы cookie, относящиеся к&nbsp;аналитике, также помогают нам измерять эффективность рекламных кампаний и&nbsp;оптимизировать содержание сайтов для тех, кого заинтересовала наша реклама. Данный тип файлов cookies не&nbsp;может быть использован для вашей идентификации. Вся информация, которая собирается и&nbsp;анализируется, анонимна.</li>
						
						<li>Функциональные файлы cookie. Эти файлы cookie служат для того, чтобы узнавать, что вы&nbsp;вернулись на&nbsp;наш Сайт. Они позволяют нам индивидуально подбирать содержание сайта для вас, приветствовать вас по&nbsp;имени и&nbsp;запоминать ваши предпочтения. Если вы&nbsp;блокируете этот тип файлов, то&nbsp;это может повлиять на&nbsp;производительность и&nbsp;функциональность Сайта и&nbsp;может ограничить доступ к&nbsp;контенту на&nbsp;Сайте.</li>
						
						<li>Рекламные файлы cookie. В&nbsp;эти файлы cookie записываются сведения о&nbsp;ваших действиях в&nbsp;Интернете, в&nbsp;том числе о&nbsp;посещении нашего Сайта и&nbsp;страниц, а&nbsp;также данные о&nbsp;ссылках и&nbsp;рекламе, которые вы&nbsp;выбирали для просмотра. Одна из&nbsp;целей, которые мы&nbsp;ставим перед собой,&nbsp;&mdash; отражать на&nbsp;наших <nobr>веб-сайтах</nobr> тот контент, который наиболее полно ориентирован на&nbsp;вас. Другая цель&nbsp;&mdash; обеспечить нам и&nbsp;нашим поставщикам услуг возможность предоставления рекламной или&nbsp;другой информации в&nbsp;более точном соответствии с&nbsp;вашими явными интересами. (Действуя таким образом, мы&nbsp;и&nbsp;наши поставщики привлекаем таких партнеров, как информационные порталы, платформы управления данными и&nbsp;платформы изучения спроса, которые предоставляют помощь в&nbsp;обработке таких данных.) Например, если вы&nbsp;просматриваете страницу нашего сайта, посвященную <nobr>какой-либо</nobr> определенной продукции, мы&nbsp;можем сделать так, чтобы на&nbsp;всех наших сайтах или на&nbsp;других сайтах вы&nbsp;видели рекламу, связанную с&nbsp;этой (или аналогичной) продукцией и&nbsp;сопутствующими услугами. Мы&nbsp;можем дополнительно использовать другие данные и&nbsp;информацию, собранную с&nbsp;помощью указанных файлов cookie, в&nbsp;том числе информацию, полученную от&nbsp;третьих лиц, в&nbsp;целях предоставления вам рекламы.</li>
						
					</ul>
					
					<h3>КАК ДОЛГО ФАЙЛЫ COOKIE ХРАНЯТСЯ НА&nbsp;УСТРОЙСТВЕ?</h3>
					
					<p>Некоторые файлы cookie действуют с&nbsp;момента вашего входа на&nbsp;сайт до&nbsp;конца данной конкретной сессии работы в&nbsp;браузере. При закрытии браузера эти файлы становятся ненужными и&nbsp;автоматически удаляются. Такие файлы cookie называются &laquo;сеансовыми&raquo;.
						Некоторые файлы cookie сохраняются на&nbsp;устройстве и&nbsp;в&nbsp;промежутке между сессиями работы в&nbsp;браузере&nbsp;&mdash; они не&nbsp;удаляются после закрытия браузера. Такие файлы cookie называются &laquo;постоянными&raquo;. Срок хранения постоянных файлов cookie на&nbsp;устройстве различается для разных файлов cookie. Мы&nbsp;и&nbsp;другие компании используем постоянные файлы cookie в&nbsp;различных целях: например, чтобы точнее определить, как часто вы&nbsp;посещаете наш Сайт или как часто вы&nbsp;на&nbsp;них возвращаетесь, как с&nbsp;течением времени меняется характер использования наших сайтов, а&nbsp;также для оценки эффективности рекламы.</p>
					
					<h3>КТО РАЗМЕЩАЕТ ФАЙЛЫ COOKIE НА&nbsp;УСТРОЙСТВЕ?</h3>
					
					<p>Файлы cookie могут размещаться на&nbsp;вашем устройстве администрацией сайта nepovtorimie.ru. Эти файлы cookie называются &laquo;собственными&raquo;. Некоторые файлы cookie могут размещаться на&nbsp;вашем устройстве другими операторами. Такие файлы cookie называются файлами &laquo;третьих лиц&raquo;. Мы&nbsp;и&nbsp;третьи лица можем использовать файлы cookie, чтобы узнать, когда вы&nbsp;посещаете наши сайты, как взаимодействуете с&nbsp;электронной почтой, рекламой и&nbsp;другим контентом. На&nbsp;основе файлов cookie может собираться и&nbsp;использоваться обобщенная и&nbsp;другая информация, не&nbsp;связанная с&nbsp;идентификацией отдельных пользователей (например, об&nbsp;операционной системе, версии браузера и&nbsp;<nobr>URL-адресе</nobr>, с&nbsp;которого выполнен переход на&nbsp;данную страницу, в&nbsp;том числе из&nbsp;электронного письма или рекламного объявления)&nbsp;&mdash; благодаря этому мы&nbsp;можем предоставить вам более широкие возможности и&nbsp;проанализировать маршруты посещения сайтов. Такая технология позволяет подсчитать количество пользователей, которые посетили конкретный сервис, перейдя по&nbsp;ссылке с&nbsp;определенного баннера за&nbsp;пределами данного сайта, по&nbsp;текстовой ссылке или изображениям, включенным в&nbsp;рассылку. Кроме того, она служит инструментом для сбора обобщенной статистики об&nbsp;использовании сайта в&nbsp;целях аналитического исследования и&nbsp;помогает нам оптимизировать наши сайты, предлагать рекламу в&nbsp;соответствии с&nbsp;вашими интересами, как подробно описано ниже.</p>
					
					<h3>КАКИМ ОБРАЗОМ ИСПОЛЬЗУЕТСЯ <nobr>ИНТЕРНЕТ-РЕКЛАМА</nobr> И&nbsp;МОБИЛЬНАЯ РЕКЛАМА?</h3>
					
					<p>Мы&nbsp;вместе с&nbsp;третьими лицами, включая технологических партнеров и&nbsp;поставщиков услуг, участвуем в&nbsp;ориентированной на&nbsp;интересы пользователей рекламной деятельности, предоставляя рекламу и&nbsp;персонализированный контент, который, по&nbsp;нашему мнению и&nbsp;по&nbsp;мнению других рекламодателей, будет представлять интерес для вас. Сторонние поставщики используют файлы cookie при реализации сервисов для нас или&nbsp;других компаний; в&nbsp;таких случаях мы&nbsp;не&nbsp;контролируем использование указанной технологии или полученной при этом информации и&nbsp;не&nbsp;несем ответственности за&nbsp;любые действия или политики третьих лиц.<br />
						Реклама может предоставляться вам с&nbsp;учетом характера вашей деятельности в&nbsp;Интернете или при использовании мобильных устройств, а&nbsp;также с&nbsp;учетом ваших действий при поиске, ваших откликов на&nbsp;одно из&nbsp;наших рекламных объявлений или электронных писем, посещенных вами страниц, вашего географического региона или&nbsp;другой информации. Такие рекламные объявления могут появляться на&nbsp;нашем сайте или на&nbsp;сайтах третьих лиц. Технологические партнеры, с&nbsp;которыми мы&nbsp;сотрудничаем и&nbsp;которые помогают нам проводить рекламные кампании с&nbsp;учетом ваших интересов, могут являться участниками саморегулируемых ассоциаций.</p>
					
					<h3>КАК УПРАВЛЯТЬ ФАЙЛАМИ COOKIE?</h3>
					
					<p>Большинство <nobr>интернет-браузеров</nobr> изначально настроены автоматически принимать cookie. Вы&nbsp;можете изменить настройки таким образом, чтобы блокировать cookie или предупреждать пользователя, когда файлы данного типа будут отправлены на&nbsp;устройство. Есть несколько способов управления cookie. Пожалуйста, обратитесь к&nbsp;инструкции браузера для того, чтобы узнать больше о&nbsp;том, как скорректировать или изменить настройки браузера. Если отключить cookie, которые мы&nbsp;используем, то&nbsp;это может повлиять на&nbsp;вашу работу в&nbsp;Интернете, в&nbsp;то&nbsp;время как на&nbsp;www.nepovtorimie.ru вы, возможно, не&nbsp;сможете получать персональную информацию при посещении сайта. Если вы&nbsp;используете различные устройства для просмотра и&nbsp;доступа к&nbsp;нашему сайту(например, компьютер, смартфон, планшет <nobr>и т. д.</nobr>), вы&nbsp;должны убедиться, что каждый браузер на&nbsp;каждом устройстве настроен в&nbsp;соответствии с&nbsp;вашей точкой зрения на&nbsp;работу с&nbsp;файлами cookie.</p>
					
					<h3>ДОСТУП К&nbsp;ВАШИМ ПЕРСОНАЛЬНЫМ ДАННЫМ</h3>
					
					<p>Чтобы получить информацию о&nbsp;том, какие ваши персональные данные мы&nbsp;обрабатываем, или чтобы направить любой другой запрос касательно ваших прав как субъекта персональных данных (включая например, право исправлять любые неточности или возражать против использования данных), пожалуйста, свяжитесь с&nbsp;нами по&nbsp;телефону <nobr>
						<a href="tel: +78003503095">8 (800) 350-30-95</a></nobr> (с&nbsp;10:00 до&nbsp;22:00 ежедневно). Копии ваших персональных данных и&nbsp;информация о&nbsp;них предоставляются вам бесплатно.</p>
					
					<h3>КОММУНИКАЦИЯ И&nbsp;МАРКЕТИНГ</h3>
					
					<p>Чтобы подписаться на&nbsp;нашу рассылку с&nbsp;информацией о&nbsp;наших новых товарах, услугах, интересном материале и&nbsp;событиях, чтобы получать специальные предложения по&nbsp;электронной почте или телефону, пожалуйста, заполните форму подписки. Если вы&nbsp;осуществляете покупки на&nbsp;нашем Сайте, мы&nbsp;также можем иногда использовать адрес Вашей электронной почты, чтобы выслать нашу рассылку и&nbsp;сообщить о&nbsp;специальных предложениях.<br />
						Вы&nbsp;можете отказаться от&nbsp;таких коммуникаций в&nbsp;любое время через ссылку &laquo;Отписаться&raquo;, которая будет частью любого отсылаемого электронного письма, либо по&nbsp;телефону <nobr>
							<a href="tel: +78001000000">8 (800) 100-00-00</a></nobr> (с&nbsp;10:00 до&nbsp;19:00 ежедневно).</p>
					
					<p>По&nbsp;вопросам, касающимся настоящей политики, обращайтесь, пожалуйста, по&nbsp;адресу <a href="mailto:hello@dressup.ru">hello@dressup.ru</a>.</p>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
