@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Женщинам</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<a href="catalog.html" class="breadcrumbs__link">Одежда</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Футболка с принтом</span>
			</div>
		</section>
		
		<section class="section product">
			<div class="section__wrp product__wrp">
				<div class="product__grid grid grid_v_start">
					<div class="product__gallery js-product-gallery">
						<div class="product__gallery-grid active js-product-grid" data-grid-id="0">
							<div class="product__gallery-grid-wrp grid grid_v_start grid_wrap js-product-grid-wrp">
								<a href="images/card/card-1-1.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-1">
									<img src="images/card/card-1-1.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/card-1-2.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-1">
									<img src="images/card/card-1-2.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/card-1-3.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-1">
									<img src="images/card/card-1-3.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/card-1-4.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-1">
									<img src="images/card/card-1-4.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
							</div>
							
							<div class="product__gallery-grid-progress js-product-grid-progress"></div>
						</div>
						
						<div class="product__gallery-grid js-product-grid" data-grid-id="1">
							<div class="product__gallery-grid-wrp grid grid_v_start grid_wrap js-product-grid-wrp">
								<a href="images/card/product/product-3-1.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-1.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-3-2.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-2.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-3-3.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-3.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-3-4.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-4.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-3-5.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-5.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-3-6.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-2">
									<img src="images/card/product/product-3-6.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
							</div>
							
							<div class="product__gallery-grid-progress js-product-grid-progress"></div>
						</div>
						
						<div class="product__gallery-grid js-product-grid" data-grid-id="2">
							<div class="product__gallery-grid-wrp grid grid_v_start grid_wrap js-product-grid-wrp">
								<a href="images/card/product/product-2-1.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-1.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-2-2.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-2.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-2-3.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-3.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-2-4.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-4.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-2-5.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-5.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
								
								<a href="images/card/product/product-2-6.jpg" class="product__gallery-item js-gallery-item"
								   data-fancybox="product-gallery-3">
									<img src="images/card/product/product-2-6.jpg" alt="product-image"
									     class="product__gallery-img js-fit">
								</a>
							</div>
							
							<div class="product__gallery-grid-progress js-product-grid-progress"></div>
						</div>
					
					</div>
					
					<div class="product__info">
						<div class="product__info-mark grid">
							<span class="product__info-mark-sale caption caption_size_m">
								Sale
							</span>
							
							<span class="product__info-mark-new caption caption_size_m">
								New
							</span>
						</div>
						
						<div class="product__info-title">
							Футболка с принтом тай-дай The Powerpuff Girls
						</div>
						
						<div class="product__info-price grid grid_v_center">
							<span class="product__info-price-disc caption caption_size_m">
								40%
							</span>
							
							<span class="product__info-price-old caption caption_size_m">
								3 100 руб.
							</span>
							
							<span class="product__info-price-new caption caption_size_l">
							1 200 руб.
							</span>
						</div>
						
						<div class="product__info-parameter">
								<div class="product__info-parameter-caption caption caption_size_m">
									Цвета
								</div>
								
								<div class="product__info-parameter-grid grid js-parameters">
									<div class="product__info-parameter-item active js-product-parameter" 
									     data-parameter-id="0">
										<img src="images/card/color/color-1.jpg" alt="color image" 
										     class="product__info-parameter-img js-fit"
										     title="Зеленый">
									</div>
									
									<div class="product__info-parameter-item js-product-parameter"
									     data-parameter-id="1">
										<img src="images/card/color/color-2.jpg" alt="color image" 
										     class="product__info-parameter-img js-fit"
										     title="Фуксия">
									</div>
									
									<div class="product__info-parameter-item js-product-parameter"
									     data-parameter-id="2">
										<img src="images/card/color/color-3.jpg" alt="color image" 
										     class="product__info-parameter-img js-fit"
										     title="Синий">
									</div>
								</div>
						</div>
						
						<div class="product__info-square grid js-product-size-block">
							<div class="product__info-square-item active js-product-size">
								<div class="product__info-square-caption caption caption_size_m">
									Xs
								</div>
							</div>
							
							<div class="product__info-square-item js-product-size">
								<div class="product__info-square-caption caption caption_size_m">
									S
								</div>
							</div>
							
							<div class="product__info-square-item js-product-size">
								<div class="product__info-square-caption caption caption_size_m">
									M
								</div>
							</div>
							
							<div class="product__info-square-item js-product-size">
								<div class="product__info-square-caption caption caption_size_m">
									L
								</div>
							</div>
							
							<div class="product__info-square-item disabled js-product-size">
								<div class="product__info-square-caption caption caption_size_m">
									XL
								</div>
							</div>
						</div>
						
						<div class="product__info-link">
							<a href="#modal-size" class="product__info-link-item caption caption_size_m js-popup-link">
								Узнайте свой размер
							</a>
						</div>
						
						<div class="product__info-link">
							<a href="#modal-product-info" class="product__info-link-item caption caption_size_m js-popup-link">
								Состав и уход за товаром
							</a>
						</div>
						
						<div class="product__info-buttons">
							<button class="product__info-buttons-button product__info-buttons-button_g button 
							button_theme_black button_size_g js-product-button-cart"
							data-alt-text="Товар в корзине">
								Добавить в корзину
							</button>
							
							<div class="product__info-buttons-grid grid grid_h_between">
								<a href="#modal-one-click" class="product__info-buttons-button button button_theme_white button_size_s js-popup-link">
									Купить в 1 клик
								</a>
								
								<button class="product__info-buttons-button button 
								button_theme_white button_size_s js-product-button-fav"
								        data-alt-text="Товар в избранном">
									Добавить в избранное
								</button>
							</div>
						</div>
						
						<div class="product__info-text caption caption_size_m">
							Стильная повседневная модель. Свободная футболка с&nbsp;контрастным принтом на&nbsp;груди. Выполнена из&nbsp;мягкого хлопкового трикотажа, приятного на&nbsp;ощупь.
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		@@include('components/_similar.html', {"title": "Похожие товары"})
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
