@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Возвраты</span>
			</div>
		</section>
		<section class="section">
			<div class="section__wrp">
				<div class="section__header">
					<h1>Возвраты</h1>
				</div>
				
				<div class="section__article article">
					<p>Возврат осуществляется в&nbsp;течении 14 дней с&nbsp;момента получения заказа.</p>
					
					<p>Для возврата товара вам необходимо:</p>
					
					<ol>
						<li>Подготовить документы на&nbsp;возврат:
							<ul>
								<li>Накладную (прилагается к&nbsp;каждому заказу)</li>
								
								<li>Копию паспорта (или иного документа, удостоверяющего личность)</li>
								
								<li>Заявление на&nbsp;возврат (Возврат денежных средств осуществляется на&nbsp;банковский счет, который вы&nbsp;указали в&nbsp;заявлении)</li>
							</ul>
						</li>
						
						<li>
							Передать товар в&nbsp;любой наш магазин или отправить нам посылку с&nbsp;помощью Почты России по&nbsp;адресу, который вам продиктует наш&nbsp;оператор по&nbsp;тел.: <nobr>
							<a href="tel: +78001000000"></a>8 (800) 100-00-00</nobr>
						</li>
					</ol>
					
					<p>В&nbsp;случае, если вы&nbsp;возвращаете товар ненадлежащего качества, мы&nbsp;возвращаем вам:</p>
					
					<ol>
						<li>Полную стоимость товара</li>
						
						<li>Стоимость доставки до&nbsp;вас (если вы&nbsp;возвращаете все товары из&nbsp;заказа)</li>
						
						<li>Стоимость пересылки товара Почтой России до&nbsp;нас.</li>
					</ol>
					
					<p>В&nbsp;случае, если вы&nbsp;возвращаете товар надлежащего качества (без брака), то&nbsp;мы&nbsp;возвращаем вам только стоимость товара, а&nbsp;доставку и&nbsp;пересылку товара до&nbsp;нас вы&nbsp;оплачиваете самостоятельно.</p>
					
					<h3>Товар ненадлежащего качества / бракованный товар</h3>
					
					<p>Под товаром <b>ненадлежащего качества</b> мы&nbsp;подразумеваем товар, который не&nbsp;способен обеспечить функциональные качества <nobr>из-за</nobr> значительного производственного недостатка. То&nbsp;есть&nbsp;&mdash; это должен быть бракованный товар.</p>
					
					<p>Также если вам доставили не&nbsp;тот товар, который вы&nbsp;заказывали (не&nbsp;соотвествие артикула, цвета, фасона или размера), то&nbsp;он&nbsp;тоже относится к&nbsp;товару ненадлежащего качества.</p>
					
					<p>Отличие элементов дизайна или оформления от&nbsp;заявленных в&nbsp;описании на&nbsp;сайте не&nbsp;является неисправностью или не&nbsp;функциональностью товара. Обратите ваше внимание на&nbsp;то, что при получении заказа вы&nbsp;можете проверить внешний вид, комплектность товара, а&nbsp;также комплектность всего заказа в&nbsp;момент доставки.</p>
					
					<p>При возврате товара ненадлежащего качества мы&nbsp;возвращаем вам полную стоимость товара, доставки и&nbsp;обратной пересылки. Для этого вам необходимо прислать нам ваши банковские реквизиты и&nbsp;<nobr>скан-копию</nobr> квитанции за&nbsp;оплату услуг пересылки Почтой России на&nbsp;адрес <a href="mailto:hello@dressup.ru">hello@dressup.ru</a>.</p>
					
					<p>При получении вашей посылки с&nbsp;заявкой на&nbsp;возврат товара ненадлежащего качества, у&nbsp;нас начинает работать экспертная коммиссия.</p>
					
					<p>Срок на&nbsp;рассмотрение заявки экспертной комиссией&nbsp;&mdash; четыре рабочих дня.</p>
					
					<h3>Товар надлежащего качества / товар без брака</h3>
					
					<p>Товар <b>надлежащего качества</b>, должен быть возвращен в&nbsp;сохраненном товарном виде и&nbsp;его потребительские свойства не&nbsp;должны пострадать. Товар не&nbsp;должен быть в&nbsp;употреблении. Товар надлежащего качества вы&nbsp;можете вернуть, если он&nbsp;по&nbsp;<nobr>какой-либо</nobr> причине вам не&nbsp;подходит.</p>
					
					<h3>Общие положения</h3>
					
					<p>Технические характеристики товара, размерный ряд и&nbsp;цветовая гамма могут отличаться, уточняйте технические характеристики товара на&nbsp;момент покупки и&nbsp;оплаты.</p>
					
					<p>Указанная цена не&nbsp;является офертой в&nbsp;понятии ст. 435 ГК&nbsp;РФ.</p>
					
					<p>Наша команда всегда готова предоставить любую дополнительную информацию и&nbsp;ответить на&nbsp;все вопросы в&nbsp;индивидуальном порядке.</p>
					
					<p>Мы&nbsp;любим наших клиентов, и&nbsp;готовы решать любые проблемы связанные с&nbsp;нашими товарами.</p>
					
					<p>Вы&nbsp;можете написать нам по&nbsp;адресу <a href="mailto:hello@dressup.ru">hello@dressup.ru</a> или позвонить по&nbsp;телефону <nobr>
						<a href="tel: +78001000000"></a>8 (800) 100-00-00</nobr> ежедневно с&nbsp;10.00 до&nbsp;19.00</p>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
