@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Статус заказа</span>
			</div>
		</section>
		<section class="section">
			<div class="section__wrp">
				<div class="section__header">
					<h1>Статус заказа</h1>
				</div>
				
				<div class="section__article article">					
					<h3>СДЭК</h3>
					
					<p>Для заказов, которые отправлялись службой доставки СДЭК вам необходимо перейти на&nbsp;сайт <a
							href="http://www.edostavka.ru/track.html">отслеживания заказа</a> и&nbsp;ввести туда <nobr>трек-номер</nobr> отправления.</p>
					
					<h3>Доставка (СТРИЖ, MaxiPost, Почта России)</h3>
					
					<p>Для заказов, которые отправлялись службой доставки воспользуйтесь приведенной ниже формой:</p>
					
					<p>Если вы&nbsp;не&nbsp;знаете <nobr>трек-номер</nobr> вашего заказа или есть другие вопросы<br />
						позвоните нам по&nbsp;телефону <nobr><a href="tel: +78001000000">8 (800) 100-00-00</a></nobr> или напишите на&nbsp;почту <a href="mailto:hello@dressup.ru">hello@dressup.ru</a></p>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
