@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section breadcrumbs">
			<div class="section__wrp breadcrumbs__wrp">
				<a href="index.html" class="breadcrumbs__link">Главная</a>
				
				<svg class="breadcrumbs__arrow svg"><use xlink:href="#icon-right"></use></svg>
				
				<span class="breadcrumbs__link">Заказ в обработке</span>
			</div>
		</section>
		<section class="section success">
			<div class="section__wrp success__wrp">
				<div class="success__body">
					<div class="success__picture">
						<img src="images/icons/success.svg" alt="success" class="success__img">
					</div>
					
					<div class="success__title caption caption_size_xl">
						Ваш номер заказа 3200573
					</div>
					
					<div class="success__caption caption caption_size_m">
						Платеж успешно проведен. <br />
						Наш менеджер скоро свяжется с вами.
					</div>
					
					<a href="index.html" class="success__button button button_theme_black button_size_s">
						Перейти на главную
					</a>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_popups.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
