// Base
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img, picture, svg {
	user-select: none;
}

*::selection {
	background: rgba(#000,.75);
	color: #fff;
}

*::-moz-selection {
	background: rgba(#000,.75);
	color: #fff;
}

*::-webkit-selection {
	background: rgba(#000,.75);
	color: #fff;
}

html, body {
	position: relative;
	min-height: 100%!important;
	font-size: 14px;
	font-family: $font-main;
}

body {
	-webkit-text-size-adjust:none;
	text-size-adjust: none;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: grayscale;
	
	color: #000;
	background-color: #fff;
}

a {
	transition: all 0.2s ease-out;
	outline: none;
	color: inherit;

	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin: 25px 0;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}

	@media #{$breakpointMobile} {
		margin: 15px 0;
	}
}

b, strong {
	font-weight: 600;
}

button {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

input[type="search"] {
	box-sizing: border-box!important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none;
}

input[type="text"],
input[type="submit"],
input[type="button"],
input,
select,
textarea {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	-ms-appearance: none!important;
	appearance: none!important;

	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;

	outline: 0;

	&::-ms-clear {
		display: none;
	}
}

img, figure {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	vertical-align: middle;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
