//Vars
$browser-context: 14;

//Fonts
$font-main: 'Source Sans Pro', sans-serif;

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1365px)';
$breakpointTablet: 'screen and (max-width: 1024px)';
$breakpointMobile: 'screen and (max-width: 767px)';
$breakpointHover: 'screen and (min-width: 1025px)';

//Colors
$grey-text: #9b9b9b;
$pink-text: #ff5959;
$grey: #d8d8d8;
$light-grey: #d9d9d9;
$very-light-grey: #e8e8e8;
$dark-white: #f7f7f7;
$bg-grey: #f2f2f2;
$blue: #4a90e2;
$red: #d0021b;
$black: #121314;
$medium-black: #2c272d;
$light-black: #393939;





