.article {
	p {
		font-size: 18px;
		line-height: 25px;
		
		@media #{$breakpointTablet} {
			font-size: 16px;
			line-height: 24px;
		}

		@media #{$breakpointMobile} {
			font-size: 14px;
			line-height: 21px;
		}

	}
	
	h2 {
		font-size: 27px;
		line-height: 34px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 30px 0;

		&:first-child {
			margin: 0;
		}
	}
	
	h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 40px 0 0;
		
		&:first-child {
			margin: 0;
		}

		@media #{$breakpointMobile} {
			margin-top: 30px;
		}
	}
	
	h4 {
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 40px 0 0;

		&:first-child {
			margin: 0;
		}
	}
	
	
	h5 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		margin: 5px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	a:not(.button) {
		color: $blue;
	}
	
	ol,
	ul {
		margin: 25px 0;
		font-size: 18px;
		line-height: 25px;
		
		&:last-child {
			margin-bottom: 0;
		}

		@media #{$breakpointTablet} {
			font-size: 16px;
			line-height: 24px;
			padding-left: 10px;
		}

		@media #{$breakpointMobile} {
			font-size: 14px;
			line-height: 21px;
			margin: 20px 0;
		}
	}
	
	ol {
		counter-reset: myCounter;
	}
	
	li ul,
	li ol {
		margin: 12px 0;
	}

	li {
		margin-bottom: 6px;
	}
	
	ul li,
	ol li {
		list-style-type: none;
	}

	ul > li {
		&::before {
			content: '\2014\00a0';
		}
	}
	
	ol > li {
		&::before {
			counter-increment: myCounter;
			content: counter(myCounter) ". ";
		}
	}

	&_m {
		p {
			font-size: 16px;
			line-height: 24px;
			margin: 22px 0;

			@media #{$breakpointMobile} {
				font-size: 14px;
				line-height: 21px;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		& ul,
		& ol {
			font-size: 16px;
			line-height: 24px;
		}
	}
	
	&_s {
		p {
			font-size: 14px;
			line-height: 18px;
			margin: 4px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}	
}
