.banner {
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-attachment: fixed;
	background-size: cover;
	
	&__wrp {
		padding-top: 101px;
		padding-bottom: 101px;
		min-height: 560px;
		@extend .grid;
		@extend .grid_v_center;
		@extend .grid_h_center;

		@media #{$breakpointDisplay} {
			padding-top: 55px;
			padding-bottom: 55px;
			min-height: 468px;
		}

		@media #{$breakpointTablet} {
			padding-left: 40px;
			padding-right: 40px;
		}

		@media #{$breakpointMobile} {
			padding: 40px 30px;
		}
	}
	
	&__content {
		max-width: 810px;
		text-align: center;
		background-color: #fff;
		padding: 58px 90px 51px;

		@media #{$breakpointTablet} {
			padding-left: 64px;
			padding-right: 64px;
		}

		@media #{$breakpointMobile} {
			padding: 44px 25px 36px;
		}
		
		&-text {
			@extend .caption;
			@extend .caption_size_g;
		}	
		
		&-button {
			margin-top: 35px;
		}
	}
}
