.brands {
	
	&__wrp {
		padding-top: 26px;
		padding-bottom: 38px;
		@media #{$breakpointMobile} {
			
			padding-bottom: 23px;
		}
	}
	
	&__list {
		@extend .grid;
		@extend .grid_v_center;
		@extend .grid_wrap;
	}
	
	&__item {
		@extend .heading;
		@extend .heading_semibold;
		@extend .heading_type_h5;
		@include text-overflow();
		text-transform: uppercase;
		flex: 0 0 12.03125%; //154px
		margin-right: 5.5625%; //71,2px
		margin-bottom: 7px;
		
		&:nth-child(6n) {
			margin-right: 0;

			@media #{$breakpointTablet} {
				margin-right: 3.75%;
			}

			@media #{$breakpointMobile} {
				margin-right: 10%;
			}
		}

		@media #{$breakpointTablet} {
			flex-basis: 17%;
			margin-right: 3.75%;
			
			&:nth-child(5n) {
				margin-right: 0;
			}
		}

		@media #{$breakpointMobile} {
			flex-basis: 45%;
			margin-right: 10%;

			&:nth-child(5n) {
				margin-right: 10%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	
	&__footer {
		text-align: center;
	}
	
	&__link {
		display: inline-block;
		@extend .caption;
		@extend .caption_size_s;
		text-transform: uppercase;
		color: $grey-text;
		padding: 37px 40px 17px;
		
		@media #{$breakpointMobile} {
			padding-top: 30px;
		}
	}
}
