.breadcrumbs {
	
	&__wrp {
		padding-top: 10px;
		padding-bottom: 24px;
		@extend .grid;
		@extend .grid_v_center;

		@media #{$breakpointMobile} {
			padding-bottom: 14px;
		}
	}
	
	&__link {
		display: inline-block;
		padding: 10px 5px;
		@extend .caption;
		@extend .caption_size_s;
		color: $grey-text;
		
		&:first-child {
			padding-left: 0;
		}
	}
	
	&__arrow {
		width: 11px;
		height: 11px;
		margin: 2px 0 0;
		color: $grey-text;
	}
}
