[data-state="non-empty"] [data-state="empty"] {
	display: none;
}

[data-state="empty"] [data-state="non-empty"] {
	display: none;
}

.cart {
	
	&__wrp {
		
	}
	
	&__header {

		@media #{$breakpointMobile} {
			flex-direction: column;
		}
		
		&-title {
			
		}
		
		&-button {
			text-transform: none;
			letter-spacing: normal;

			@media #{$breakpointMobile} {
				margin-top: 20px;
				display: block;
			}
		}
	}
	
	&__table {
		margin-bottom: 50px;
	}
	
	&__article {
		margin-bottom: 55px;
		
		@media #{$breakpointMobile} {
			margin-bottom: 40px;
		}
	}
}
