.card {
	@extend .caption;
	@extend .caption_size_m;


	&__photo {
		position: relative;
		overflow: hidden;

		&-mark {
			position: absolute;
			top: 15px;
			left: 15px;
			text-transform: uppercase;
			white-space: nowrap;
			
			& + & {
				margin-top: 25px;
			} 
			
			&_blue {
				color: $blue;
			}
			
			&_pink {
				color: $pink-text;
			}
		}
		
		&-link {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			font-size: 0;
		}
	}
	
	&__slider {
		z-index: 0;
		
		&-wrapper {
			
		}
	}
	
	&__slide {
		position: relative;
		padding-bottom: 114.375%; //366px
		
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include object-fit(cover);
		}

		@media #{$breakpointMobile} {
			padding-bottom: 366px;
		}
	}
	
	&__preview {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		transform: translate(0, 100%);
		transition: transform 0.2s ease-in-out;
		
		&-list {
			@extend .grid;
			@extend .grid_v_center;
			padding-top: 8px;
			padding-bottom: 1px;
		}
		
		&-link {
			display: block;
			position: relative;
			padding-bottom: 84px;
			width: 23.125%; //74px
			background-color: $dark-white;
			text-align: center;
			cursor: pointer;
			
			
			& + & {
				margin-left: 8px;
			}
			
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				border: 1px solid $grey;
			}
			
			&.active::after {
				border-color: #000;
			}

			&:hover {
				filter: contrast(110%);
			}
		}
		
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include object-fit(cover);
		}
		
		&-text {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			color: $grey-text;
		}
		
		&-gallery {
			position: absolute;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__photo:hover &__preview {
		@media #{$breakpointHover} {
			transform: translate(0, 0);
		}
		
	}
	
	&__info {
		padding: 20px 10px 0;
		
		&-caption {
			display: block;
			@include text-overflow();
		}
		
		&-bottom {
			@extend .grid;
			@extend .grid_h_between;
			@extend .grid_v_center;
			margin-top: 9px;

			@media #{$breakpointDisplay} {
				align-items: flex-start;
			}
		}
		
		&-price {
			@extend .grid;
			@extend .grid_v_center;

			@media #{$breakpointDisplay} {
				flex-direction: column-reverse;
				align-items: flex-start;
			}
			
			&-item {
				
				
				@media #{$breakpointDisplay} {
					display: block;
				}
				
				&_new {
					font-weight: 600;
				}

				&_old {
					padding-right: 20px;
					color: $grey-text;
					font-weight: 400;
					text-decoration: line-through;

					@media #{$breakpointDisplay} {
						margin-top: 4px;
					}
				}
			}
			
		}
		
		&-icons {
			@extend .grid;
			@extend .grid_h_between;
			@extend .grid_v_center;
			
			&-button {
				cursor: pointer;
				
				& + & {
					margin-left: 24px;

					@media #{$breakpointDisplay} {
						margin-left: 14px;
					}
				}
			}
			
			&-img {
				display: block;
			}
		}
	}
}
