.catalog {
	
	&.open {
		overflow-x: hidden;
	}
	
	&__wrp {
		
	}
	
	&__grid {
		
	}
	
	
	&__sidebar {
		width: 200px;
		margin-top: 78px;


		@media #{$breakpointTablet} {
			display: none;
			margin-right: 20px;
		}

	}
	
	.open &__sidebar {
		display: block;
		opacity: 1;
	}
	
	&__content {
		width: calc(100% - 200px - 3.125%); //1040px

		@media #{$breakpointTablet} {
			width: 100%;
		}
	}
	
	&__header {
		@media #{$breakpointMobile} {
			flex-direction: column;
			align-items: flex-start;
		}
		
		&-title {
			text-transform: uppercase;
		}
		
		&-value {
			color: $blue;
		}
		
		&-number {
			color: $grey-text;
			margin-left: 17px;
		}
		
		&-dropdown {
			@media #{$breakpointMobile} {
				margin-top: 20px;
			}
		}
	}
	
	.open &__header {
		max-width: 508px;
	}
	
	&__search {

	}
	
	&__body {
		margin-top: 40px;

		@media #{$breakpointTablet} {
			position: relative;
		}

		@media #{$breakpointMobile} {
			margin-top: 30px;
		}
	}
	
	&__button {
		display: none;
		position: static;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
		border: 1px solid $grey;

		@media #{$breakpointTablet} {
			display: flex;
		}
		
		
		&-text {
			text-transform: uppercase;
			letter-spacing: 0.975px;
			margin-left: auto;
			margin-right: auto;
			padding-right: 15px;
		}
		
		&-icon {
			transform: rotate(0);
			color: #000;
			transition: all 0.2s ease-out;
		}
	}
	
	.open &__button {
		max-width: 508px;
		
		@media #{$breakpointMobile} {
			width: calc(100% - 220px);
		}
		
		&::after {
			position: absolute;
			content: '';
			z-index: 2;
			bottom: -38px;
			right: 0;
			top: 38px;
			left: 0;
			background-color: rgba(#fff, 0.75);
		}

		@media #{$breakpointMobile} {
			&::before {
				position: absolute;
				content: '';
				z-index: 2;
				top: -123px;
				left: 0;
				right: 0;
				height: 123px;
				background-color: rgba(#fff, 0.75);
			}
		}
	}
	
	.open &__button-icon {
		transform: rotate(-180deg);
	}

	&__list {
		@extend .grid;
		@extend .grid_v_start;
		@extend .grid_wrap;
	}

	&__card {
		margin-bottom: 58px;
		width: 30.76923076923077%; //320px

		@media #{$breakpointTablet} {
			width: calc((100% - 40px) / 3);
		}

		@media #{$breakpointMobile} {
			width: 100%;
		}
		
		& + & {
			margin-left: 3.846153846153846%;

			@media #{$breakpointTablet} {
				margin-left: 20px;
			}

			@media #{$breakpointMobile} {
				margin-left: 0;
			}
		}

		&:nth-child(3n+1) {
			margin-left: 0;
		}
		
		@media #{$breakpointDisplay} {
			margin-bottom: 40px;
		}

	}
	
	&__footer {
		
	}
	
	&__pagination {
		
		&-list {
			@extend .grid;
			@extend .grid_v_center;
		}
		
		&-item {
			text-align: center;
			
			& + & {
				margin-left: 8px;
			}
		}
		
		&-link {
			display: block;
			@extend .caption;
			@extend .caption_size_s;
			width: 37px;
			height: 37px;
			padding: 9px 0;
			border: 1px solid $grey;
			
			&:hover,
			&.active {
				border-color: #000;
			}
		}
	}
	
	&__article {
		margin-top: 79px;

		@media #{$breakpointTablet} {
			margin-top: 55px;
		}

		&-wrp {
			@include clearfix();	
		}
		
		&-photo {
			float: left;
			position: relative;
			width: 30.76923076923077%; //320px
			padding-bottom: 35.19230769230769%; //366px
			margin-right: 3.846153846153846%;

			@media #{$breakpointDisplay} {
				margin-bottom: calc(3.846153846153846%/3);
			}

			@media #{$breakpointMobile} {
				float: none;
				width: 100%;
				padding-bottom: 366px;
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
		
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include object-fit(cover);
		}
		
		&-text {
			
		}
	}
}
