.checkout {
	border-top: 1px solid $light-grey;
	
	& ~ .footer__wrp::before {
		display: none;
	}
	
	&__form {
		
	}
	
	&__body {
		
	}

	&__wrp {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		
	}

	&__grid {
		@media #{$breakpointMobile} {
			flex-direction: column;
		}
	}
	
	&__column {
		width: 420px;
		margin-right: 100px;

		@media #{$breakpointMobile} {
			width: 100%;
			margin-right: 0;
			
			& + & {
				margin-top: 30px;
			}
		}
	}
	
	&__unit {
		
		&_delivery {
			margin-bottom: 30px;
		}
		
		&_payment {
			
		}
	    
		&-heading {
			text-transform: uppercase;
			margin-bottom: 8px;
		}
	}
	
	&__radio {
		padding-top: 5px;
		margin-top: 15px;
		
		& + & {
			margin-top: 10px;
		}
	}
	
	&__footer {
		background-color: $bg-grey;
	}
	
	&__total {
		margin-bottom: 32px;
		
		&-item {
			color: $grey-text;
			
			& + & {
				margin-top: 14px;
			}
			
			&:last-child {
				margin-top: 10px;
			}
		}
		
		&-text {
			text-transform: uppercase;
			min-width: 66px;
			margin-right: 10px;
		}
		
		&-number {
			
			&_big {
				color: #000;
			}
		}
	}
	
	&__button {
		min-width: 420px;

		@media #{$breakpointMobile} {
			min-width: auto;
			width: 100%;
		}
	}
}
