.contacts {
	
	&__wrp {
		
	}
	
	&__header {

		@media #{$breakpointMobile} {
			flex-direction: column;
			align-items: flex-start;
		}
		
		&-title {
			
		}
		
		&-dropdown {
			@media #{$breakpointMobile} {
				margin-top: 20px;
			}
		}
	}
	
	&__body {
		@media #{$breakpointMobile} {
			margin-left: -30px;
			margin-right: -30px;
		}

	}
	
	&__map {
		
	}
	
	&__table {
		@extend .caption;
		@extend .caption_size_s;
		margin-top: 30px;
		border-bottom: 1px solid $grey;
		
		&-header {
			margin-bottom: 20px;
			padding-left: 30px;
			padding-right: 30px;
			text-transform: uppercase;
		}
		
		&-row {
			padding: 19px 30px;
			border-top: 1px solid $grey;
			border-left: 1px solid $grey;
			border-right: 1px solid $grey;

			@media #{$breakpointMobile} {
				padding: 15px 20px;
				display: block;
				position: relative;
			}
		}
		
		&-data {
			
			&_heading {
				font-weight: 600;
				max-width: 450px;
				flex-grow: 1;
				margin-right: 60px;

				@media #{$breakpointTablet} {
					max-width: 330px;
				}

				@media #{$breakpointMobile} {
					margin-right: 0;
					margin-bottom: 10px;
					padding-right: 40px;
				}
			}
			
			&_info {
				max-width: 304px;
				flex-grow: 1;
				margin-right: 60px;

				@media #{$breakpointTablet} {
					max-width: 220px;
					margin-right: 30px;
				}

				@media #{$breakpointMobile} {
					max-width: 100%;
					margin-right: 0;
				}
			}
			
			&_icon {
				margin-left: auto;
				cursor: pointer;

				@media #{$breakpointMobile} {
					position: absolute;
					top: 15px;
					right: 20px;
				}
			}
		}
		
		&-text {
			
		}
		
		&-phone {
			position: relative;
			display: block;
			
			&:hover {
				color: $blue;
			}

			&::before {
				content: '';
				position: absolute;
				top: -19px;
				bottom: -19px;
				left: -30px;
				right: -30px;
			}
		}
		
		
		&-link {
			position: relative;
			display: block;
			
			&::before {
				content: '';
				position: absolute;
				top: -19px;
				bottom: -19px;
				left: -30px;
				right: -30px;
			}
		}
		
		&-link:hover &-svg {
			color: $blue;
		}
		
		&-svg {
			display: block;
		}
	}
}
