.dropdown {
	@extend .caption;
	@extend .caption_size_xs;
	position: relative;
	z-index: 2;
	width: 239px;

	@media #{$breakpointMobile} {
		width: 100%;
	}
	
	&__value {
		padding: 10px 25px 10px 18px;
		border: 1px solid $grey;
		position: relative;
		cursor: pointer;
		
		&::after {
			position: absolute;
			content: '';
			top: 50%;
			transform: translate(0, -50%);
			right: 10px;
			width: 12px;
			height: 7px;
			background: url('/images/icons/dropdown.svg') 50% 50% no-repeat;
			transition: transform 0.2s ease-in-out;
		}
	}
	
	&.open &__value::after {
		transform: translate(0, -50%) rotate(180deg);
	}
	
	&__list {
		position: absolute;
		top: 38px;
		display: none;
		width: 100%;
		cursor: pointer;
		background-color: #fff;
	}
	
	&.open &__list {
		display: block;
		border-top: 1px solid $grey;
	}
	
	&__item {
		border: 1px solid $grey;
		border-top: none;
		
	}
	
	&__link {
		display: block;
		padding: 10px 25px 10px 18px;
		
		&:hover {
			background-color: $very-light-grey;
		}
	}
}
