.filter {
	&__form {
		position: relative;
	}
	
	&__title {
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_end;
		@extend .caption;
		padding-top: 25px;

		&-heading {
			@extend .caption_size_xl;
			text-transform: uppercase;
		}

		&-button {
			@extend .caption_size_s;
			color: $grey-text;
			cursor: pointer;
		}
	}
	
	&__body {
		
	}
	
	&__box {
		margin-top: 30px;
	}
	
	&__heading {
		@extend .heading;
		@extend .heading_semibold;
		@extend .heading_type_h5;
		text-transform: uppercase;
		color: $black;
	}
	
	&__content {
		padding-top: 16px;
		
		&-list {
			
		}

		&-button {
			color: $grey-text;
			cursor: pointer;
			padding-top: 1px;
			transition: color 0.15s ease-in;

			&:hover {
				color: #000;
			}
		}
	}
	
	&__label {
		position: relative;
	}
	
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
	
	&__slider {
		
		&-line {
			
		}
		
		&-caption {
			
			&-item {
				@extend .caption;
				@extend .caption_size_s;
				color: $grey-text;
			}
		}
	}
	
	&__range {
		padding-top: 14px;
		
		&-label {
			
		}
		
		&-caption {
			color: $medium-black;
			margin-right: 4px;
			min-width: 16px;
			flex-shrink: 0;
			margin-bottom: 1px;
		}
		
		&-input {
			@extend .heading;
			@extend .heading_semibold;
			@extend .heading_type_h4;
			@include placeholder($grey-text, 400);
			border: none;
			width: 72px;
			padding: 5px 0;
			border-bottom: 1px solid $very-light-grey;
		}
	}
	
	&__square {
		margin-bottom: -8px;
		
		&-label {
			margin: 0 8px 8px 0;
		}
		
		&-input {
			
		}
		
		&-item {
			position: relative;
			width: 36px;
			height: 36px;
			cursor: pointer;
			border: 1px solid $grey;
			transition: border-color 0.15s ease-in;
			user-select: none;
			
			&:hover {
				border-color: $grey-text;
			}
		}

		&-input:checked + &-item {
			border-color: #000;
		}
		
		&-input:disabled + &-item {
			pointer-events: none;
			touch-action: none;
			background-color: $dark-white;
			color: $grey;
		}
		
		&-caption {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-transform: uppercase;
		}
	}
	
	&__circle {
		margin-bottom: -15px;
		
		&-label {
			margin: 0 12px 12px 0;
		}
		
		&-input {
			
		}
		
		&-item {
			position: relative;
			cursor: pointer;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			transition: border 0.2s ease-in;
			border: 1px solid transparent;
			
			&:hover {
				border: 1px solid $grey;
			}
		}

		&-input:checked + &-item {
			border: 1px solid $light-black;
		}

		&-input:disabled + &-item {
			pointer-events: none;
			touch-action: none;
			border-color: transparent;
		}
		
		&-color {
			position: absolute;
			top: 3px;
			bottom: 3px;
			left: 3px;
			right: 3px;
			border-radius: 50%;
			
			&_white {
				border: 1px solid #f0f0f0;
			}
		}
	}
	
	&__checkbox {
		
		&.js-more-list {
			max-height: 195px;
			transition: max-height 0.2s linear;
			overflow: hidden;
			
			&.open {
				max-height: 3000px;
				height: 100% !important;
			}
		}
		
		&-label {
			margin-bottom: 15px;
		}
		
		&-input {
			
		}
		
		&-item {
			width: 24px;
			height: 24px;
			border: 1px solid $light-grey;
			transition: border 0.15s ease-in,
						background-color 0.15s ease-in;
			background-image: url('../images/icons/filter-check.svg');
			background-size: 17px 12px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			flex-shrink: 0;
			cursor: pointer;
		}
		
		&-input:checked + &-item {
			background-color: #000;
			border-color: #000;
		}

		&-input:disabled + &-item {
			pointer-events: none;
			touch-action: none;
		}
		
		&-caption {
			padding-left: 10px;
			text-transform: uppercase;
			@include text-overflow();
			cursor: pointer;
			transition: color 0.15s ease-in;
		}

		&-input:checked ~ &-caption {
			font-weight: 600;
		}
		
		&-label:hover &-caption {
			color: rgba(#000, 0.7);
		}

		&-input:disabled ~ &-caption {
			color: $grey-text;
			pointer-events: none;
			touch-action: none;
		}
	}

	&__submit {
		display: block;
		position: absolute;
		z-index: 3;
		left: 100%;
		margin-left: 8px;
		transform: translate(0, -50%);
		padding: 9px 22px;
		cursor: pointer;
		background-color: #000;
		white-space: nowrap;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 0.93px;
		font-size: 13px;
		line-height: 18px;
		opacity: 0;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			transform: translate(0, -50%);
			left: -8px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 9px 6px 0;
			border-color: transparent #000000 transparent transparent;
		}
	}
}
