.form-data {
	
	&__fail {
		display: none;
		color: $red;
		
		&-link {
			border-bottom: 1px dotted $red;
		}
		
		.result-fail & {
			display: block;
		}
		
		.checkout & {
			margin-bottom: 20px;
			margin-top: -10px;
		}
	}
	
	&__label {
		display: block;
		position: relative;
		padding-top: 22px;
		transition: padding-bottom 0.15s ease-out;
		
		&.error {
			padding-bottom: 20px;
		}
	}
	
	&__input,
	&__textarea {
		@extend .caption;
		@extend .caption_size_s;
		position: relative;
		z-index: 1;
		border: none;
		background-color: #fff;
		width: 100%;
		padding: 8px 0;
		border-bottom: 1px solid $light-grey;
		transition: border-bottom-color 0.15s ease-out;

		&:focus {
			border-bottom-color: $black;
		}

		.error-simple &,
		.error & {
			border-bottom-color: $red;
		}
	}

	&__textarea {
		min-height: 62px;
	}
	
	&__text {
		position: absolute;
		z-index: 1;
		pointer-events: none;
		touch-action: none;
		left: 0;
		top: 31px;
		color: $grey-text;
		transition: top 0.2s ease-in-out;
	}

	&__input:focus + &__text,
	&__label.filled &__text {
		top: 9px;
	}
	
	&__textarea:focus + &__text {
		bottom: 65px;
	}

	&__error {
		@extend .caption;
		@extend .caption_size_xs;
		color: $red;
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		opacity: 0;

		.error & {
			opacity: 1;
		}
	}
	
	&__caption {
		color: $grey-text;
		padding: 42px 0 26px;
	}
	
	&__link {
		
		&:hover {
			color: $black;
		}
	}
	
	&__button {
		min-width: 420px;

		@media #{$breakpointMobile} {
			min-width: auto;
			width: 100%;
		}
	}
}
