.gallery {
	
	&__wrp {
		
	}
	
	&__list {
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_start;
		@extend .grid_wrap;
	}
	
	&__item {
		position: relative;
		width: calc((100% - 110px) / 3); //390px
		margin-bottom: 30px;
		overflow: hidden;

		@media #{$breakpointDisplay} {
			width: calc((100% - 80px) / 3); //300px
			margin-bottom: 20px;
		}

		@media #{$breakpointTablet} {
			width: calc((100% - 20px) / 2);
			
			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(2) {
				order: 2;
			}

			&:nth-child(3) {
				order: 4;
			}

			&:nth-child(4) {
				order: 3;
			}

			&:nth-child(5) {
				order: 5;
			}

			&:nth-child(6) {
				order: 6;
				margin-top: 0;
			}
		}

		@media #{$breakpointMobile} {
			width: 100%;
			max-height: 360px;
		}
		
		&_long {
			margin-top: -174px;
			
			&:nth-child(6n+2) {
				margin-top: 0;
			}

			@media #{$breakpointDisplay} {
				margin-top: -132px;
			}

			@media #{$breakpointTablet} {
				margin-top: -158px;
			}

			@media #{$breakpointMobile} {
				margin-top: 0;
			}
		}
		
		&-img {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include object-fit(cover, 50% 50%);
			transition: transform 0.1s ease-in;
		}
		
		&:hover &-img {
			transform: scale(1.1);
		}
		
		&-link {
			display: block;
			position: relative;
			text-indent: -9999px;
			font-size: 0;
			padding-bottom: 100%;
			background-color: rgba(0, 0, 0, 0.15);
			
			&:hover {
				background-color: transparent;
			}
		}

		&_long &-link {
			padding-bottom: 144.6153846153846%; //564px

			@media #{$breakpointMobile} {
				padding-bottom: 100%;
			}
		}
		
		&_long:nth-child(6) &-link {
			
			@media #{$breakpointTablet} {
				padding-bottom: 100%;
			}
		}
		
		&-heading {
			@extend .heading;
			@extend .heading_semibold;
			@extend .heading_type_h1;
			color: #fff;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			text-transform: uppercase;
			width: 100%;
			padding: 10px 17%;
			pointer-events: none;
			touch-action: none;
		}
	}
}
