.map {
	position: relative;
	padding-bottom: 440px;
	
	&__popup {
		@extend .caption;
		@extend .caption_size_s;
		background-color: #fff;
		width: 370px;
		border: 1px solid #000;
		margin: 0;

		&::before, &::after {
			display: block;
			content: '';
			position: absolute;
			left: 50%; 
			bottom: -20px;
			transform: translate(-50%, 0);
			border: 10px solid transparent;
			border-top: 10px solid #000;
		}
		&::after {
			border-top: 10px solid #fff;
			bottom: -19px;
		}

		.leaflet-popup-content-wrapper {
			padding: 0;
			border-radius: 0;
			box-shadow: none;
			background: none;
		}
		
		.leaflet-popup-content {
			margin: 0;
		}
		
		.leaflet-popup-tip {
			display: none!important;
		}
		
		a.leaflet-popup-close-button {
			width: 56px;
			height: 56px;
			padding: 18px;
			font-size: 0;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 20 20"><path d="M11,9.61l7.9-7.9A1,1,0,0,0,17.51.29l-7.9,7.9L1.71.29A1,1,0,0,0,.29,1.71l7.9,7.9-7.9,7.9a1,1,0,1,0,1.41,1.41L9.61,11l7.9,7.9a1,1,0,0,0,1.41-1.41Z"/></svg>');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		
		&-wrp {
			padding: 20px;
		}
		
		
		&-article {
			
			h5 {
				padding-right: 30px;
			}
		}
		
		&-gallery {
			margin-top: 19px;
			
			&-item {
				
			}
			
			&-img {
				width: 100px;
				height: 64px;
				@include object-fit(cover);
			}
		}
	}
	
	&__marker {
		outline: none;
	}
	
	&__frame {
		z-index: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 440px;
		font-family: $font-main;
	}
	
	.marker-cluster {
		background-color: #000;
		border: 1px solid #E8E8E8;
		border-radius: 50%;
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		line-height: 38px;
		text-align: center;
		transition: background-color 0.15s ease-out;
		
		&:hover {
			background-color: $blue;
		}
	}
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
