.menu {
	display: none;
	background-color: #fff;
	overflow-y: auto;
	
	@media #{$breakpointHover} {
		display: none!important;
	}

	&__wrp {
		@extend %wrp;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	&__grid {
		@media #{$breakpointMobile} {
			flex-direction: column;
		}
	}
	
	&__col {
		
		&_main {
			width: calc(100% - 3.125% - 240px);
			padding: 40px;
			box-shadow: 0 8px 45px 0 rgba(0,0,0,.08);
			margin-right: 3.125%;
		}
		
		
		&_sec {
			width: 240px;
			padding: 40px 20px;
			
			& .sidebar__category-heading {
				text-transform: none;
				@extend .heading_type_h3;
			}
		}

		@media #{$breakpointMobile} {
			width: 100%;
		}
		
	}
	
	&__search {
		margin-bottom: 25px;
		
		& .search__form {
			width: 100%;
		}
	}

	&__nav {
		margin-bottom: 25px;
		
		& .nav__list {
			justify-content: flex-start;
		}
	}
	
	&__call {
		display: block;
		padding: 15px 0;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	
	&__contacts {
		
		&-phone {
			display: inline-block;
			padding: 10px 0 6px;
		}

		&-hours {
			color: $light-black;
		}

		&-mail {
			margin-top: 12px;
			color: $light-black;
			@include text-overflow();
		}
	}
	
	&__social {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
