.nav {
	&__list {
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_center;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	&__item {
		
	}
	
	&__link {
		@extend .caption;
		@extend .caption_size_m;
		display: block;
		padding: 15px 20px;
		transition: opacity 0.2s ease-out;
		
		&:hover {
			opacity: 0.7;
		}
		
		&-promo {
			color: $pink-text;
		}

		@media #{$breakpointDisplay} {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	
	&_min &__link {
		@extend .caption_size_s;
	}

	&_min &__item:last-child &__link {
		padding-right: 0;
	}
	
	&_gender &__link {
		text-transform: uppercase;
		padding: 15px 25px;
		position: relative;

		@media #{$breakpointDisplay} {
			padding-left: 12px;
			padding-right: 12px;
		}
		
		&::after {
			position: absolute;
			content: '';
			bottom: 10px;
			left: 25px;
			right: 25px;
			height: 2px;
			background-color: #000;
			transform: scale(0);
			transition: transform 0.2s ease-out;

			@media #{$breakpointDisplay} {
				left: 12px;
				right: 12px;
			}
		}
		
		&:hover {
			opacity: 1;
		}
		
		&:hover::after {
			transform: scale(1);
		}
	}

	&_gender &__link.active {
		font-weight: 600;
		
		&::after {
			transform: scale(1);
		}
	}
	
	&_gender &__item:first-child &__link {
		padding-left: 0;
		
		&::after {
			left: 0;
		}
	}
}
