.product {
	
	&__wrp {
		
	}

	&__grid {

		@media #{$breakpointMobile} {
			flex-direction: column;
		}
	}

	&__gallery {
		width: 56.25%; //720px

		@media #{$breakpointTablet} {
			width: 40%;
			margin-right: 40px;
		}

		@media #{$breakpointMobile} {
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
		
		&-grid {
			display: none;
			
			&.active {
				display: block;
			}
			
			//slider styles
			@media #{$breakpointMobile} {
				margin-left: auto;
				margin-right: auto;
				position: relative;
				overflow: hidden;
				list-style: none;
				padding: 0;
				z-index: 1;
			}
			
			
			&-wrp {

				//slider styles
				@media #{$breakpointMobile} {
					flex-wrap: nowrap;
					align-items: stretch;
					transform: translate3d(0px, 0, 0);
					position: relative;
					width: 100%;
					height: 100%;
					z-index: 1;
					transition-property: transform;
					box-sizing: content-box;
				}
			}
			
			&-progress {
				
				//slider styles
				@media #{$breakpointMobile} {
					position: absolute;
					bottom: 30px;
					right: 30px;
					z-index: 2;
					background: rgba(155,155,155,.25);
					pointer-events: none;
					touch-action: none;
					
					&.swiper-pagination-progressbar {
						left: 30px;
						top: auto;
						width: auto;
					}
				}
				
				& .swiper-pagination-progressbar-fill {
					background: #fff;
				}
			}
		}
		
		&-item {
			position: relative;
			width: calc((100% - 80px) / 2); //320px
			padding-bottom: calc(366 / 720 * 100%); //366px
			margin: 0 40px 40px 0;

			@media #{$breakpointTablet} {
				width: 100%;
				margin-right: 0;
				padding-bottom: calc(314.76 / 275.2 * 100%);
			}

			//slider styles
			@media #{$breakpointMobile} {
				flex-shrink: 0;
				width: 100%;
				height: 100%;
				position: relative;
				transition-property: transform;
				margin-bottom: 0;
				padding-bottom: 366px;
			}
		}
		
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include object-fit(cover);
		}
	}
	
	&__info {
		width: 43.75%; //560px
		padding-right: 120px;

		@media #{$breakpointDisplay} {
			padding-right: 0;
		}

		@media #{$breakpointTablet} {
			width: 60%;
		}

		@media #{$breakpointMobile} {
			width: 100%;
		}
		
		&-mark {

			&-sale,
			&-new {
				width: 60px;
				height: 26px;
				color: #fff;
				text-align: center;
				padding: 2px 0 4px;
				margin-right: 8px;
			}
			
			&-sale {
				background-color: rgba($red, 0.4);
			}
			
			&-new {
				background-color: rgba($blue, 0.4);
			}
		}
		
		&-title {
			margin-top: 9px;
			font-size: 30px;
			line-height: 38px;
			text-transform: uppercase;

			@media #{$breakpointMobile} {
				font-size: 20px;
				line-height: 24px;
			}
		}
		
		&-price {
			margin-top: 14px;
			
			&-disc {
				width: 60px;
				height: 26px;
				text-align: center;
				padding: 1px 0 5px;
				color: $red;
				border: 1px solid $red;
				margin-right: 20px;
			}
			
			&-old {
				color: $grey-text;
				text-decoration: line-through;
				margin-right: 15px;
			}
			
			&-new {
				
			}
		}
		
		&-parameter {
			margin-top: 23px;
			
			&-caption {
				
			}
			
			&-grid {
				margin-top: 16px;
			}
			
			&-item {
				position: relative;
				cursor: pointer;
				width: 74px;
				padding-bottom: 84px;
				margin-right: 8px;
				border: 1px solid transparent;
				transition: border 0.15s ease-in;

				&:hover {
					border-color: $grey;
				}
				
				&.active {
					border-color: #000;
				}
			}
			
			&-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include object-fit(cover);
			}
		}
		
		&-square {
			margin: 29px 0 30px;
			
			&-item {
				cursor: pointer;
				width: 48px;
				height: 48px;
				border: 1px solid $grey;
				text-align: center;
				margin-right: 11px;
				transition: border 0.1s ease-in;
				
				&:hover {
					border-color: $grey-text;
				}
				
				&.active {
					border-color: #000;
				}
				
				&.disabled {
					background-color: #f3f3f3;
					pointer-events: none;
					touch-action: none;
				}
			}
			
			&-caption {
				text-transform: uppercase;
				padding: 14px 0;
			}
			
			&-item.disabled &-caption {
				color: $grey;
			}
		}
		
		&-link {

			& + & {
				margin-top: 23px;
			}
			
			&-item {
				display: inline-block;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: -4px;
					left: 0;
					right: 0;
					height: 1px;
					background-color: $light-grey;
					transition: background-color 0.15s ease-in;
				}

				&:hover::after {
					background-color: $light-black;
				}

			}
		}
		
		&-buttons {
			margin-top: 34px;
			
			&-button {
				width: 100%;
				
				& + & {
					margin-left: 16px;

					@media #{$breakpointMobile} {
						margin-left: 0;
						margin-top: 16px;
					}
				}
			}
			
			&-grid {
				margin-top: 16px;

				@media #{$breakpointMobile} {
					flex-direction: column;
				}
			}
		}
		
		&-text {
			margin-top: 26px;
			line-height: 24px;
		}
	}
}
