.radio {
	position: relative;
	cursor: pointer;
	
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
	
	&__circle {
		display: block;
		width: 24px;
		height: 24px;
		border: 1px solid $light-grey;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 10px;
		transition: border 0.2s ease-in-out;
	}
	
	&__input:checked + &__circle {
		border: 9px solid $black;
	}
	
	&__text {
		display: block;
		color: $grey-text;
		transition: color 0.2s ease-in-out;
		
		&:hover {
			color: #000;
		}
	}
	
	&__input:checked ~ &__text {
		color: #000;
	}
}
