.search {
	&__form {
		width: 240px;
		position: relative;

		@media #{$breakpointDisplay} {
			width: 200px;
		}
	}
	
	&_size_l &__form {
		width: 100%;
	}
	
	&__input {
		@extend .caption;
		@extend .caption_size_s;
		border: none;
		width: 100%;
		padding: 2px 30px 6px 0;
		border-bottom: 1px solid $very-light-grey;
		transition: border-bottom-color 0.15s ease-out;
		background-color: transparent;
		
		&:focus {
			border-bottom-color: $black;
		}

		@include placeholder($grey-text);
	}

	&_size_l &__input {
		padding-top: 18px;
	}
	
	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
		
		&-img {
			
		}
	}

	&_size_l &__submit {
		top: 16px;
	}
}
