.sidebar {
	
	&__wrp {
		
	}
	
	&__category {
		
		&-block {
			
			& + & {
				margin-top: 20px;
			}
		}
		
		&-heading {
			display: block;
			@extend .heading;
			@extend .heading_type_h2;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 30px;
			
			&.active {
				@extend .heading_semibold;
			}
			
			&_sale {
				color: $pink-text;
			}
		}
		
		&-list {
			display: none;

			&.open {
				display: block;
			}
		}
		
		&-link {
			display: block;
			@extend .caption;
			@extend .caption_size_s;
			color: $grey-text;
			padding: 9px 0;

			&:first-child {
				padding-top: 0;
			}
			
			&:last-child {
				padding-bottom: 0;
			}
			
			&:hover {
				color: #000;
			}
			
			&.active {
				font-weight: 600;
				color: #000;
			}
		}
	}
	
	&__filter {
		
	}
}
