.similar {
	margin-top: 15px;

	@media #{$breakpointMobile} {
		margin-top: 40px;
	}

	&__wrp {
		
	}
	
	&__header {
		
	}
	
	&__title {
		@media #{$breakpointTablet} {
			padding-right: 44px;
		}
	}
	
	&__grid {
		position: relative;
	}
	
	&__container {
		width: calc(100% - 200px - 3.125%); //1040px
		margin-left: 0;
		margin-right: 0;
		position: relative;
		z-index: 1;

		@media #{$breakpointTablet} {
			width: 100%;
		}
	}
	
	&__list {
		
	}

	&__card {
		width: 30.76923076923077%; //320px
		margin-right: 3.846153846153846%;

		@media #{$breakpointTablet} {
			width: calc((100% - 40px) / 3);
			margin-right: 20px;
		}

		@media #{$breakpointMobile} {
			width: 100%;
			margin-right: 0;
		}
	}
	
	&__arrow {
		position: relative;
		width: calc(200px + 3.125%);
		padding-left: 3.125%;
		cursor: pointer;
		outline: none;

		@media #{$breakpointHover} {
			&:hover &-svg {
				color: $blue;
			}
		}

		@media #{$breakpointTablet} {
			position: absolute;
			top: -64px;
			right: 0;
			left: auto;
			width: 34px;
			padding-left: 0;
		}
		
		&-wrp {
			position: relative;
			padding-bottom: 366px;

			@media #{$breakpointDisplay} {
				padding-bottom: 262px;
			}

			@media #{$breakpointTablet} {
				padding-bottom: 34px;
			}
		}
		
		&-svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
