.slider {
	&__wrp {
		padding-top: 58px;
		padding-bottom: 30px;

		@media #{$breakpointTablet} {
			padding-top: 55px;
			padding-bottom: 20px;
		}

		@media #{$breakpointMobile} {
			padding-top: 40px;
		}
	}
	
	&__container {
		
	}

	&__wrapper {
		
	}
	
	&__slide {
		position: relative;
		
		&-link {
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-indent: -9999px;
			font-size: 0;
		}
		
		&-img {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			@include object-fit(cover, 50% 50%);
		}
		
		&-content {
			color: #fff;
			position: relative;
			z-index: 1;
			min-height: 420px;
			padding: 94px 200px 78px;
			text-align: center;
			background-color: rgba(#000, 0.17);

			@media #{$breakpointTablet} {
				min-height: 360px;
				padding: 74px 132px 61px;
			}

			@media #{$breakpointMobile} {
				padding: 93px 15px 60px;
			}
		}
		
		&-heading {
			
		}
		
		&-caption {
			margin-top: 13px;
		}
	}
	
	&__pagination {
		&.swiper-pagination-bullets {
			bottom: 22px;
		}
		
		&-bullet {
			background-color: rgba(#fff, 0.5);
			display: inline-block;
			width: 12px;
			height: 12px;
			cursor: pointer;
			border-radius: 50%;
			
			& + & {
				margin-left: 15px;
			}
			
			&_active {
				background-color: #fff;
			}
		}
	}
}
