.subscribe {
	
	&__wrp {
		border: 1px solid $light-grey;
		padding: 15px 12px 13px 16px;
	}
	
	&__heading {
		@extend .heading;
		@extend .heading_type_h4;
		color: $light-black;
	}
	
	&__form {
		position: relative;
		z-index: 1;
	}
	
	&__field {
		position: relative;
		padding-right: 10px;
		transition: padding .1s ease-out;
		
		&.error {
			padding-bottom: 17px;
		}
	}
	
	&__error {
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		
		@extend .caption;
		@extend .caption_size_xs;
		color: $red;
		opacity: 0;
		
		.error & {
			opacity: 1;
		}
	}
	
	&__input {
		position: relative;
		z-index: 1;
		
		@extend .caption;
		@extend .caption_size_xs;
		border: none;
		padding: 20px 35px 8px 1px;
		background-color: #fff;
		border-bottom: 1px solid $light-grey;
		transition: border-bottom-color 0.15s ease-out;
		width: 100%;

		&:focus {
			border-bottom-color: $black;
		}
		
		.error-simple &,
		.error & {
			border-bottom-color: $red;
		}

		.success & {
			opacity: 0;
		}
		
		@include placeholder($grey-text);
	}
	
	&__submit {
		position: absolute;
		z-index: 2;
		top: 8px;
		right: 0;
		padding: 12px 10px 12px 20px;
		cursor: pointer;
		transition: right 0.2s ease-in-out;

		@media #{$breakpointHover} {
			&:hover {
				right: -3px;
			}
		}
	}
	
	&__img {
		
	}

	&__result {
		@extend .caption;
		@extend .caption_size_s;
		font-weight: 600;
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 20px 1px 9px 1px;
		opacity: 0;
		visibility: hidden;
		transition: .1s ease-out;
		
		&_success {
			color: $blue;
			
			.result-success & {
				opacity: 1;
				visibility: visible;
			}
		}
		
		&_fail {
			color: $red;

			.result-fail & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	&__caption {
		@extend .caption;
		@extend .caption_size_xs;
		color: $grey-text;
		margin-top: 11px;
	}
	
	&__link {
		border-bottom: 1px dotted $grey-text;
		transition: color 0.15s ease-out;
		
		@media #{$breakpointHover} {
			&:hover {
				color: $blue;
			}
		}
	}
}
