.success {
	
	&__wrp {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	&__body {
		text-align: center;
	}
	
	&__picture {
		margin-bottom: 18px;
	}
	
	&__head {
		font-size: 100px;
		line-height: 90px;
	}
	
	&__img {
		width: 68px;
	}
	
	&__title {
		margin-bottom: 27px;
	}
	
	&__caption {
		
	}
	
	&__button {
		margin-top: 41px;
		width: 220px;
	}
}
