.table {
	
	&__header {
		color: $black;
		text-transform: uppercase;

		@media #{$breakpointMobile} {
			display: none;
		}
	}
	
	&_fav &__header {
		@media #{$breakpointTablet} {
			display: none;
		}
	}
	
	&__body {
		
		@media #{$breakpointMobile} {
			font-size: 14px;
			line-height: 20px;
		}

		@media screen and (max-width: 539px) {
			margin-left: -30px;
			margin-right: -30px;
		}
	}
	
	&_fav &__body {
		@media #{$breakpointTablet} {
			font-size: 14px;
			line-height: 20px;
		}
	}
	
	&__message {
		height: 140px;
		width: 100%;
		text-transform: uppercase;
		
		&_visible {
			display: flex;
		}
	}
	
	&__row {
		position: relative;
		
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $light-grey;
			z-index: 0;
		}

		@media #{$breakpointMobile} {
			&:first-child::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $light-grey;
				z-index: 0;
			}
		}
		
		&_heading {
			padding-bottom: 20px;
		}
		
		&_invisible {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity 0.25s ease-out,
						visibility 0.25s ease-out;
		}
	}
	
	&_fav &__row_invisible {
		transition: opacity 0.5s ease-out,
		visibility 0.5s ease-out;
		
		&::before {
			opacity: 1;
			visibility: visible;
			position: absolute;
			content: 'Товар добавлен в корзину';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	&_fav &__row {
		@media #{$breakpointTablet} {
			&:first-child::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $light-grey;
				z-index: 0;
			}
		}
	}
	
	&__data {
		margin-right: 68px;
		min-width: 52px;
		text-align: center;

		@media #{$breakpointDisplay} {
			margin-right: 40px;
		}

		@media #{$breakpointTablet} {
			margin-right: 10px;
		}

		@media #{$breakpointMobile} {
			min-width: auto;
		}


		&_product {
			width: 413px;
			text-align: left;

			@media #{$breakpointMobile} {
				width: 124px;
			}
		}
		
		&_size {
			@media #{$breakpointMobile} {
				margin-right: auto;
			}
		}
		
		&_color {
			@media #{$breakpointMobile} {
				margin-right: auto;
			}
		}
		
		&_number {
			min-width: 124px;

			@media #{$breakpointMobile} {
				min-width: 93px;
			}
		}
		
		&_price {
			min-width: 100px;
			margin-left: auto;
			margin-right: 170px;

			@media #{$breakpointTablet} {
				margin-right: 48px;
			}

			@media #{$breakpointMobile} {
				position: absolute;
				bottom: 10px;
				left: 134px;
				text-align: left;
				margin-left: 0;
			}
		}
		
		&_delete {
			margin-right: 0;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);

			@media #{$breakpointMobile} {
				top: auto;
				bottom: 0;
				transform: translate(0, 0);
			}
		}
		
		&_add {
			@media #{$breakpointMobile} {
				display: none;
			}
		}
	}
	
	&_fav &__data {
		@media #{$breakpointDisplay} {
			margin-right: 10px;
		}

		&_product {
			@media #{$breakpointTablet} {
				width: 250px;
			}

			@media #{$breakpointMobile} {
				width: 124px;
			}
		}
		
		&_size {
			@media #{$breakpointMobile} {
				margin-right: auto;
			}
		}
		
		&_color {
			@media #{$breakpointMobile} {
				margin-right: auto;
			}
		}
		
		&_number {
			@media #{$breakpointDisplay} {
				min-width: 90px;
			}
		}
		
		&_price {
			margin-right: 68px;
			margin-left: 0;

			@media #{$breakpointDisplay} {
				margin-right: 10px;
				min-width: 90px;
			}
		}
		
		&_delete {
			
		}
	}
	
	//Product
	&__product {
		
		&-link {
			
			&:hover {
				color: $blue;
			}
		}

		&-photo {
			flex-shrink: 0;
			margin-right: 27px;

			@media #{$breakpointTablet} {
				margin-right: 18px;
			}
			
			@media #{$breakpointMobile} {
				margin-right: 0;
			}
		}

		&-img {
			width: 140px;
			height: 160px;
			@include object-fit(cover);
			z-index: 1;

			@media #{$breakpointMobile} {
				width: 124px;
				height: 100%;
			}
		}

		&-name {
			@include text-overflow-line(3);
			max-height: 60px;
			word-wrap: break-word;

			@media #{$breakpointMobile} {
				position: absolute;
				top: 10px;
				left: 134px;
				right: 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: block;
			}
		}
	}
	
	&_fav &__product {
		&-img {
			@media #{$breakpointTablet} {
				width: 100px;
				height: 100%;
			}

			@media #{$breakpointMobile} {
				width: 124px;
			}
		}
	}
	
	//Size 
	&__size {

		&-square {
			margin: 0 auto;
			width: 48px;
			height: 48px;
			border: 1px solid $grey;
			text-align: center;
			transition: border 0.1s ease-in;

			@media #{$breakpointMobile} {
				width: 36px;
				height: 36px;
			}
		}

		&-caption {
			text-transform: uppercase;
			padding: 14px 0;

			@media #{$breakpointMobile} {
				padding: 8px 0;
			}
		}
	}
		
	//Color 
	&__color {

		&-circle {
			display: block;
			margin: 0 auto;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			
			&_white {
				border: 1px solid $light-grey;
			}
		}
	}
	
	//Number 
	&__number {
		
		&-wrp {
			position: relative;
			width: 124px;
			height: 48px;
			border: 1px solid $grey;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: attr(data-sum);
			}

			@media #{$breakpointMobile} {
				width: 93px;
				height: 36px;
			}
		}
		
		&-btn {
			display: block;
			cursor: pointer;
			position: relative;
			width: 50%;
			
			&:disabled {
				cursor: default;
				pointer-events: none;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #000;
				transition: background-color 0.2s ease-in;
			}

			&::before {
				width: 9px;
				height: 2px;
			}

			&:last-child::after {
				width: 2px;
				height: 9px;
			}

			&:hover::before,
			&:hover::after {
				background-color: $blue;
			}
			
			&:disabled::before,
			&:disabled::after {
				background-color: $light-grey;
			}
		}
	}
	
	&_fav &__number-wrp {
		@media #{$breakpointDisplay} {
			width: 90px;
		}
	}
	//Price 
	&__price {
		
	}
	
	//Delete {
	&__delete {
		
		&-btn {
			display: block;
			padding: 20px 0;
			width: 52px;
			cursor: pointer;
			text-align: right;
			
			@media #{$breakpointMobile} {
				padding: 10px;
			}
		}
		
		&-img {
			
		}
	}
	
	&_fav &__delete {
		@media #{$breakpointTablet} {
			min-width: 32px;
		}
		
		&-btn {
			@media #{$breakpointTablet} {
				width: 32px;
			}
		}
	}
	
	//Add 
	&__add {
		
		&-button {
			min-width: 124px;

			@media #{$breakpointTablet} {
				min-width: 90px;
				padding: 16px 8px;
			}

			@media #{$breakpointMobile} {
				height: 36px;
				padding: 0 8px;
			}
		}
	}
	
	//Footer
	&__footer {
		margin-top: 26px;

		@media #{$breakpointMobile} {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	
	//Form
	&__form {
		position: relative;
		width: 230px;

		@media #{$breakpointMobile} {
			width: 100%;
			margin-bottom: 30px;
		}
		
		&-input {
			border: none;
			background-color: transparent;
			width: 100%;
			padding: 8px 0;
			border-bottom: 1px solid $light-grey;
			transition: border-bottom-color 0.15s ease-out;
			
			&:focus {
				border-bottom-color: $black;
			}
		}
		
		&-button {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			cursor: pointer;
			padding: 8px 0 8px 20px;
			transition: right 0.2s ease-in-out;
			
			&:hover {
				right: -3px;
			}
			
			&-img {
				
			}
		}
	}
	
	//Sum
	&__sum {
		color: $grey-text;
		
		&-sale {
			margin-bottom: 6px;
			
			&-caption {
				min-width: 46px;
				text-transform: uppercase;
				padding-right: 20px;
			}
			
			&-number {
				width: 240px;
			}
		}
		
		&-total {
			
			&-caption {
				min-width: 46px;
				text-transform: uppercase;
				padding-right: 26px;
			}
			
			&-number {
				width: 240px;
				color: #000;
			}
		}
	}
}
