.tabs {
	
	&__wrp {
		
	}
	
	&__nav {
		padding-bottom: 7px;
		
		&-item {
			position: relative;
			padding-bottom: 10px;
			cursor: pointer;
			text-transform: uppercase;

			&::after {
				position: absolute;
				content: '';
				left: 0;
				bottom: 5px;
				width: 100%;
				height: 2px;
				background-color: #000;
				transform: scale(0);
				transition: transform 0.2s ease-out;
			}

			&:hover::after {
				transform: scale(1);
			}
			
			& + & {
				margin-left: 48px;
			}
			
			&.active {
				font-weight: 600;
				
				&::after {
					transform: scale(1);
				}
			}
		}
	}
	
	&__body {
		
	}
	
	&__content {
		display: none;
		
		&.active {
			display: block;
		}
	}
	
	&__text {
		padding: 20px 0;
		
		&:last-child {
			padding-bottom: 0;
		}

		@media #{$breakpointMobile} {

		}
	}
	
	&__table {
		padding: 30px 0;

		@media #{$breakpointMobile} {
			padding: 15px 0;
			overflow-x: auto;
		}
		
		&:last-child {
			padding-bottom: 0;

			@media #{$breakpointMobile} {
				padding-bottom: 15px;
			}
		}
		
		&.js-tabs-content {
			display: none;

			&.active {
				display: block;
			}
		}
		
		&_size_s {
			max-width: 620px;
			margin: 0 auto;
		}
		
		&-head {
			
			.popup & {
				
				@media #{$breakpointMobile} {
					min-width: 670px;
				}
			}
		}
		
		&-body {
			
			@media #{$breakpointMobile} {
				font-size: 14px;
				line-height: 18px;
			}
			
			.popup & {
				
				@media #{$breakpointMobile} {
					min-width: 670px;
				}
			}
		}
		
		&-row {
			@extend .grid;
			border-bottom: 1px solid $light-grey;
			padding: 16px 0;
			position: relative;
			
			&_head {
				padding: 0 0 20px;
			}
		}
		
		&-data {
			flex: 1;
			max-width: 218px;
			margin-right: 40px;
			
			&:last-child {
				margin-right: 0;
			}

			@media #{$breakpointMobile} {
				margin-right: 20px;
				min-width: 50px;
			}
			
			.popup & {
				max-width: none;
				margin-right: 15px;
				
				&:last-child {
					margin-right: 0;
				}
				
				&:first-child {
					flex-shrink: 0;
					min-width: 175px;
					max-width: 175px;
					margin-right: 40px;
				}
			}
			
			&_bold {
				font-weight: 600;
			}
			
			&_blue {
				color: $blue;
			}
			
			&-link,
			&-item {
				display: block;
				padding-top: 4px;
				font-weight: 400;
			}
			
			&-link {
				color: $blue;
			}
			
			&-item {
				color: $grey-text;
			}
		}
		
		&_size_s &-data:first-child {
			min-width: 96px;
		}
	}
		
	&__img {
		
	}
	
	&__dropdown {
		@media #{$breakpointMobile} {
			margin-bottom: 15px;
		}
	}
	
	&__images {
		margin-top: 30px;

		@media #{$breakpointMobile} {
			margin-top: 10px;
		}
		
		&-item {
			width: 88px;
			height: 31px;
			margin-right: 23px;
		}
		
		&-img {
		}
	}
}
