<div class="sidebar__wrp">
	<div class="sidebar__category">
		<div class="sidebar__category-block js-category-block">
			<a href="" class="sidebar__category-heading active js-category-heading">
				Одежда
			</a>
			
			<div class="sidebar__category-list js-category-list open">
				<a href="" class="sidebar__category-link active">
					Все
				</a>
				
				<a href="" class="sidebar__category-link">
					Трикотаж
				</a>
				
				<a href="" class="sidebar__category-link">
					Кардиганы и джемперы
				</a>
				
				<a href="" class="sidebar__category-link">
					Рубашки и блузы
				</a>
				
				<a href="" class="sidebar__category-link">
					Топы
				</a>
				
				<a href="" class="sidebar__category-link">
					Базовые модели
				</a>
			</div>
		</div>
		
		<div class="sidebar__category-block js-category-block">
			<a href="" class="sidebar__category-heading js-category-heading">
				Обувь
			</a>
			
			<div class="sidebar__category-list js-category-list">
				<a href="" class="sidebar__category-link active">
					Все
				</a>
				
				<a href="" class="sidebar__category-link">
					Туфли
				</a>
				
				<a href="" class="sidebar__category-link">
					Кроссовки
				</a>
				
				<a href="" class="sidebar__category-link">
					Сандали и босоножки
				</a>
			</div>
		</div>
		
		<div class="sidebar__category-block js-category-block">
			<a href="" class="sidebar__category-heading js-category-heading">
				Сумки
			</a>
			
			<div class="sidebar__category-list js-category-list">
				<a href="" class="sidebar__category-link active">
					Все
				</a>
				
				<a href="" class="sidebar__category-link">
					Спортивные сумки
				</a>
				
				<a href="" class="sidebar__category-link">
					Клатчи
				</a>
				
				<a href="" class="sidebar__category-link">
					Поясные сумки
				</a>
			</div>
		</div>
		
		<div class="sidebar__category-block js-category-block">
			<a href="" class="sidebar__category-heading js-category-heading">
				Аксессуары
			</a>
			
			<div class="sidebar__category-list js-category-list">
				<a href="" class="sidebar__category-link active">
					Все
				</a>
				
				<a href="" class="sidebar__category-link">
					Часы
				</a>
				
				<a href="" class="sidebar__category-link">
					Кепки
				</a>
				
				<a href="" class="sidebar__category-link">
					Перчатки
				</a>
			</div>
		</div>
	</div>
	
	<div class="sidebar__filter filter js-filter">
		<form action="" class="filter__form js-filter-form">
			<div class="filter__title">
			<span class="filter__title-heading">
				Фильтры
			</span>
				
				<button type="reset" class="filter__title-button">
					Сбросить
				</button>
			</div>
			
			<div class="filter__body">
				<div class="filter__box">
					<div class="filter__heading">
						Диапазон цены, руб.
					</div>
					
					<div class="filter__content">
						<div class="filter__content-list filter__range grid grid_h_between grid_v_center">
							<label class="filter__range-label grid grid_v_center">
								<span class="filter__range-caption caption caption_size_s">от</span>
								<input type="text" name="price-min" placeholder="900" class="filter__range-input">
							</label>
							
							<label class="filter__range-label grid grid_v_center">
								<span class="filter__range-caption caption caption_size_s">до</span>
								<input type="text" name="price-max" placeholder="9400" class="filter__range-input">
							</label>
						</div>
					</div>
				</div>
				
				<div class="filter__box">
					<div class="filter__heading">
						Размер
					</div>
					
					<div class="filter__content">
						<div class="filter__content-list filter__square grid grid_wrap">
							<label class="filter__label filter__square-label">
								<input type="checkbox" checked name="size" value="Xxs" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									Xxs
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" name="size" value="Xs" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									Xs
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" name="size" value="S" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									S
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" name="size" value="M" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									M
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" disabled name="size" value="L" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									L
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" name="size" value="Xl" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									XL
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__square-label">
								<input type="checkbox" name="size" value="Xxl" class="filter__input filter__square-input">
								<div class="filter__square-item">
								<span class="filter__square-caption caption caption_size_xs">
									XXL
								</span>
								</div>
							</label>
						</div>
					</div>
				</div>
				
				<div class="filter__box">
					<div class="filter__heading">
						Цвет
					</div>
					
					<div class="filter__content">
						<div class="filter__content-list filter__circle grid grid_wrap">
							<label class="filter__label filter__circle-label">
								<input type="checkbox" checked name="color" value="black"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-color: #000;" title="Черный">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" name="color" value="grey"
								       class="filter__input filter__circle-input ">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-color: #9b9b9b;" title="Серый">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" name="color" value="white"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color filter__circle-color_white"
								      style="background-color: #fff;" title="Белый">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" name="color" value="red"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-color: #d0021b;" title="Красный">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" name="color" value="haki"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-image: url('images/color-item.jpg');" title="Хаки">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" disabled name="color" value="yellow"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-color: #fcff54;" title="Желтый">
								</span>
								</div>
							</label>
							
							<label class="filter__label filter__circle-label">
								<input type="checkbox" name="color" value="blue"
								       class="filter__input filter__circle-input">
								<div class="filter__circle-item">
								<span class="filter__circle-color"
								      style="background-color: #5471ff;" title="Голубой">
								</span>
								</div>
							</label>
						</div>
					</div>
				</div>
				
				<div class="filter__box">
					<div class="filter__heading">
						Бренд
					</div>
					
					<div class="filter__content js-more-container">
						<div class="filter__content-list filter__checkbox js-more-list">
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" checked name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									A.P.C.
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									ATM Anthony Thomas Melillo
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									Alexander McQueen
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									Alise Rugs
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									Alo Yoga
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" disabled name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									Ann Demeulemeester
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									AquaGuard
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" disabled name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									Ann Demeulemeester
								</div>
							</label>
							
							<label class="filter__label filter__checkbox-label grid grid_v_center">
								<input type="checkbox" name="brand" value="apc"
								       class="filter__input filter__checkbox-input">
								
								<span class="filter__checkbox-item"></span>
								
								<div class="filter__checkbox-caption caption caption_size_s">
									AquaGuard
								</div>
							</label>
						</div>
						
						<button class="filter__content-button 
					caption caption_size_s js-more-button" data-alt-text="Скрыть">
							Показать больше
						</button>
					</div>
				</div>
				
				<!--			<div class="filter__box">-->
				<!--				<div class="filter__heading">-->
				<!--				-->
				<!--				</div>-->
				<!--				-->
				<!--				<div class="filter__content">-->
				<!--					<div class="filter__content-list filter__radio">-->
				<!--					-->
				<!--					</div>-->
				<!--				</div>-->
				<!--			</div>-->
			</div>
			
			<button type="submit" class="filter__submit js-filter-submit">
				Показать 168 результатов
			</button>
		</form>
		
	</div>
</div>
