<section class="section similar js-similar">
	<div class="section__wrp similar__wrp">
		<div class="section__header similar__header article">
			<h2 class="similar__title">
				@@if (context.title) {@@title}
			</h2>
		</div>
		
		<div class="similar__grid grid">
			<div class="similar__container swiper-container js-slider-similar">
				<div class="similar__list swiper-wrapper">
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-4.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-5.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-4-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-4-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-4-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
										
										<div class="card__preview-gallery">
											<a href="images/card/card-4-1.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-1.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-2.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-2.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-3.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-3.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-4.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-4.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-5.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-5.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Свитер из трикотажа
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													4 500 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-5-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-5-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-5-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
								
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Джинсы с завышенной талией
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													5 400 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-4.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-5.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-6-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-6-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-6-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
										
										<div class="card__preview-gallery">
											<a href="images/card/card-6-1.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-1.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-2.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-2.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-3.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-3.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-4.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-4.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-5.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-5.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Слитный купальник
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													6 100 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-4.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-4-5.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-4-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-4-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-4-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
										
										<div class="card__preview-gallery">
											<a href="images/card/card-4-1.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-1.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-2.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-2.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-3.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-3.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-4.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-4.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-4-5.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-4-5.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Свитер из трикотажа
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													4 500 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-5-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-5-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-5-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-5-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
								
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Джинсы с завышенной талией
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													5 400 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
					
					<div class="similar__card card js-card swiper-slide">
						<div class="card__photo">
							<div class="card__slider swiper-container js-slider-card">
								<div class="card__slider-wrapper swiper-wrapper">
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-1.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-2.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-3.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-4.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
									
									<div class="card__slide swiper-slide">
										<img src="images/card/card-6-5.jpg" alt="product-img"
										     class="card__slide-img js-fit">
									</div>
								</div>
							</div>
							
							<a href="product.html" class="card__photo-link">link</a>
							
							<div class="card__preview js-card-preview">
								<div class="card__preview-list">
									<a href="javascript:void(0);" class="card__preview-link active js-card-preview-link">
										<img src="images/card/preview/preview-card-6-1.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-6-2.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<a href="javascript:void(0);" class="card__preview-link js-card-preview-link">
										<img src="images/card/preview/preview-card-6-3.jpg" alt="preview"
										     class="card__preview-img js-fit">
									</a>
									
									<div class="card__preview-link js-card-preview-toggle">
													<span class="card__preview-text">
														Ещё
													</span>
										
										<div class="card__preview-gallery">
											<a href="images/card/card-6-1.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-1.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-2.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-2.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-3.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-3.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-4.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-4.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
											
											<a href="images/card/card-6-5.jpg" class="js-card-preview-gallery-item">
												<img src="images/card/card-6-5.jpg" alt="product-img"
												     class="card__slide-img js-fit">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card__info">
							<a href="product.html" class="card__info-caption">
								Слитный купальник
							</a>
							
							<div class="card__info-bottom">
								<div class="card__info-price">
												<span class="card__info-price-item card__info-price-item_new">
													6 100 руб.
												</span>
								</div>
								
								<div class="card__info-icons">
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_heart"><use xlink:href="#icon-heart"></use></svg>
									</button>
									
									<button class="card__info-icons-button">
										<svg class="card__info-icons-img svg svg_bag"><use xlink:href="#icon-bag"></use></svg>
									</button>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
			
			<div class="similar__arrow js-similar-arrow">
				<div class="similar__arrow-wrp">
					<svg class="similar__arrow-svg svg svg_slider"><use xlink:href="#icon-arrow-slider"></use></svg>
				</div>
			</div>
		</div>
	</div>
</section>
