//Button
.button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;

	outline: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	text-transform: uppercase;
    text-decoration: none;
    margin: 0;
	cursor: pointer;
    
    outline: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: all .25s ease-out;
	position: relative;
	
	&:disabled,
	&[disabled],
	.loading & {
		pointer-events: none;
		cursor: not-allowed;
	}
	
	&:focus,
	&:active {
		outline: none!important;
	}

	//Theme
	&_theme_black {
		background-color: $black;
		color: #fff;
		letter-spacing: 0.93px;

		@media #{$breakpointHover} {
			&:hover {
				background-color: rgba($blue, 0.8);
			}
		}
		
		&:active {
			transform: scale(0.9);
		}
	}
	
	&_theme_white {
		color: $black;
		border: solid 1px $light-grey;
		letter-spacing: 0.93px;

		@media #{$breakpointHover} {
			
			&:hover {
				border-color: $blue;
				color: $blue;
			}
		}
		
		&:active {
			transform: scale(0.9);
		}
	}
	
	//Size
    &_size_g {
	    height: 48px;
	    width: 440px;
	    padding: 16px 40px;
    }
	
	&_size_m {
		height: 38px;
		min-width: 235px;
		padding: 10px 20px;
	}
	
	&_size_s {
		height: 48px;
		min-width: 212px;
		padding: 16px;

		@media #{$breakpointDisplay} {
			min-width: auto;
		}
	}

	&_size_xs {
		height: 39px;
		min-width: 342px;
		padding: 11px 20px;

		@media #{$breakpointMobile} {
			min-width: 200px;
		}
	}
	
	&_size_xxs {
		height: 38px;
		padding: 11px 54px;
	}
}
