//Caption
.caption {
	font-weight: 400;
	
	&_size_xl {
		font-size: 27px;
		line-height: 34px;
	}

	&_size_l {
		font-size: 20px;
		line-height: 25px;
	}
	
    &_size_g {
	    font-size: 18px;
	    line-height: 25px;

	    @media #{$breakpointTablet} {
		    font-size: 16px;
		    line-height: 24px;
	    }

	    @media #{$breakpointMobile} {
		    font-size: 14px;
		    line-height: 21px;
	    }
    }
	
	&_size_m {
		font-size: 16px;
		line-height: 20px;
	}
	
	&_size_s {
		font-size: 14px;
		line-height: 18px;
	}

	&_size_xs {
		font-size: 13px;
		line-height: 17px;
	}
}
