//FOOTER LAYOUT
.footer {
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
		margin-top: 55px;
		padding-top: 48px;
		padding-bottom: 53px;
		position: relative;

		@media #{$breakpointMobile} {
			padding-top: 40px;
			padding-bottom: 40px;
			margin-top: 40px;
		}

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 80px;
			right: 80px;
			height: 1px;
			background-color: $light-grey;

			@media #{$breakpointDisplay} {
				left: 25px;
				right: 25px;
			}

			@media #{$breakpointTablet} {
				left: 20px;
				right: 20px;
			}

			@media #{$breakpointMobile} {
				left: 30px;
				right: 30px;
			}
		}
	}
	
	&__grid {
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_start;

		@media #{$breakpointMobile} {
			flex-direction: column;
		}
	}
	
	&__nav {
		width: 62.5%;
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_start;

		@media #{$breakpointDisplay} {
			width: 59.95893223819302%; //584px
		}

		@media #{$breakpointTablet} {
			width: 62.5%;
			flex-wrap: wrap;
		}

		@media #{$breakpointMobile} {
			width: 100%;
			margin-bottom: 30px;
		}
		
		&-col {
			width: 25%; //200px

			@media #{$breakpointDisplay} {
				width: 21.91780821917808%; //128px
			}

			@media #{$breakpointTablet} {
				width: 43.75%;
			}
			
			&_wide {
				width: 40%; //320px

				@media #{$breakpointDisplay} {
					width: 50%; //292px
				}

				@media #{$breakpointTablet} {
					width: 100%;
					margin-top: 35px;
				}

				@media #{$breakpointMobile} {
					margin-top: 30px;
				}
			}
		}
		
		&-heading {
			position: relative;
			display: inline-block;
			@extend .heading;
			@extend .heading_semibold;
			@extend .heading_type_h3;
			text-transform: uppercase;
			padding: 10px 0;
			margin-bottom: 16px;

			&::after {
				position: absolute;
				content: '';
				bottom: 5px;
				left: 0;
				right: 0;
				height: 2px;
				background-color: #000;
				transform: scaleX(0);
				transition: transform 0.2s ease-out;
			}
			
			@media #{$breakpointHover} {
				&:hover::after {
					transform: scaleX(1);
				}
			}
		}
		
		&-grid {
			@extend .grid;
			@extend .grid_h_between;
			@extend .grid_v_start;
		}
		
		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		&-grid &-list {
			width: 43.75%; //140
		}
		
		&-item {
			
		}
		
		&-link {
			@extend .caption;
			@extend .caption_size_s;
			display: block;
			padding: 9px 0;
			@include text-overflow();
			
			@media #{$breakpointHover} {
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
	
	&__contacts {
		width: 34.375%; //440px
		flex-shrink: 0;
		@extend .grid;
		@extend .grid_h_between;
		@extend .grid_v_start;

		@media #{$breakpointDisplay} {
			width: 36.34496919917864%; //354px
		}

		@media #{$breakpointTablet} {
			width: 30.21978021978022%; //220px
			flex-direction: column-reverse;
			align-items: center;
		}

		@media #{$breakpointMobile} {
			width: 100%;
		}
		
		&-info {
			min-width: 10px;

			@media #{$breakpointTablet} {
				margin-top: 45px;
			}

			@media #{$breakpointMobile} {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 100%;
				margin-top: 30px;
			}
		}
		
		&-box {
			@media #{$breakpointMobile} {
				width: 43.75%;
			}
		}
		
		
		&-phone {
			display: inline-block;
			padding: 10px 0 6px;
		}
		
		&-hours {
			color: $light-black;
		}
		
		&-mail {
			margin-top: 12px;
			color: $light-black;
			@include text-overflow();
		}
		
		&-social {
			margin-top: 25px;
			
			@media #{$breakpointMobile} {
				margin-top: 0;
			}
		}
		
		&-copyright {
			margin-top: 25px;
			color: $light-black;

			@media #{$breakpointMobile} {
				margin-top: 22px;
			}
		}
		
		&-subscribe {
			margin-left: 40px;
			padding-top: 10px;
			width: 200px;
			flex-shrink: 0;

			@media #{$breakpointTablet} {
				margin-left: 0;
			}

			@media #{$breakpointMobile} {
				width: 100%;
				padding-top: 0;
			}
		}
	}
}


