//HEADER LAYOUT
.header {
	width: 100%;
	
	&__wrp {
		@extend %wrp;
		@extend %padding_g;
	}
	
	&__top {

		@media #{$breakpointTablet} {
			display: none;
		}
		
		&-call {
			padding: 15px 0;

			&:hover {
				color: $blue;
			}
		}
		
		&-nav {
			
		}
	}
	
	&__shadow {
		box-shadow: 0 8px 45px 0 rgba(0, 0, 0, 0.08);
	}
	
	&__middle {
		padding-top: 10px;

		@media #{$breakpointTablet} {
			height: 64px;
			padding-top: 0;
			display: flex;
			vertical-align: middle;
		}
	}
	
	&__burger {
		display: none;
		
		
		@media #{$breakpointTablet} {
			display: block;
			width: calc((100% - 120px) / 2);
		}
		
		&-button {
			position: relative;
			cursor: pointer;
		}
		
		&-icon {
			transition: all 0.2s ease-out;
			
			&_close {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transform: rotate(360deg) scale(0);
			}
		}

		&-button.open &-icon_close {
			opacity: 1;
			transform: rotate(0) scale(1);
		}

		&-button.open &-icon_burger {
			opacity: 0;
		}
	}
	
	&__contacts {
		min-width: 33%;

		@media #{$breakpointTablet} {
			display: none;
		}
		
		&-phone {
			padding-right: 15px;

			&:hover {
				color: $blue;
			}
		}

		&-hours {
			color: $grey-text;
		}
	}
	
	&__logo {
		
		@media #{$breakpointTablet} {
			width: 120px;
		}
	}
	
	&__icons {
		min-width: 33%;

		@media #{$breakpointTablet} {
			width: calc((100% - 120px) / 2);
			min-width: auto;
		}
		
		&-item {
			@extend .grid;
			@extend .grid_h_between;
			@extend .grid_v_center;
			
			& + & {
				margin-left: 35px;

				@media #{$breakpointTablet} {
					margin-left: 15px;
				}
			}
		}
		
		&-img {
			display: block;
			margin-right: 8px;

			@media #{$breakpointMobile} {
				margin-right: 0;
			}
		}
		
		&-text {
			@media #{$breakpointMobile} {
				display: none;
			}
		}
	}
	
	&__bottom {
		
		@media #{$breakpointTablet} {
			display: none;
		}
		&-nav {
			
		}
		
		&-search {
			
		}
	}
}












