//Heading
.heading {
	font-weight: 700;
	
	&_upper {
		text-transform: uppercase;
	}
	
	&_semibold {
		font-weight: 600;
	}
	
	&_normal {
		font-weight: 400;
	}
	
	&_type_h0 {
		font-size: 64px;
		line-height: 80px;

		@media #{$breakpointTablet} {
			font-size: 48px;
			line-height: 60px;
		}

		@media #{$breakpointMobile} {
			font-size: 32px;
			line-height: 38px;
		}
	}
	
	&_type_h1 {
		font-size: 32px;
		line-height: 38px;
	}
	
	&_type_h2 {
		font-size: 18px;
		line-height: 23px;
	}
	
	&_type_h3 {
		font-size: 16px;
		line-height: 20px;
	}

	&_type_h4 {
		font-size: 14px;
		line-height: 17px;
	}
	
	&_type_h5 {
		font-size: 13px;
		line-height: 17px;
	}
}
