//Page
.page {
	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
		margin: 0 auto;
		position: relative;

		&_no-border .footer__wrp::before {
			display: none;
		}

		&_no-border .footer__wrp {
			margin-top: 0;
		}
	}
	
	&__header {
		flex: 0 0 auto;
		z-index: 4;
		position: relative;
	}

	&__content {
		flex: 1 0 auto;
		position: relative;
		z-index: 2;
	}

	&__footer {
		flex: 0 0 auto;
	}
	
	&__svg {
		display: none!important;
	}
	
	&__menu {
		z-index: 3;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 64px);
	}
}

