//POPUP
.fancybox-container {
	font-family: 'Source Sans Pro',sans-serif!important;
}

.fancybox-bg {
	background: #000!important;
	display: block;
}

.fancybox-is-open .fancybox-bg {
	opacity: 0.48!important;
}

.fancybox-slide--html {
	@media #{$breakpointMobile} {
		padding: 0;
	}
}

.fancybox-slide--html .fancybox-content.popup {
	margin: 40px auto;

	@media #{$breakpointMobile} {
		margin: 0;
	}
}

.fancybox-thumbs {
	top: auto;
	left: 0;
	width: 100%;
}

.fancybox-show-thumbs .fancybox-inner {
	right: 0;
	bottom: 85px;
}

.popup {
	overflow: visible!important;
	display: none;
	padding: 0!important;
	cursor: default!important;

	width: calc(100% - 30px);
	max-width: 520px;

	position: relative;
	background-color: #fff;
	
	&_size_l {
		max-width: 920px;
	}

	@media #{$breakpointMobile} {
		width: 100%;
	}
	
	&__wrp {
		padding: 50px 50px 45px;
		position: relative;

		@media #{$breakpointMobile} {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	
	&__header {
		margin-bottom: 4px;
	}
	
	&__heading {
		text-transform: uppercase;
	}
	
	&_size_l {
		
	}
	
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		padding: 18px;
		
		&-icon {
			display: block;
			transition: transform 0.15s ease-out;
		}
		
		&:hover &-icon {
			transform: scale(1.1);
		}
	}
	
	&__body {
		
	}
	
	&__form {
		
	}
}
