//section
.section {
	
    &__wrp {
        @extend %wrp;
        @extend %padding_g;
    }
    
    &__header {
        margin-bottom: 30px;

        h1 {
            font-size: 27px;
            line-height: 34px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
        }
    }
    
    &__article {
        max-width: 1150px;
    }
}
