//SVG
.svg {
	display: inline-block;
	
	&_heart {
		width: 20px;
		height: 19px;
		color: #000;
		fill: transparent;
		transition: color 0.15s ease-out, fill 0.15s ease-out;
		
		&:hover {
			color: $pink-text;
		}
		
		.saved & {
			color: $pink-text;
			fill: $pink-text;
		}
	}
	
	&_bag {
		width: 16px;
		height: 20px;
		color: #000;
		fill: transparent;
		transition: color 0.15s ease-out, fill 0.15s ease-out;

		&:hover {
			color: $blue;
		}

		.saved & {
			color: $blue;
			fill: $blue;
		}
	}
	
	&_social {
		color: rgba(#212121, 0.8);
		transition: color 0.15s ease-out;
		
		&-fb {
			width: 9px;
			height: 18px;
			
			&:hover {
				color: #3b5998;
			}			
		}

		&-vk {
			width: 18px;
			height: 11px;
		
			&:hover {
				color: #4a76a8;
			}
		}

		&-tw {
			width: 18px;
			height: 15px;
		
		&:hover {
			color: rgb(29, 161, 242);
			}
		}
	}
	
	&_arrow {
		width: 15px;
		height: 8px;
		color: $grey-text;
	}
	
	&_delete {
		width: 20px;
		height: 25px;
		color: #000;
		transition: color 0.15s ease-out;
		
		&:hover {
			color: $blue;
		}
	}
	
	&_search {
		width: 20px;
		height: 20px;
		color: #000;
		transition: color 0.15s ease-out;

		&:hover {
			color: $blue;
		}
	}
	
	&_close {
		width: 20px;
		height: 20px;
		color: #000;
	}
	
	&_map {
		width: 20px;
		height: 17px;
		color: #000;
		transition: color 0.15s ease-out;
	}
	
	&_burger {
		width: 20px;
		height: 17px;
		color: #000;
		transition: color 0.15s ease-out;
	}
	
	&_close {
		width: 18px;
		height: 18px;
		color: #000;
		transition: color 0.15s ease-out;
	}
	
	&_slider {
		width: 64px;
		height: 64px;
		color: #000;
		transition: color 0.15s ease-out;

		@media #{$breakpointTablet} {
			width: 34px;
			height: 34px;
		}
	}

	&_marker {
		width: 30px;
		height: 30px;
		color: #000;
		transition: color 0.15s ease-out;

		&:hover {
			color: $blue;
		}
	}
}
